<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.mapper1.AgencyMapper">

    <!--修改扣费量-->
    <update id="updateRebateBillAmount" parameterType="int">
        UPDATE qyfinance.RebateCustomerBill
        SET costCount = #{param2}
        WHERE id = #{param1}
    </update>

    <!--修改单价-->
    <update id="updateRebateBillCost" parameterType="int">
        UPDATE qyfinance.RebateCustomerBill
        SET cost = #{param2}
        WHERE id = #{param1}
    </update>

    <!--修改售价-->
    <update id="updateRebateBillPrice" parameterType="int">
        UPDATE qyfinance.RebateCustomerBill
        SET price = #{param2}
        WHERE id = #{param1}
    </update>

    <!--修改返佣起始价-->
    <update id="updateRebateBillBeginPrice" parameterType="int">
        UPDATE qyfinance.RebateCustomerBill
        SET rebateBegPrice = #{param2}
        WHERE id = #{param1}
    </update>

    <!--修改返佣结算价-->
    <update id="updateRebateBillEndPrice" parameterType="int">
        UPDATE qyfinance.RebateCustomerBill
        SET rebateEndPrice = #{param2}
        WHERE id = #{param1}
    </update>

    <!--删除历史记录-->
    <delete id="deleteRebateDetail" parameterType="list">
        DELETE FROM qyfinance.RebateCustomerBill
        WHERE id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--修改缓存售价-->
    <update id="updateCachePrice" parameterType="int">
        UPDATE qyfinance.CustomerCacheMonthUser
        SET price = #{param2}
        WHERE id = #{param1}
    </update>

    <!--修改缓存扣费量-->
    <update id="updateCacheCount" parameterType="int">
        UPDATE qyfinance.CustomerCacheMonthUser
        SET count = #{param2}
        WHERE id = #{param1}
    </update>

    <!--删除历史记录-->
    <delete id="deleteCacheDetail" parameterType="list">
        DELETE FROM qyfinance.CustomerCacheMonthUser
        WHERE id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>


</mapper>

