<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.mapper2.ApiFinanceSelectMapper">

    <resultMap id="ApiFinance_Map" type="org.qydata.dst.ApiFinance" >
        <result column="apiId" property="apiId"/>
        <result column="apiTypeId" property="apiTypeId"/>
        <result column="apiTypeName" property="apiTypeName"/>
        <result column="vendorId" property="vendorId"/>
        <result column="vendorName" property="vendorName"/>
        <result column="apiName" property="apiName"/>
        <result column="status" property="status"/>
        <collection property="mobileList" ofType="org.qydata.entity.MobileOperator">
            <result column="mobileOperatorId" property="id"/>
            <result column="mobileOperatorName" property="name"/>
        </collection>
    </resultMap>

    <!--产品消费账单开始-->
    <!--Api财务总览-->
    <select id="queryApiFinance" parameterType="map" resultMap="ApiFinance_Map">
        SELECT a.apiId,a.apiTypeId,a.apiTypeName,a.vendorId,a.vendorName,a.apiName,a.status,
        a.mobileOperatorId,a.mobileOperatorName
        FROM qyfinance.bkvw_api_ApiTypeVendorPartner a
        <where>
            <if test="statusList!=null and statusList.size()!=0">
                a.status in
                <foreach collection="statusList" item="status" index="index" open="(" close=")" separator=",">
                    #{status}
                </foreach>
            </if>
            <if test="vendorId != null and vendorId != ''">
                AND a.vendorId=#{vendorId}
            </if>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND a.apiTypeId=#{apiTypeId}
            </if>
        </where>
    </select>

    <!--查询当月消费（至昨天）-->
    <select id="queryApiCurrMonthConsume" parameterType="map" resultType="org.qydata.dst.ApiFinance">
        SELECT apiId,sum(totleCost) currMonthConsume
        FROM qyfinance.ApiCostDayCount
        WHERE consuTime >= #{currMonthTime}
        GROUP BY apiId
    </select>

    <!--查询当天使用量-->
    <select id="queryApiCurrDayUsage" parameterType="map" resultType="org.qydata.dst.ApiFinance">
        SELECT apiId,count(b.id) currDayUserCount
        FROM qydata.ApiRequestLog a
        LEFT JOIN qydata.ApiResponseLog b ON a.id = b.requestLogId
        WHERE b.ok=1
        AND b.isMock=0
        AND b.createTime >= #{currDayTime}
        GROUP BY a.apiId
    </select>

    <!--查询当天扣费量-->
    <select id="queryApiCurrDayFee" parameterType="map" resultType="org.qydata.dst.ApiFinance">
        SELECT apiId,count(b.id) currDayFeeCount,sum(b.cost) currDayConsume
        FROM qydata.ApiRequestLog a
        LEFT JOIN qydata.ApiResponseLog b ON a.id = b.requestLogId
        WHERE b.ok = 1
        AND b.isMock = 0
        AND b.cost > 0
        AND b.createTime >= #{currDayTime}
        GROUP BY a.apiId
    </select>

    <!--查询消费总额（至昨天）-->
    <select id="queryApiConsumeTotle" parameterType="map" resultType="org.qydata.dst.ApiFinance">
        SELECT apiId,sum(totleCost) consume,sum(usageAmount) userCount,sum(feeAmount) feeCount
        FROM qyfinance.ApiCostDayCount
        <where>
            <if test="beginDate != null and beginDate != ''">
                <![CDATA[
                    AND consuTime >= #{beginDate}
                ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                <![CDATA[
                    AND consuTime < #{endDate}
                ]]>
            </if>
        </where>
        GROUP BY apiId
    </select>

    <!--查询上周消费总额-->
    <select id="queryApiLastWeekConsume" parameterType="map" resultType="org.qydata.dst.ApiFinance">
        SELECT a.apiId,sum(a.totleCost) lastWeekConsume
        FROM qyfinance.ApiCostDayCount a
        WHERE DATE_FORMAT(a.consuTime,'%x-%v')=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x-%v')
        GROUP BY a.apiId
    </select>

    <!--查询上月消费总额-->
    <select id="queryApiLastMonthConsume" parameterType="map" resultType="org.qydata.dst.ApiFinance">
        SELECT a.apiId,sum(a.totleCost) lastMonthConsume
        FROM qyfinance.ApiCostDayCount a
        WHERE DATE_FORMAT(a.consuTime,'%Y-%m')=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%Y-%m')
        GROUP BY a.apiId
    </select>
    <!--产品消费账单结束-->

    <!--查询Api类型-->
    <select id="queryApiType" parameterType="map" resultType="org.qydata.entity.ApiType">
        SELECT distinct(a.apiTypeId) id,b.name
        FROM qyfinance.bkvwApi a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId=b.id
    </select>

    <!--查询供应商-->
    <select id="queryApiVendorName" parameterType="map" resultType="org.qydata.entity.ApiVendor">
        SELECT distinct(vendorId) id,vendorName name
        FROM qyfinance.bkvwApi
        <where>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND apiTypeId=#{apiTypeId}
            </if>
        </where>
    </select>


</mapper>

