<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.mapper2.ApiResponseConditionMapper">

    <resultMap id="ApiResponseCondition_Map" type="org.qydata.dst.ApiResponseCondition">
        <result column="apiId" property="apiId"/>
        <result column="apiTypeId" property="apiTypeId"/>
        <result column="subTypeId" property="subTypeId"/>
        <result column="apiTypeName" property="apiTypeName"/>
        <result column="subTypeName" property="subTypeName"/>
        <result column="vendorName" property="vendorName"/>
        <result column="totalCount" property="totalCount"/>
        <result column="successCount" property="successCount"/>
        <result column="failCount" property="failCount"/>
        <result column="count1" property="count1"/>
        <result column="count2" property="count2"/>
        <result column="count3" property="count3"/>
        <result column="count4" property="count4"/>
        <result column="count5" property="count5"/>
        <result column="count6" property="count6"/>
        <result column="count7" property="count7"/>
        <result column="dateTime" property="dateTime"/>
        <collection property="mobileList" ofType="org.qydata.entity.MobileOperator">
            <result column="mobileOperatorId" property="id"/>
            <result column="mobileOperatorName" property="name"/>
        </collection>
    </resultMap>


    <select id="queryApiResponseCondition" parameterType="String" resultMap="ApiResponseCondition_Map">

        SELECT
            a.apiId,
            a.apiTypeId,
            a.subTypeId mobileOperatorId,
            b.apiTypeName,
            b.mobileOperatorName,
            sum(successCount) successCount,
            sum(count1) count1,
            sum(count2) count2,
            sum(count3) count3,
            sum(count4) count4,
            sum(count5) count5,
            sum(count6) count6,
            sum(count7) count7,
            DATE_FORMAT(a.cycle,'%Y-%m-%d') dateTime
        FROM
            qyfinance.apiResponseConditionCountByHour a
        LEFT JOIN
            qyfinance.bkvw_api_ApiTypeVendorPartner b
        ON
            a.apiId = b.apiId
        LEFT JOIN
            qyfinance.bkvwMobileOperator c
        ON
            b.mobileOperatorId = c.id
        WHERE
            a.apiId = #{apiId}
        GROUP BY
            DATE_FORMAT(a.cycle,'%Y-%m-%d'),a.apiTypeId,a.subTypeId
        ORDER BY
			DATE_FORMAT(a.cycle,'%Y-%m-%d')DESC
		LIMIT 16

    </select>


    <select id="queryAllApiResponse" parameterType="map" resultMap="ApiResponseCondition_Map">

        SELECT
        a.id apiId,
        a.apiTypeId ,
        IFNULL(c.mobileOperatorId,0) mobileOperatorId,
        c.apiTypeName,
        c.mobileOperatorName,
        c.vendorName,
        IFNULL(b.totalCount,0) totalCount,
        IFNULL(b.successCount,0) successCount,
        IFNULL(b.failCount,0) failCount,
        IFNULL(b.count1,0) count1,
        IFNULL(b.count2,0) count2,
        IFNULL(b.count3,0) count3,
        IFNULL(b.count4,0) count4,
        IFNULL(b.count5,0) count5,
        IFNULL(b.count6,0) count6,
        IFNULL(b.count7,0) count7
        FROM
        qydata.Api a
        LEFT JOIN
        (SELECT
        apiId,
        totalCount,
        successCount,
        failCount,
        count1,
        count2,
        count3,
        count4,
        count5,
        count6,
        count7
        FROM
        qyfinance.apiResponseConditionCountByHour
        WHERE
        <if test="currDawn != null and currDawn != ''" >
            cycle >= #{currDawn}
        </if>
        <if test="currTime != null and currTime != ''" >
            <![CDATA[
                AND  cycle < #{currTime}
            ]]>
        </if>
        )b
        ON
        a.id = b.apiId
        LEFT JOIN qyfinance.bkvw_api_ApiTypeVendorPartner c ON a.id = c.apiId
        LEFT JOIN qyfinance.bkvwMobileOperator d ON c.mobileOperatorId = d.id

        GROUP BY
        a.id,
        a.apiTypeId,
        c.mobileOperatorId
        ORDER BY
        sum(b.totalCount) DESC

    </select>

    <resultMap id="apiTagsMap" type="org.qydata.dst.ApiTags">
        <result column="apiId" property="apiId"/>
        <result column="id" property="id"/>
        <result column="apiTag" property="apiTag"/>
    </resultMap>

    <select id="queryApiTags" parameterType="String" resultMap="apiTagsMap">
        SELECT
        id,
        apiTag
        FROM
        qyfinance.ApiTags
        WHERE
        apiId = #{apiId}

    </select>

</mapper>

