<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.mapper2.ApiTurnoverBillSelectMapper">


    <resultMap id="apiTurnoverBillMap" type="org.qydata.dst.ApiTurnoverBill">
        <result column="apiTypeId" property="apiTypeId"/>
        <result column="stid" property="stid"/>
        <result column="typeId_stid" property="typeId_stid"/>
        <result column="type_stid_name" property="type_stid_name"/>
        <result column="vendorAmount" property="vendorAmount"/>
        <result column="vendorConsume" property="vendorConsume"/>
        <result column="customerAmount" property="customerAmount"/>
        <result column="customerConsume" property="customerConsume"/>
    </resultMap>

    <resultMap id="apiTurnoverBillTypeMap" type="org.qydata.dst.ApiTurnoverBill">
        <result column="typeId_stid" property="typeId_stid"/>
        <result column="type_stid_name" property="type_stid_name"/>
    </resultMap>



    <!--统计各产品消费上游情况（不包含当月）-->
    <select id="queryApiConsumeVendor" parameterType="map" resultMap="apiTurnoverBillMap">
        SELECT a.apiTypeId,a.stid,CONCAT_WS('-',a.apiTypeId,a.stid) typeId_stid,a.amount vendorAmount,a.consume vendorConsume,CONCAT_WS('-',b.name,c.name) type_stid_name
        FROM
        (
            SELECT a.apiTypeId,a.stid,sum(a.amount) amount,sum(a.consume) consume
            FROM
            (
                SELECT b.apiTypeId,ifnull(c.mobileOperatorId,0) stid,a.cost,sum(a.amount) amount,a.cost*sum(a.amount) consume
                FROM qyfinance.VendorHistoryBill a
                LEFT JOIN qyfinance.finance_Api b ON a.apiId = b.id
                LEFT JOIN qyfinance.bkvwApiMobileOperator c ON a.apiId = c.apiId
                <where>
                    <if test="cyc != null and cyc != ''">
                       a.yearMonth = #{cyc}
                    </if>
                </where>
                GROUP BY b.apiTypeId,c.mobileOperatorId,a.cost
            ) a
            GROUP BY a.apiTypeId,a.stid
        ) a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.bkvwMobileOperator c ON a.stid = c.id
        WHERE a.apiTypeId NOT IN(32,33,34)
        <if test="typeIdList != null and typeIdList.size() > 0">
            AND a.apiTypeId IN
            <foreach collection="typeIdList" item="typeId" index="index" open="(" close=")" separator=",">
                #{typeId}
            </foreach>
        </if>
        <if test="stidList != null and stidList.size() > 0">
            AND a.stid IN
            <foreach collection="stidList" item="stid" index="index" open="(" close=")" separator=",">
                #{stid}
            </foreach>
        </if>
    </select>

    <!--统计各产品客户消费情况（不包含当月）-->
    <select id="queryApiCustomerConsume" parameterType="map" resultMap="apiTurnoverBillMap">
        SELECT a.apiTypeId,a.stid,CONCAT_WS('-',a.apiTypeId,a.stid) typeId_stid,a.amount customerAmount,a.consume customerConsume,CONCAT_WS('-',b.name,c.name) type_stid_name
        FROM
        (
            SELECT a.apiTypeId,a.stid,sum(a.amount) amount,sum(a.consume) consume
            FROM
            (
                SELECT a.apiTypeId,a.stid,a.cost,sum(a.amount) amount,a.cost*sum(a.amount) consume
                FROM qyfinance.CustomerHistoryBill a
                LEFT JOIN qyfinance.finance_Customer b ON a.customerId = b.id
                WHERE b.typeId = 1
                <if test="cyc != null and cyc != ''">
                   AND a.yearMonth = #{cyc}
                </if>
                GROUP BY a.apiTypeId,a.stid,a.cost
            ) a
            GROUP BY a.apiTypeId,a.stid
        ) a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.bkvwMobileOperator c ON a.stid = c.id
        WHERE a.apiTypeId NOT IN(32,33,34)
        <if test="typeIdList != null and typeIdList.size() > 0">
            AND a.apiTypeId IN
            <foreach collection="typeIdList" item="typeId" index="index" open="(" close=")" separator=",">
                #{typeId}
            </foreach>
        </if>
        <if test="stidList != null and stidList.size() > 0">
            AND a.stid IN
            <foreach collection="stidList" item="stid" index="index" open="(" close=")" separator=",">
                #{stid}
            </foreach>
        </if>
    </select>

    <!--查询消费的月份-->
    <select id="queryAllConsumeTime" resultType="String">
        SELECT DISTINCT a.yearMonth
        FROM qyfinance.CustomerHistoryBill a
        ORDER BY year DESC,month DESC
    </select>

    <!--查询供应商消费类型-->
    <select id="queryVendorConsumeType" resultMap="apiTurnoverBillTypeMap">
        SELECT CONCAT_WS('-',a.apiTypeId,a.stid) typeId_stid,CONCAT_WS('-',b.name,c.name) type_stid_name
        FROM
        (
            SELECT b.apiTypeId,ifnull(c.mobileOperatorId,0) stid
            FROM qyfinance.VendorHistoryBill a
            LEFT JOIN qyfinance.finance_Api b ON a.apiId = b.id
            LEFT JOIN qyfinance.bkvwApiMobileOperator c ON a.apiId = c.apiId
            GROUP BY b.apiTypeId,c.mobileOperatorId
        ) a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.bkvwMobileOperator c ON a.stid = c.id
    </select>

    <!--查询客户消费类型-->
    <select id="queryCustomerConsumeType" resultMap="apiTurnoverBillTypeMap">
        SELECT CONCAT_WS('-',a.apiTypeId,a.stid) typeId_stid,CONCAT_WS('-',b.name,c.name) type_stid_name
        FROM
        (
            SELECT a.apiTypeId,a.stid
            FROM qyfinance.CustomerHistoryBill a
            GROUP BY a.apiTypeId,a.stid
        ) a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.bkvwMobileOperator c ON a.stid = c.id
    </select>

    <resultMap id="apiTurnoverBillTrendMap" type="org.qydata.dst.ApiTurnoverBillTrend">
        <result column="apiId" property="apiId"/>
        <result column="vendorId" property="vendorId"/>
        <result column="cost" property="cost"/>
        <result column="amount" property="amount"/>
        <result column="apiTypeId" property="apiTypeId"/>
        <result column="stid" property="stid"/>
        <result column="vendorPartnerName" property="vendorPartnerName"/>
        <result column="companyId" property="companyId"/>
        <result column="companyPartnerName" property="companyPartnerName"/>
        <result column="customerId" property="customerId"/>
    </resultMap>

    <!--根据类型查询供应商消费-->
    <select id="queryVendorConsumeByTypeId" parameterType="map" resultMap="apiTurnoverBillTrendMap">
        SELECT a.vendorId,a.cost,a.amount,a.consume,a.apiTypeId,a.stid,CONCAT_WS('-',b.name,c.name) vendorPartnerName
        FROM
        (
            SELECT a.vendorId,a.cost,sum(a.amount) amount,a.cost*sum(a.amount) consume,b.apiTypeId,ifnull(c.mobileOperatorId,0) stid
            FROM qyfinance.VendorHistoryBill a
            LEFT JOIN qyfinance.finance_Api b ON a.apiId = b.id
            LEFT JOIN qyfinance.bkvwApiMobileOperator c ON a.apiId = c.apiId
            <where>
                <if test="cyc != null and cyc != ''">
                    a.yearMonth = #{cyc}
                </if>
            </where>
            GROUP BY a.vendorId,b.apiTypeId,c.mobileOperatorId,a.cost
        ) a
        LEFT JOIN qyfinance.finance_ApiVendor b ON a.vendorId = b.id
        LEFT JOIN qyfinance.bkvwPartner c ON b.partnerId = c.id
        <where>
            <if test="apiTypeId != null and apiTypeId != ''">
                a.apiTypeId = #{apiTypeId}
            </if>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND a.stid = #{stid}
            </if>
        </where>
    </select>

    <!--根据类型查询客户消费-->
    <select id="queryCustomerConsumeByTypeId" parameterType="map" resultMap="apiTurnoverBillTrendMap">
        SELECT c.id companyId,CONCAT_WS('-',c.name,d.name) companyPartnerName,a.customerId,a.apiTypeId,a.stid,a.cost,a.amount,a.consume
        FROM
        (
            SELECT a.customerId,a.apiTypeId,a.stid,a.cost,sum(a.amount) amount,a.cost*sum(a.amount) consume
            FROM qyfinance.CustomerHistoryBill a
            LEFT JOIN qyfinance.finance_Customer b ON a.customerId = b.id
            WHERE b.typeId = 1
            <if test="cyc != null and cyc != ''">
                AND a.yearMonth = #{cyc}
            </if>
            GROUP BY a.customerId,a.apiTypeId,a.stid,a.cost
        ) a
        LEFT JOIN qyfinance.finance_Customer b ON a.customerId = b.id
        LEFT JOIN qyfinance.bkvwCustomerCompany c ON b.companyId = c.id
        LEFT JOIN qyfinance.bkvwPartner d ON c.partnerId = d.id
        <where>
            <if test="apiTypeId != null and apiTypeId != ''">
                a.apiTypeId = #{apiTypeId}
            </if>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND a.stid = #{stid}
            </if>
        </where>
    </select>

    <!--根据类型查询供应商消费 数据-->
    <select id="queryVendorConsumeByTypeIdData" parameterType="map" resultMap="apiTurnoverBillTrendMap">
        SELECT a.vendorId,a.amount,CONCAT_WS('-',b.name,c.name) vendorPartnerName
        FROM
        (
            SELECT a.vendorId,sum(a.amount) amount
            FROM
            (
                SELECT a.vendorId,sum(a.amount) amount,b.apiTypeId,ifnull(c.mobileOperatorId,0) stid
                FROM qyfinance.VendorHistoryBill a
                LEFT JOIN qyfinance.finance_Api b ON a.apiId = b.id
                LEFT JOIN qyfinance.bkvwApiMobileOperator c ON a.apiId = c.apiId
                <where>
                    <if test="cyc != null and cyc != ''">
                        a.yearMonth = #{cyc}
                    </if>
                </where>
                GROUP BY a.vendorId,b.apiTypeId,c.mobileOperatorId
            ) a
            <where>
                <if test="apiTypeId != null and apiTypeId != ''">
                    a.apiTypeId = #{apiTypeId}
                </if>
                <if test="apiTypeId != null and apiTypeId != ''">
                    AND a.stid = #{stid}
                </if>
            </where>
            GROUP BY a.vendorId
        ) a

        LEFT JOIN qyfinance.finance_ApiVendor b ON a.vendorId = b.id
        LEFT JOIN qyfinance.bkvwPartner c ON b.partnerId = c.id
    </select>

    <!--根据类型查询客户消费 数据-->
    <select id="queryCustomerConsumeByTypeIdData" parameterType="map" resultMap="apiTurnoverBillTrendMap">
        SELECT c.id companyId,CONCAT_WS('-',c.name,d.name) companyPartnerName,a.customerId,a.amount
        FROM
        (
            SELECT a.customerId,sum(a.amount) amount
            FROM qyfinance.CustomerHistoryBill a
            LEFT JOIN qyfinance.finance_Customer b ON a.customerId = b.id
            WHERE b.typeId = 1
            <if test="cyc != null and cyc != ''">
                AND a.yearMonth = #{cyc}
            </if>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND a.apiTypeId = #{apiTypeId}
            </if>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND a.stid = #{stid}
            </if>
            GROUP BY a.customerId
        ) a
        LEFT JOIN qyfinance.finance_Customer b ON a.customerId = b.id
        LEFT JOIN qyfinance.bkvwCustomerCompany c ON b.companyId = c.id
        LEFT JOIN qyfinance.bkvwPartner d ON c.partnerId = d.id
    </select>


</mapper>

