<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.mapper2.ExcelSelectMapper">


    <resultMap id="ExportExcel_Map" type="org.qydata.entity.excel.ExportExcel">
        <result column="apiTypeName_stidName" property="apiTypeName_stidName"/>
        <result column="vendorName" property="vendorName"/>
        <result column="sumCount" property="sumCount"/>
        <result column="cost" property="cost"/>
    </resultMap>

    <resultMap id="ExportExcel_Month_Map" type="org.qydata.entity.excel.ExportExcel">
        <result column="apiTypeName_stidName" property="apiTypeName_stidName"/>
        <result column="vendorName" property="vendorName"/>
        <result column="sumCount" property="sumCount"/>
        <result column="yearMonth" property="consuTime"/>
        <result column="years" property="years"/>
        <result column="months" property="months"/>
        <result column="cost" property="cost"/>
    </resultMap>

    <resultMap id="ExportExcel_Day_Map" type="org.qydata.entity.excel.ExportExcel">
        <result column="apiTypeName_stidName" property="apiTypeName_stidName"/>
        <result column="vendorName" property="vendorName"/>
        <result column="sumCount" property="sumCount"/>
        <result column="yearMonthDay" property="consuTime"/>
        <result column="years" property="years"/>
        <result column="months" property="months"/>
        <result column="days" property="days"/>
        <result column="cost" property="cost"/>
    </resultMap>

    <resultMap id="Company_Partner_Map" type="org.qydata.entity.Company">
        <result column="companyId" property="id"/>
        <result column="companyName" property="name"/>
        <association property="partner" javaType="org.qydata.entity.Partner">
            <result column="partnerId" property="id"/>
            <result column="partnerName" property="name"/>
        </association>
    </resultMap>

    <!--统计合作方使用我方源  统计方式：汇总-->
    <select id="queryPartnerUserOurBySum" parameterType="map" resultMap="ExportExcel_Map">
        SELECT CONCAT_WS('-',b.name,d.name) apiTypeName_stidName,c.name vendorName,a.sumCount,a.cost
        FROM
        (
            SELECT a.count sumCount,b.apiTypeId,b.vendorId,b.mobileOperatorId,c.cost
            FROM
            (
                SELECT a.apiId,sum(a.sumCount) count
                FROM qyfinance.PartnerOurDayCount a
                WHERE a.typeId = 1 AND a.apiId IS NOT NULL
                <if test="beginDate != null and beginDate != '' ">
                    AND a.consuTime >= #{beginDate}
                </if>
                <if test="endDate != null and endDate != '' ">
                    <![CDATA[
                    AND a.consuTime < #{endDate}
                     ]]>
                </if>
                <if test="cidList!=null and cidList.size()!=0">
                    AND a.customerId NOT IN
                    <foreach collection="cidList" item="cid" index="index" open="(" close=")" separator=",">
                        #{cid}
                    </foreach>
                </if>
                <if test="pid != null and pid != '' ">
                    AND a.partnerId = #{pid}
                </if>
                GROUP BY a.apiId
            ) a
            LEFT JOIN qyfinance.bkvw_api_ApiTypeVendorPartner b ON a.apiId = b.apiId
            LEFT JOIN qyfinance.excel_ApiPrice c ON a.apiId = c.apiId
        ) a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.finance_ApiVendor c ON a.vendorId = c.id
        LEFT JOIN qyfinance.bkvwMobileOperator d ON a.mobileOperatorId = d.id
        WHERE a.sumCount > 0
    </select>

    <!--统计合作方使用我方源  统计方式：按月-->
    <select id="queryPartnerUserOurByMonth" parameterType="map" resultMap="ExportExcel_Month_Map">
        SELECT a.yearMonth,a.years,a.months,CONCAT_WS('-',b.name,d.name) apiTypeName_stidName,c.name vendorName,a.sumCount,a.cost
        FROM
        (
            SELECT a.yearMonth,a.years,a.months,a.count sumCount,b.apiTypeId,b.vendorId,b.mobileOperatorId,c.cost
            FROM
            (
                SELECT
                DATE_FORMAT(a.consuTime,'%Y-%m') yearMonth,
                DATE_FORMAT(a.consuTime,'%Y') years,
                DATE_FORMAT(a.consuTime,'%m') months,
                a.apiId,sum(a.sumCount) count
                FROM qyfinance.PartnerOurDayCount a
                WHERE a.typeId = 1 AND a.apiId IS NOT NULL
                <if test="beginDate != null and beginDate != '' ">
                    AND a.consuTime >= #{beginDate}
                </if>
                <if test="endDate != null and endDate != '' ">
                    <![CDATA[
                            AND a.consuTime < #{endDate}
                             ]]>
                </if>
                <if test="cidList!=null and cidList.size()!=0">
                    AND a.customerId NOT IN
                    <foreach collection="cidList" item="cid" index="index" open="(" close=")" separator=",">
                        #{cid}
                    </foreach>
                </if>
                <if test="pid != null and pid != '' ">
                    AND a.partnerId = #{pid}
                </if>
                GROUP BY DATE_FORMAT(a.consuTime,'%Y-%m'),a.apiId
            ) a
            LEFT JOIN qyfinance.bkvw_api_ApiTypeVendorPartner b ON a.apiId = b.apiId
            LEFT JOIN qyfinance.excel_ApiPrice c ON a.apiId = c.apiId
        ) a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.finance_ApiVendor c ON a.vendorId = c.id
        LEFT JOIN qyfinance.bkvwMobileOperator d ON a.mobileOperatorId = d.id
        WHERE a.sumCount > 0
    </select>

    <!--统计合作方使用我方源  统计方式：按天-->
    <select id="queryPartnerUserOurByDay" parameterType="map" resultMap="ExportExcel_Day_Map">
        SELECT a.yearMonthDay,a.years,a.months,a.days,CONCAT_WS('-',b.name,d.name) apiTypeName_stidName,c.name vendorName,a.sumCount,a.cost
        FROM
        (
            SELECT a.yearMonthDay,a.years,a.months,a.days,a.count sumCount,b.apiTypeId,b.vendorId,b.mobileOperatorId,c.cost
            FROM
            (
                SELECT
                DATE_FORMAT(a.consuTime,'%Y-%m') yearMonthDay,
                DATE_FORMAT(a.consuTime,'%Y') years,
                DATE_FORMAT(a.consuTime,'%m') months,
                DATE_FORMAT(a.createTime,'%d') days,
                a.apiId,sum(a.sumCount) count
                FROM qyfinance.PartnerOurDayCount a
                WHERE a.typeId = 1 AND a.apiId IS NOT NULL
                <if test="beginDate != null and beginDate != '' ">
                    AND a.consuTime >= #{beginDate}
                </if>
                <if test="endDate != null and endDate != '' ">
                    <![CDATA[
                                    AND a.consuTime < #{endDate}
                                     ]]>
                </if>
                <if test="cidList!=null and cidList.size()!=0">
                    AND a.customerId NOT IN
                    <foreach collection="cidList" item="cid" index="index" open="(" close=")" separator=",">
                        #{cid}
                    </foreach>
                </if>
                <if test="pid != null and pid != '' ">
                    AND a.partnerId = #{pid}
                </if>
                GROUP BY DATE_FORMAT(a.consuTime,'%Y-%m-%d'),a.apiId
            ) a
            LEFT JOIN qyfinance.bkvw_api_ApiTypeVendorPartner b ON a.apiId = b.apiId
            LEFT JOIN qyfinance.excel_ApiPrice c ON a.apiId = c.apiId
            ) a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.finance_ApiVendor c ON a.vendorId = c.id
        LEFT JOIN qyfinance.bkvwMobileOperator d ON a.mobileOperatorId = d.id
        WHERE a.sumCount > 0
    </select>

    <!--统计我方使用合作方源  统计方式：汇总-->
    <select id="queryOurUserPartnerBySum" parameterType="map" resultMap="ExportExcel_Map">
        SELECT CONCAT_WS('-',b.name,d.name) apiTypeName_stidName,c.name vendorName,a.sumCount,a.cost
        FROM
        (
            SELECT a.count sumCount,b.apiTypeId,b.vendorId,b.mobileOperatorId,c.cost
            FROM
            (
                SELECT a.apiId,sum(a.sumCount) count
                FROM qyfinance.PartnerOurDayCount a
                WHERE a.typeId = 2 AND a.apiId IS NOT NULL
                <if test="beginDate != null and beginDate != '' ">
                    AND a.consuTime >= #{beginDate}
                </if>
                <if test="endDate != null and endDate != '' ">
                    <![CDATA[
                            AND a.consuTime < #{endDate}
                             ]]>
                </if>
                <if test="cidList!=null and cidList.size()!=0">
                    AND a.customerId NOT IN
                    <foreach collection="cidList" item="cid" index="index" open="(" close=")" separator=",">
                        #{cid}
                    </foreach>
                </if>
                <if test="pid != null and pid != '' ">
                    AND a.partnerId = #{pid}
                </if>
                GROUP BY a.apiId
            ) a
            LEFT JOIN qyfinance.bkvw_api_ApiTypeVendorPartner b ON a.apiId = b.apiId
            LEFT JOIN qyfinance.excel_ApiPrice c ON a.apiId = c.apiId
        ) a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.finance_ApiVendor c ON a.vendorId = c.id
        LEFT JOIN qyfinance.bkvwMobileOperator d ON a.mobileOperatorId = d.id
        WHERE a.sumCount > 0
    </select>

    <!--统计我方使用合作方源  统计方式：按月-->
    <select id="queryOurUserPartnerByMonth" parameterType="map" resultMap="ExportExcel_Month_Map">
        SELECT a.yearMonth,a.years,a.months,CONCAT_WS('-',b.name,d.name) apiTypeName_stidName,c.name vendorName,a.sumCount,a.cost
        FROM
        (
            SELECT a.yearMonth,a.years,a.months,a.count sumCount,b.apiTypeId,b.vendorId,b.mobileOperatorId,c.cost
            FROM
            (
                SELECT
                DATE_FORMAT(a.consuTime,'%Y-%m') yearMonth,
                DATE_FORMAT(a.consuTime,'%Y') years,
                DATE_FORMAT(a.consuTime,'%m') months,
                a.apiId,a.sumCount count
                FROM qyfinance.PartnerOurDayCount a
                WHERE a.typeId = 2 AND a.apiId IS NOT NULL
                <if test="beginDate != null and beginDate != '' ">
                    AND a.consuTime >= #{beginDate}
                </if>
                <if test="endDate != null and endDate != '' ">
                    <![CDATA[
                                    AND a.consuTime < #{endDate}
                                     ]]>
                </if>
                <if test="cidList!=null and cidList.size()!=0">
                    AND a.customerId NOT IN
                    <foreach collection="cidList" item="cid" index="index" open="(" close=")" separator=",">
                        #{cid}
                    </foreach>
                </if>
                <if test="pid != null and pid != '' ">
                    AND a.partnerId = #{pid}
                </if>
                GROUP BY DATE_FORMAT(a.consuTime,'%Y-%m'),a.apiId
            ) a
            LEFT JOIN qyfinance.bkvw_api_ApiTypeVendorPartner b ON a.apiId = b.apiId
            LEFT JOIN qyfinance.excel_ApiPrice c ON a.apiId = c.apiId
        ) a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.finance_ApiVendor c ON a.vendorId = c.id
        LEFT JOIN qyfinance.bkvwMobileOperator d ON a.mobileOperatorId = d.id
        WHERE a.sumCount > 0
    </select>

    <!--统计我方使用合作方源  统计方式：按天-->
    <select id="queryOurUserPartnerByDay" parameterType="map" resultMap="ExportExcel_Day_Map">
        SELECT a.yearMonthDay,a.years,a.months,a.days,CONCAT_WS('-',b.name,d.name) apiTypeName_stidName,c.name vendorName,a.sumCount,a.cost
        FROM
        (
            SELECT a.yearMonthDay,a.years,a.months,a.days,a.count sumCount,b.apiTypeId,b.vendorId,b.mobileOperatorId,c.cost
            FROM
            (
                SELECT
                DATE_FORMAT(a.consuTime,'%Y-%m') yearMonthDay,
                DATE_FORMAT(a.consuTime,'%Y') years,
                DATE_FORMAT(a.consuTime,'%m') months,
                DATE_FORMAT(a.createTime,'%d') days,
                a.apiId,a.sumCount count
                FROM qyfinance.PartnerOurDayCount a
                WHERE a.typeId = 2 AND a.apiId IS NOT NULL
                <if test="beginDate != null and beginDate != '' ">
                    AND a.consuTime >= #{beginDate}
                </if>
                <if test="endDate != null and endDate != '' ">
                    <![CDATA[
                                            AND a.consuTime < #{endDate}
                                             ]]>
                </if>
                <if test="cidList!=null and cidList.size()!=0">
                    AND a.customerId NOT IN
                    <foreach collection="cidList" item="cid" index="index" open="(" close=")" separator=",">
                        #{cid}
                    </foreach>
                </if>
                <if test="pid != null and pid != '' ">
                    AND a.partnerId = #{pid}
                </if>
                GROUP BY DATE_FORMAT(a.consuTime,'%Y-%m-%d'),a.apiId
            ) a
            LEFT JOIN qyfinance.bkvw_api_ApiTypeVendorPartner b ON a.apiId = b.apiId
            LEFT JOIN qyfinance.excel_ApiPrice c ON a.apiId = c.apiId
        ) a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.finance_ApiVendor c ON a.vendorId = c.id
        LEFT JOIN qyfinance.bkvwMobileOperator d ON a.mobileOperatorId = d.id
        WHERE a.sumCount > 0
    </select>

    <!--统计合作方使用我方源售卖情况 统计方式：汇总-->
    <select id="queryPartnerUserOurSellBySum" parameterType="map" resultMap="ExportExcel_Map">
        SELECT CONCAT_WS('-',b.name,d.name) apiTypeName_stidName,c.name vendorName,a.price cost,a.sumCount
        FROM
        (
            SELECT a.sumCount,a.amount price,b.apiTypeId,b.vendorId,b.mobileOperatorId stid
            FROM
            (
                SELECT a.apiId,a.amount,sum(a.sumCount) sumCount
                FROM qyfinance.PartnerUserOurSellDayCount a
                WHERE a.apiId IS NOT NULL
                <if test="beginDate != null and beginDate != '' ">
                    AND a.consuTime >= #{beginDate}
                </if>
                <if test="endDate != null and endDate != '' ">
                    <![CDATA[
                    AND a.consuTime < #{endDate}
                     ]]>
                </if>
                <if test="cidList!=null and cidList.size()!=0">
                    AND a.customerId NOT IN
                    <foreach collection="cidList" item="cid" index="index" open="(" close=")" separator=",">
                        #{cid}
                    </foreach>
                </if>
                <if test="pid != null and pid != '' ">
                    AND a.partnerId = #{pid}
                </if>
                GROUP BY a.apiId,a.amount
            ) a
            LEFT JOIN qyfinance.bkvw_api_ApiTypeVendorPartner b ON a.apiId = b.apiId
        ) a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.finance_ApiVendor c ON a.vendorId = c.id
        LEFT JOIN qyfinance.bkvwMobileOperator d ON a.stid = d.id
    </select>

    <!--统计合作方使用我方源售卖情况 统计方式：按月-->
    <select id="queryPartnerUserOurSellByMonth" parameterType="map" resultMap="ExportExcel_Month_Map">
        SELECT a.yearMonth,a.years,a.months,CONCAT_WS('-',b.name,d.name) apiTypeName_stidName,c.name vendorName,a.price cost,a.sumCount
        FROM
        (
            SELECT a.yearMonth,a.years,a.months,a.sumCount,a.amount price,b.apiTypeId,b.vendorId,b.mobileOperatorId stid
            FROM
            (
                SELECT
                DATE_FORMAT(a.consuTime,'%Y-%m') yearMonth,
                DATE_FORMAT(a.consuTime,'%Y') years,
                DATE_FORMAT(a.consuTime,'%m') months,
                a.apiId,a.amount,sum(a.sumCount) sumCount
                FROM qyfinance.PartnerUserOurSellDayCount a
                WHERE a.apiId IS NOT NULL
                <if test="beginDate != null and beginDate != '' ">
                    AND a.consuTime >= #{beginDate}
                </if>
                <if test="endDate != null and endDate != '' ">
                    <![CDATA[
                            AND a.consuTime < #{endDate}
                             ]]>
                </if>
                <if test="cidList!=null and cidList.size()!=0">
                    AND a.customerId NOT IN
                    <foreach collection="cidList" item="cid" index="index" open="(" close=")" separator=",">
                        #{cid}
                    </foreach>
                </if>
                <if test="pid != null and pid != '' ">
                    AND a.partnerId = #{pid}
                </if>
                GROUP BY DATE_FORMAT(a.consuTime,'%Y-%m'),a.apiId,a.amount
            ) a
            LEFT JOIN qyfinance.bkvw_api_ApiTypeVendorPartner b ON a.apiId = b.apiId
        ) a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.finance_ApiVendor c ON a.vendorId = c.id
        LEFT JOIN qyfinance.bkvwMobileOperator d ON a.stid = d.id
    </select>

    <!--统计合作方使用我方源售卖情况 统计方式：按天-->
    <select id="queryPartnerUserOurSellByDay" parameterType="map" resultMap="ExportExcel_Day_Map">
        SELECT a.yearMonthDay,a.years,a.months,a.days,CONCAT_WS('-',b.name,d.name) apiTypeName_stidName,c.name vendorName,a.price cost,a.sumCount
        FROM
        (
            SELECT a.yearMonthDay,a.years,a.months,a.days,a.sumCount,a.amount price,b.apiTypeId,b.vendorId,b.mobileOperatorId stid
            FROM
            (
                SELECT
                DATE_FORMAT(a.consuTime,'%Y-%m') yearMonthDay,
                DATE_FORMAT(a.consuTime,'%Y') years,
                DATE_FORMAT(a.consuTime,'%m') months,
                DATE_FORMAT(a.consuTime,'%d') days,
                a.apiId,a.amount,sum(a.sumCount) sumCount
                FROM qyfinance.PartnerUserOurSellDayCount a
                WHERE a.apiId IS NOT NULL
                <if test="beginDate != null and beginDate != '' ">
                    AND a.consuTime >= #{beginDate}
                </if>
                <if test="endDate != null and endDate != '' ">
                    <![CDATA[
                    AND a.consuTime < #{endDate}
                     ]]>
                </if>
                <if test="cidList!=null and cidList.size()!=0">
                    AND a.customerId NOT IN
                    <foreach collection="cidList" item="cid" index="index" open="(" close=")" separator=",">
                        #{cid}
                    </foreach>
                </if>
                <if test="pid != null and pid != '' ">
                    AND a.partnerId = #{pid}
                </if>
                GROUP BY DATE_FORMAT(a.consuTime,'%Y-%m-%d'),a.apiId,a.amount
            ) a
            LEFT JOIN qyfinance.bkvw_api_ApiTypeVendorPartner b ON a.apiId = b.apiId
        ) a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.finance_ApiVendor c ON a.vendorId = c.id
        LEFT JOIN qyfinance.bkvwMobileOperator d ON a.stid = d.id
    </select>

    <!--查询合作公司-->
    <select id="queryPartnerById" parameterType="int" resultType="org.qydata.entity.Partner">
        SELECT id,name
        FROM qyfinance.bkvwPartner
        WHERE id = #{param}
    </select>

    <!--合作公司Id查询公司-->
    <select id="queryCompanyByPid" parameterType="int" resultMap="Company_Partner_Map">
        SELECT companyId,companyName,partnerId,partnerName
        FROM qyfinance.bkvw_api_CustomerCompanyPartner
        WHERE partnerId = #{param}
    </select>

    <!--根据公司companyId查询正式账号id-->
    <select id="queryCustomerIdByCompanyId" parameterType="int" resultType="int">
        SELECT id
        FROM qyfinance.bkvwCustomer
        WHERE companyId = #{param} AND typeId = 1
    </select>

    <!--客户临时对账  汇总-->
    <select id="queryCustomerConsumeStatusBySum" parameterType="map" resultMap="ExportExcel_Map">
        SELECT CONCAT_WS('-',b.name,c.name) apiTypeName_stidName,a.price cost,a.countSuccess sumCount
        FROM
        (
            SELECT a.apiTypeId,a.stid,b.price,sum(a.countSuccess) countSuccess
            FROM
            (
            SELECT b.companyId,a.apiTypeId,ifnull(a.stid,0) stid,a.countSuccess
            FROM qyfinance.CompanyApiTypeConsumeDayCount a
            LEFT JOIN qyfinance.bkvwCustomer b ON a.customerId = b.id
            WHERE a.customerId = #{cid} AND a.countSuccess > 0
            <if test="beginDate != null and beginDate != '' ">
                AND a.consuTime >= #{beginDate}
            </if>
            <if test="endDate != null and endDate != '' ">
                <![CDATA[
                AND a.consuTime < #{endDate}
                 ]]>
            </if>
            <if test="tidList!=null and tidList.size()!=0">
                AND a.apiTypeId IN
                <foreach collection="tidList" item="tid" index="index" open="(" close=")" separator=",">
                    #{tid}
                </foreach>
            </if>
            ) a
            LEFT JOIN qyfinance.excel_CompanyApiPrice b ON a.companyId = b.companyId
            AND a.apiTypeId = b.apiTypeId AND a.stid = subTypeId
            GROUP BY a.apiTypeId,a.stid,b.price
        ) a
        LEFT JOIN qyfinance.excel_ApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.bkvwMobileOperator c ON a.stid = c.id
    </select>

    <!--客户临时对账  按月-->
    <select id="queryCustomerConsumeStatusByMonth" parameterType="map" resultMap="ExportExcel_Month_Map">
        SELECT a.yearMonth,CONCAT_WS('-',b.name,c.name) apiTypeName_stidName,a.price cost,a.countSuccess sumCount
        FROM
        (
            SELECT
            DATE_FORMAT(a.consuTime,'%Y-%m') yearMonth,
            a.apiTypeId,a.stid,b.price,sum(a.countSuccess) countSuccess
            FROM
            (
                SELECT b.companyId,a.apiTypeId,ifnull(a.stid,0) stid,a.countSuccess,a.consuTime
                FROM qyfinance.CompanyApiTypeConsumeDayCount a
                LEFT JOIN qyfinance.bkvwCustomer b ON a.customerId = b.id
                WHERE a.customerId = #{cid} AND a.countSuccess > 0
                <if test="beginDate != null and beginDate != '' ">
                    AND a.consuTime >= #{beginDate}
                </if>
                <if test="endDate != null and endDate != '' ">
                    <![CDATA[
                        AND a.consuTime < #{endDate}
                     ]]>
                </if>
                <if test="tidList!=null and tidList.size()!=0">
                    AND a.apiTypeId IN
                    <foreach collection="tidList" item="tid" index="index" open="(" close=")" separator=",">
                        #{tid}
                    </foreach>
                </if>
            ) a
            LEFT JOIN qyfinance.excel_CompanyApiPrice b ON a.companyId = b.companyId
            AND a.apiTypeId = b.apiTypeId AND a.stid = subTypeId
            GROUP BY DATE_FORMAT(a.consuTime,'%Y-%m'),a.apiTypeId,a.stid,b.price
        ) a
        LEFT JOIN qyfinance.excel_ApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.bkvwMobileOperator c ON a.stid = c.id
    </select>

    <!--客户临时对账  按月-->
    <select id="queryCustomerConsumeStatusByDay" parameterType="map" resultMap="ExportExcel_Day_Map">
        SELECT a.yearMonthDay,CONCAT_WS('-',b.name,c.name) apiTypeName_stidName,a.price cost,a.countSuccess sumCount
        FROM
        (
            SELECT
            DATE_FORMAT(a.consuTime,'%Y-%m-%d') yearMonthDay,
            a.apiTypeId,a.stid,b.price,sum(a.countSuccess) countSuccess
            FROM
            (
                SELECT b.companyId,a.apiTypeId,ifnull(a.stid,0) stid,a.countSuccess,a.consuTime
                FROM qyfinance.CompanyApiTypeConsumeDayCount a
                LEFT JOIN qyfinance.bkvwCustomer b ON a.customerId = b.id
                WHERE a.customerId = #{cid} AND a.countSuccess > 0
                <if test="beginDate != null and beginDate != '' ">
                    AND a.consuTime >= #{beginDate}
                </if>
                <if test="endDate != null and endDate != '' ">
                    <![CDATA[
                        AND a.consuTime < #{endDate}
                     ]]>
                </if>
                <if test="tidList!=null and tidList.size()!=0">
                    AND a.apiTypeId IN
                    <foreach collection="tidList" item="tid" index="index" open="(" close=")" separator=",">
                        #{tid}
                    </foreach>
                </if>
            ) a
            LEFT JOIN qyfinance.excel_CompanyApiPrice b ON a.companyId = b.companyId
            AND a.apiTypeId = b.apiTypeId AND a.stid = subTypeId
            GROUP BY DATE_FORMAT(a.consuTime,'%Y-%m-%d'),a.apiTypeId,a.stid,b.price
        ) a
        LEFT JOIN qyfinance.excel_ApiType b ON a.apiTypeId = b.id
        LEFT JOIN qyfinance.bkvwMobileOperator c ON a.stid = c.id
    </select>

    <!--根据公司companyId查询公司名称-->
    <select id="queryCompanyNameByCompanyId" parameterType="int" resultType="String">
        SELECT name
        FROM qyfinance.bkvwCustomerCompany
        WHERE id = #{param}
    </select>

    <!--公司Id查询产品类型-->
    <select id="queryApiTypeByCid" parameterType="int" resultType="org.qydata.entity.ApiType">
        SELECT DISTINCT apiTypeId id,apiTypeName name
        FROM qyfinance.bkvwCompanyApi
        WHERE companyId = #{param}
    </select>

</mapper>

