<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.mapper2.OperaConditionMapper">

    <resultMap id="countMap" type="org.qydata.dst.OperaCondition">
        <result property="customerId" column="customerId"/>
        <result property="vendorId" column="vendorId"/>
        <result property="apiId" column="apiId"/>
        <result property="apiTypeId" column="apiTypeId"/>
        <result property="subTypeId" column="subTypeId"/>
        <result property="apiTypeName" column="apiTypeName"/>
        <result property="subTypeName" column="subTypeName"/>
        <result property="incomeAccount" column="incomeAccount"/>
        <result property="costAccount" column="costAccount"/>
        <result property="costCount" column="costCount"/>
        <result property="incomeCount" column="incomeCount"/>

    </resultMap>

    <select id="getIncomeAccount" parameterType="map" resultMap="countMap">
        select
        a.customerId,
        a.apiTypeId,
        a.subTypeId,
        IFNULL(sum(a.consumeCount * b.price),0) incomeAccount
        FROM
        qyfinance.CustomerConsumeHourCount a
        LEFT JOIN
        (
        select
        a.id customerId,
        b.apiTypeId,
        b.subTypeId,
        b.price

        FROM
        qydata.Customer a
        INNER JOIN
        qydata.CompanyApi b
        ON
        a.companyId = b.companyId
        where a.typeId = 1
        GROUP BY
        a.Id,
        b.apiTypeId,
        b.subTypeId
        )b
        ON
        a.customerId = b.customerId
        AND
        a.apiTypeId = b.apiTypeId
        AND
        a.subTypeId = b.subTypeId
        WHERE

        <if test="Dawn != null and Dawn != ''" >
            a.cycle >= #{Dawn}
        </if>
        <if test="currTime != null and currTime != ''" >
            <![CDATA[
                AND  a.cycle < #{currTime}
            ]]>
        </if>
        GROUP BY
        a.customerId,a.apiTypeId,a.subTypeId
    </select>

<!--查询总成本-->
    <select id="getCostAccount" parameterType="map" resultMap="countMap">
        SELECT
        IFNULL(a.consumeAccount * b.cost, 0) costAccount
        FROM qyfinance.ApiConsumeHourCount a
        LEFT JOIN qydata.Api b ON a.apiId = b.id
        WHERE
        <if test="Dawn != null and Dawn != ''" >
            a.cycle >= #{Dawn}
        </if>
        <if test="currTime != null and currTime != ''" >
            <![CDATA[
                AND  a.cycle < #{currTime}
            ]]>
        </if>

    </select>

    <!--获取最近两天所有消费的产品类型-->
    <select id="getApiType" parameterType="map" resultMap="countMap">
        SELECT
        a.apiTypeId,
        a.subTypeId,
        c.`name` apiTypeName,
        d.`name` subTypeName
        from
        (
        SELECT
        a.typeId apiTypeId,
        a.subTypeId
        FROM
        qyfinance.ApiConsumeHourCount a
        WHERE
        <if test="Dawn != null and Dawn != ''" >
            a.cycle >= #{Dawn}
        </if>
        <if test="currTime != null and currTime != ''" >
            <![CDATA[
                AND  a.cycle < #{currTime}
            ]]>
        </if>
        UNION
        SELECT
        b.apiTypeId,
        b.subTypeId
        FROM
        qyfinance.CustomerConsumeHourCount b
        WHERE
        <if test="Dawn != null and Dawn != ''" >
            b.cycle >= #{Dawn}
        </if>
        <if test="currTime != null and currTime != ''" >
            <![CDATA[
                AND  b.cycle < #{currTime}
            ]]>
        </if>
        )a
        LEFT JOIN
        qyfinance.bkvwApiType c
        ON
        a.apiTypeId = c.Id
        LEFT JOIN qyfinance.bkvwMobileOperator d
        ON
        a.subTypeId = d.id

    </select>

    <!--按产品查询成本-->
    <select id="getCostAccountByType" parameterType="map" resultMap="countMap">

        SELECT
        a.typeId apiTypeId,
        a.subTypeId,
        sum(a.consumeAccount) costCount,
        SUM(a.costAccount) costAccount
        FROM
        (
        SELECT
        a.customerId,
        a.typeId,
        a.subTypeId,
        a.consumeAccount,
        a.consumeAccount * b.cost costAccount
        FROM
        qyfinance.ApiConsumeHourCount a
        LEFT JOIN qydata.Api b
        ON a.apiId = b.id
        WHERE
        <if test="Dawn != null and Dawn != ''" >
            a.cycle >= #{Dawn}
        </if>
        <if test="currTime != null and currTime != ''" >
            <![CDATA[
                AND  a.cycle < #{currTime}
            ]]>
        </if>
        )a
        GROUP BY a.typeId,a.subTypeId

    </select>

    <!--按产品查询收入-->
    <select id="getIncomeAccountByType" parameterType="map" resultMap="countMap">
        select
        a.apiTypeId,
        a.subTypeId,
        sum(a.consumeCount) incomeCount,
        sum(a.consumeCount * b.price) incomeAccount
        FROM
        qyfinance.CustomerConsumeHourCount a
        LEFT JOIN
        (
        select
        a.id customerId,
        b.apiTypeId,
        b.subTypeId,
        b.price

        FROM
        qydata.Customer a
        INNER JOIN
        qydata.CompanyApi b
        ON
        a.companyId = b.companyId
        where a.typeId = 1
        GROUP BY
        a.Id,
        b.apiTypeId,
        b.subTypeId
        )b
        ON
        a.customerId = b.customerId
        AND
        a.apiTypeId = b.apiTypeId
        AND
        a.subTypeId = b.subTypeId
        WHERE

        <if test="Dawn != null and Dawn != ''" >
            a.cycle >= #{Dawn}
        </if>
        <if test="currTime != null and currTime != ''" >
            <![CDATA[
                AND  a.cycle < #{currTime}
            ]]>
        </if>
        GROUP BY
        a.apiTypeId,a.subTypeId
    </select>

    <resultMap id="customer_map" type="org.qydata.dst.CustomerIncome">
        <result property="customerId" column="customerId"/>
        <result property="customerName" column="customerName"/>
        <result property="consumeAccount" column="consumeAccount"/>
        <result property="price" column="price"/>
        <result property="amount" column="amount"/>
    </resultMap>

    <!--查看某产品的收入情况-->
    <select id="getCustomerIncomeCondition" parameterType="map" resultMap="customer_map">

        SELECT
        a.customerId,
        a.customerName,
        a.apiTypeId,
        a.subTypeId,
        a.consumeAccount,
        b.price,
        IFNULL(a.consumeAccount * b.price, 0) amount
        FROM
        (
        SELECT
        a.customerId,
        a.apiTypeId,
        a.subTypeId,
        b. NAME customerName,
        b.companyId,
        sum(a.consumeCount) consumeAccount
        FROM
        qyfinance.CustomerConsumeHourCount a
        LEFT JOIN qydata.Customer b ON a.customerId = b.id
        WHERE
        b.typeId = 1
        <if test="Dawn != null and Dawn != ''" >
            AND a.cycle >= #{Dawn}
        </if>
        <if test="currTime != null and currTime != ''" >
            <![CDATA[
                AND  a.cycle < #{currTime}
            ]]>
        </if>
        AND a.apiTypeId = #{apiTypeId}
        AND a.subTypeId = #{subTypeId}
        GROUP BY
        a.customerId,a.apiTypeId,a.subTypeId
        ) a
        LEFT JOIN qydata.CompanyApi b ON a.companyId = b.companyId
        AND a.apiTypeId = b.apiTypeId
        AND a.subTypeId = b.subTypeId
        GROUP BY
        a.customerId,
        a.apiTypeId,
        a.subTypeId

    </select>

    <resultMap id="vendor-map" type="org.qydata.dst.VendorCost">
        <result property="vendorId" column="vendorId"/>
        <result property="vendorName" column="vendorName"/>
        <result property="consumeAccount" column="consumeAccount"/>
        <result property="cost" column="cost"/>
        <result property="amount" column="amount"/>
    </resultMap>

    <!--查看某产品的支出情况-->
    <select id="getVendorCostCondition" resultType="map" resultMap="vendor-map">

        SELECT
        a.vendorId,
        a.vendorName,
        a.consumeAccount,
        a.cost,
        a.consumeAccount*a.cost amount
        FROM
        (
        SELECT
        a.vendorId,
        c.name vendorName,
        sum(consumeAccount) consumeAccount,
        b.cost
        FROM
        qyfinance.ApiConsumeHourCount a
        LEFT JOIN
        qydata.Api b
        ON a.apiId = b.id
        LEFT JOIN
        qyfinance.finance_ApiVendor c
        ON
        c.id = a.vendorId
        WHERE
        <if test="Dawn != null and Dawn != ''" >
            a.cycle >= #{Dawn}
        </if>
        <if test="currTime != null and currTime != ''" >
            <![CDATA[
                AND  a.cycle < #{currTime}
            ]]>
        </if>
        AND
        a.typeId = #{apiTypeId}
        AND
        a.subTypeId = #{subTypeId}
        GROUP BY a.vendorId,a.apiId,a.typeId,a.subTypeId
        )a

    </select>

    <resultMap id="nearly-week-map" type="org.qydata.dst.NearlyWeekCondition">
        <result property="totalIncome" column="totalIncome"/>
        <result property="totalCost" column="totalCost"/>
        <result property="cycle" column="cycle"/>
        <result property="cost" column="cost"/>
        <result property="amount" column="amount"/>
    </resultMap>

    <select id="queryIncomeNearlyWeekTrend" resultMap="nearly-week-map">

        SELECT
            DATE_FORMAT(a.cycle, '%Y-%c-%d') cycle,
            SUM(a.incomeAccount) totalIncome
        FROM
            (
                SELECT
                    a.customerId,
                    a.apiTypeId,
                    a.subTypeId,
                    IFNULL(
                        sum(a.consumeCount * b.price),
                        0
                    ) incomeAccount,
                    a.cycle
                FROM
                    qyfinance.CustomerConsumeHourCount a
                LEFT JOIN (
                    SELECT
                        a.id customerId,
                        b.apiTypeId,
                        b.subTypeId,
                        b.price
                    FROM
                        qydata.Customer a
                    INNER JOIN qydata.CompanyApi b ON a.companyId = b.companyId
                    WHERE
                        a.typeId = 1
                    GROUP BY
                        a.Id,
                        b.apiTypeId,
                        b.subTypeId
                ) b ON a.customerId = b.customerId
                AND a.apiTypeId = b.apiTypeId
                AND a.subTypeId = b.subTypeId
                GROUP BY
                    a.customerId,
                    a.apiTypeId,
                    a.subTypeId,
                    DATE_FORMAT(a.cycle, '%Y-%c-%d')
            ) a
        GROUP BY
            DATE_FORMAT(a.cycle, '%Y-%c-%d')
        ORDER BY
            DATE_FORMAT(a.cycle, '%Y-%c-%d') DESC
        LIMIT 15

    </select>



    <select id="queryCostNearlyWeekTrend" resultMap="nearly-week-map">

        SELECT
        DATE_FORMAT(a.cycle, '%Y-%c-%d') cycle,
        SUM(a.costAccount) totalCost
        FROM
        (
        SELECT
            IFNULL(a.consumeAccount * b.cost, 0) costAccount,
            a.cycle
        FROM
            qyfinance.ApiConsumeHourCount a
        LEFT JOIN qydata.Api b ON a.apiId = b.id

        )a
        GROUP BY DATE_FORMAT(a.cycle, '%Y-%c-%d')
        ORDER BY DATE_FORMAT(a.cycle, '%Y-%c-%d') DESC
        LIMIT 15

    </select>

</mapper>