<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.mapper2.PartnerFinanceSelectMapper">

    <resultMap id="PartnerFinance_Map" type="org.qydata.dst.PartnerFinance">
        <result column="partnerId" property="partnerId"/>
        <result column="partnerName" property="partnerName"/>
        <result column="weekIncomeAmount" property="weekIncomeAmount"/>
        <result column="monthIncomeAmount" property="monthIncomeAmount"/>
        <result column="weekExpenditureAmount" property="weekExpenditureAmount"/>
        <result column="monthExpenditureAmount" property="monthExpenditureAmount"/>
        <result column="totleIncomeAmount" property="totleIncomeAmount"/>
        <result column="totleExpenditureAmount" property="totleExpenditureAmount"/>
    </resultMap>

    <resultMap id="PartnerIncomeExpenditure_Map" type="org.qydata.entity.PartnerIncomeExpenditureLog">
        <result column="id" property="id"/>
        <result column="partnerId" property="partnerId"/>
        <result column="amount" property="amount"/>
        <result column="reasonId" property="reasonId"/>
        <result column="remark" property="remark"/>
        <result column="createTime" property="createTime"/>
        <association property="partnerIncomeExpenditureReason" javaType="org.qydata.entity.PartnerIncomeExpenditureReason">
            <result column="reasonName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="Partner_PartnerIncomeExpenditure_Map" type="org.qydata.entity.Partner">
        <result column="partnerName" property="name"/>
        <association property="partnerIncomeExpenditureLog" javaType="org.qydata.entity.PartnerIncomeExpenditureLog">
            <result column="partnerId" property="partnerId"/>
            <result column="amount" property="amount"/>
        </association>
    </resultMap>

    <!--查询合作公司的财务总览-->
    <select id="queryPartnerOverFinance" parameterType="map" resultMap="PartnerFinance_Map">
        SELECT aa.id partnerId,aa.name partnerName,bb.weekIncomeAmount,cc.monthIncomeAmount,
        dd.weekExpenditureAmount,ee.monthExpenditureAmount,ff.totleIncomeAmount,gg.totleExpenditureAmount
        FROM qyfinance.bkvwPartner aa
        LEFT JOIN
                (
                    SELECT partnerId,totleAmount weekIncomeAmount
                    FROM qyfinance.bkvwPartnerWeekMonthAmount
                    WHERE typeId=1 AND reasonId=1 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x')
                    AND weeks=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%v')
                ) bb ON aa.id=bb.partnerId
        LEFT JOIN
                (
                    SELECT partnerId,totleAmount monthIncomeAmount
                    FROM qyfinance.bkvwPartnerWeekMonthAmount
                    WHERE typeId=2 AND reasonId=1 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%Y')
                    AND months=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%m')
                ) cc ON aa.id=cc.partnerId
       LEFT JOIN
                (
                    SELECT partnerId,totleAmount weekExpenditureAmount
                    FROM qyfinance.bkvwPartnerWeekMonthAmount
                    WHERE typeId=1 AND reasonId=2 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x')
                    AND weeks=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%v')
                ) dd ON aa.id=dd.partnerId
        LEFT JOIN
                (
                    SELECT partnerId,totleAmount monthExpenditureAmount
                    FROM qyfinance.bkvwPartnerWeekMonthAmount
                    WHERE typeId=2 AND reasonId=2 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%Y')
                    AND months=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%m')
                ) ee ON aa.id=ee.partnerId
        LEFT JOIN
                (
                    SELECT partnerId,sum(amount) totleIncomeAmount
                    FROM qyfinance.bkvwPartnerIncomeExpenditureLog
                    WHERE reasonId=1
                    GROUP BY partnerId
                ) ff ON aa.id=ff.partnerId
        LEFT JOIN
                (
                    SELECT partnerId,sum(amount) totleExpenditureAmount
                    FROM qyfinance.bkvwPartnerIncomeExpenditureLog
                    WHERE reasonId=2
                    GROUP BY partnerId
                ) gg ON aa.id=gg.partnerId
        <where>
            <if test="partnerName!=null and partnerName!=''">
                 aa.partnerName like '%${partnerName}%'
            </if>
        </where>
    </select>

    <!--合作公司的财务总览-周收入总额-->
    <select id="getCountWeekIncomePartnerOverFinance" parameterType="map" resultType="Integer">
        SELECT sum(bb.weekIncomeAmount)
        FROM qyfinance.bkvwPartner aa
        LEFT JOIN
                (
                SELECT partnerId,totleAmount weekIncomeAmount
                FROM qyfinance.bkvwPartnerWeekMonthAmount
                WHERE typeId=1 AND reasonId=1 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x')
                AND weeks=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%v')
                ) bb ON aa.id=bb.partnerId

        <where>
            <if test="partnerName!=null and partnerName!=''">
                aa.partnerName like '%${partnerName}%'
            </if>
        </where>
    </select>

    <!--合作公司的财务总览-周支出总额-->
    <select id="getCountWeekExpenditurePartnerOverFinance" parameterType="map" resultType="Integer">
        SELECT sum(dd.weekExpenditureAmount)
        FROM qyfinance.bkvwPartner aa
        LEFT JOIN
                (
                SELECT partnerId,totleAmount weekExpenditureAmount
                FROM qyfinance.bkvwPartnerWeekMonthAmount
                WHERE typeId=1 AND reasonId=2 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x')
                AND weeks=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%v')
                ) dd ON aa.id=dd.partnerId
        <where>
            <if test="partnerName!=null and partnerName!=''">
                aa.partnerName like '%${partnerName}%'
            </if>
        </where>
    </select>

    <!--合作公司的财务总览-月收入总额-->
    <select id="getCountMonthIncomePartnerOverFinance" parameterType="map" resultType="Integer">
        SELECT sum(cc.monthIncomeAmount)
        FROM qyfinance.bkvwPartner aa
        LEFT JOIN
                (
                SELECT partnerId,totleAmount monthIncomeAmount
                FROM qyfinance.bkvwPartnerWeekMonthAmount
                WHERE typeId=2 AND reasonId=1 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%Y')
                AND months=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%m')
                ) cc ON aa.id=cc.partnerId
        <where>
            <if test="partnerName!=null and partnerName!=''">
                aa.partnerName like '%${partnerName}%'
            </if>
        </where>
    </select>

    <!--合作公司的财务总览-月支出总额-->
    <select id="getCountMonthExpenditurePartnerOverFinance" parameterType="map" resultType="Integer">
        SELECT sum(ee.monthExpenditureAmount)
        FROM qyfinance.bkvwPartner aa
        LEFT JOIN
                (
                SELECT partnerId,totleAmount monthExpenditureAmount
                FROM qyfinance.bkvwPartnerWeekMonthAmount
                WHERE typeId=2 AND reasonId=2 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%Y')
                AND months=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%m')
                ) ee ON aa.id=ee.partnerId
        <where>
            <if test="partnerName!=null and partnerName!=''">
                aa.partnerName like '%${partnerName}%'
            </if>
        </where>
    </select>

    <!--合作公司的财务总览-收入总额-->
    <select id="getCountTotleIncomePartnerOverFinance" parameterType="map" resultType="Integer">
        SELECT sum(ff.totleIncomeAmount)
        FROM qyfinance.bkvwPartner aa
        LEFT JOIN
                (
                SELECT partnerId,sum(amount) totleIncomeAmount
                FROM qyfinance.bkvwPartnerIncomeExpenditureLog
                WHERE reasonId=1
                GROUP BY partnerId
                ) ff ON aa.id=ff.partnerId
        <where>
            <if test="partnerName!=null and partnerName!=''">
                aa.partnerName like '%${partnerName}%'
            </if>
        </where>
    </select>

    <!--合作公司的财务总览-支出总额-->
    <select id="getCountTotleExpenditurePartnerOverFinance" parameterType="map" resultType="Integer">
        SELECT sum(gg.totleExpenditureAmount)
        FROM qyfinance.bkvwPartner aa
        LEFT JOIN
                (
                SELECT partnerId,sum(amount) totleExpenditureAmount
                FROM qyfinance.bkvwPartnerIncomeExpenditureLog
                WHERE reasonId=2
                GROUP BY partnerId
                ) gg ON aa.id=gg.partnerId
        <where>
            <if test="partnerName!=null and partnerName!=''">
                aa.partnerName like '%${partnerName}%'
            </if>
        </where>
    </select>

    <!--合作公司明细-->
    <select id="queryPartnerDetailLog" parameterType="map" resultMap="PartnerIncomeExpenditure_Map">
        SELECT id,partnerId,amount,reasonId,reasonName,remark,createTime
        FROM qyfinance.bkvwPartnerIncomeExpenditureLog
        WHERE reasonId=#{reasonId} AND partnerId=#{partnerId}
    </select>

    <!--合作公司明细-金额总计-->
    <select id="getCountPartnerDetailLog" parameterType="map" resultType="Integer">
        SELECT sum(amount)
        FROM qyfinance.bkvwPartnerIncomeExpenditureLog
        WHERE reasonId=#{reasonId} AND partnerId=#{partnerId}
    </select>

    <!--收入支出走势-->
    <select id="queryPartnerBarChart" parameterType="map" resultMap="Partner_PartnerIncomeExpenditure_Map">
        SELECT a.name partnerName,a.id partnerId,b.amount
        FROM qyfinance.bkvwPartner a LEFT JOIN
                                        (
                                          SELECT partnerId,sum(amount) amount
                                          FROM qyfinance.bkvwPartnerIncomeExpenditureLog
                                          WHERE reasonId=#{reasonId}
                                          GROUP BY partnerId
                                        ) b
        ON a.id=b.partnerId
    </select>

</mapper>