.icon{padding-left: 18px; background-position: left center; background-repeat: no-repeat;}
.icon_i{background-image: url(../image/icon/i.png);}
.icon_j{background-image: url(../image/icon/j.png);}
.icon_t{background-image: url(../image/icon/t.png);}
.icon_n{background-image: url(../image/icon/n.png);}
.icon_e{background-image: url(../image/icon/e.png);}
.control-margin-head-search{margin-bottom: -20px;margin-top: -25px;}
.control-margin-body-data{margin-bottom: -10px;}
.control-margin-head-search-text{margin-bottom: -20px;}

.myModal { /* SET THE WIDTH OF THE MODAL 设置Modal的宽度*/ width: 650px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */ margin: -250px 0 0 -325px; }

.myModalChart { /* SET THE WIDTH OF THE MODAL 设置Modal的宽度*/ width: 900px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */ margin: -250px 0 0 -450px; }


