
/**

 */

.head-search-bottom{
    margin-bottom: 0px !important;
}

.head-search-top{
    margin-top: -25px;
}

.head-search-clearfix-top{
    margin-top: -18px;
}

.head-search-display{
    display: none;
}

.head-search-display-block{
    display: block
}

.table-top-bottom{
    margin-bottom: -10px;
}

.tip-remark{
    margin-bottom: 10px !important;
}

.table-td-none{
    display: none;
}

.font-text-decoration{
    text-decoration:line-through;
}

.form-bottom{
    margin-bottom: -20px;
}

.form-bottom-excel{
    margin-bottom: 0px;
}

.form-top{
    margin-top: 40px;
}

.table-layout-fixed{
    table-layout: fixed;
}
.table-td-layout-fixed{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.warning{color: #b94a48;}

.label-margin-bottom{
    margin-bottom: 0px
}

.label-margin-right{
    margin-right: 10px
}

.btn-icon{
    border-radius:15%;
    margin-right: 10px;
    background-color: #e5e5e5;
    background-image: none;
    filter: none;
    border: 0;
    padding: 7px 14px;
    text-shadow: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: none ;
    -moz-box-shadow: none ;
    box-shadow: none ;
}
.btn-icon.red{
    color: #b94a48;
}
.btn-icon.black{
    color: #555555;
}


.btn-icon:hover,
.btn-icon:focus,
.btn-icon:active,
.btn-icon.active,
.btn-icon[disabled],
.btn-icon.disabled {
    background-color: #d8d8d8 !important;
}

.required {
    color: #e02222;
    font-size: 12px;
    padding-left: 2px;
}

.self-error {
    color: #e02222;
}

.btn-icon_1{
    border-radius:15%;
    margin-right: 10px;
    background-color: #e5e5e5;
    background-image: none;
    filter: none;
    border: 0;
    padding: 3px 7px;
    text-shadow: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: none ;
    -moz-box-shadow: none ;
    box-shadow: none ;
}
.btn-icon_1.red{
    color: #b94a48;
}
.btn-icon_1.black{
    color: #555555;
}


.btn-icon_1:hover,
.btn-icon_1:focus,
.btn-icon_1:active,
.btn-icon_1.active,
.btn-icon_1[disabled],
.btn-icon_1.disabled {
    background-color: #d8d8d8 !important;
}
