.head-search-bottom{margin-bottom: -20px;}
.head-search-top{margin-top: -25px;}
.head-search-clearfix-top{margin-top: -18px;}
.head-search-display{display: none;}
.head-search-display-block{display: block}
.table-top-bottom{margin-bottom: -10px;}