<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.AgencyMapper">


    <resultMap id="AgencyBill_Map" type="org.qydata.entity.agency.AgencyBill">
        <result column="agencyId" property="agencyId"/>
        <result column="price" property="price"/>
        <result column="cost" property="cost"/>
        <result column="rebateEndPrice" property="rebateEndPrice"/>
        <result column="resultCount" property="resultCount"/>
        <result column="agencyName" property="agencyName"/>
        <result column="taxRate" property="taxRate"/>
        <result column="rebateRate" property="rebateRate"/>
    </resultMap>

    <select id="queryAgencyBill" parameterType="map" resultMap="AgencyBill_Map">
        SELECT a.agencyId,a.price,a.cost,a.rebateEndPrice,a.resultCount,b.name agencyName,b.taxRate,b.rebateRate
        FROM
        (

            SELECT a.agencyId,c.price*count(c.resultCount) ,c.cost*count(c.resultCount),c.rebateEndPrice*count(c.resultCount),count(c.resultCount) resultCount
            FROM qyfinance.AgencyCustomer a
            LEFT JOIN qyfinance.finance_Customer b ON a.companyId = b.companyId
            LEFT JOIN qyfinance.CustomerRebateBill c ON b.id = c.customerId
            <where>
                <if test="agencyList != null and agencyList.length > 0">
                    AND a.agencyId IN
                    <foreach collection="agencyList" item="agency" index="index" open="(" close=")" separator=",">
                        #{agency}
                    </foreach>
                </if>
                <if test="cycList != null and cycList.length > 0">
                    AND c.cycle IN
                    <foreach collection="cycList" item="cyc" index="index" open="(" close=")" separator=",">
                        #{cyc}
                    </foreach>
                </if>
                <if test="cidList != null and cidList.length > 0">
                    AND c.customerId IN
                    <foreach collection="cidList" item="cid" index="index" open="(" close=")" separator=",">
                        #{cid}
                    </foreach>
                </if>
                <if test="noIncludeCache != null">
                    AND c.cost IS NOT NULL
                </if>
            </where>
            GROUP BY a.agencyId,c.price,c.cost,c.rebateEndPrice
        ) a
        LEFT JOIN qyfinance.RebateAgency b ON a.agencyId = b.id
    </select>

    <!--<select id="">-->
        <!--SELECT a.companyId,a.agencyId,b.name,b.taxRate,b.rebateRate,c.-->
        <!--FROM qyfinance.AgencyCustomer a-->
        <!--LEFT JOIN qyfinance.RebateAgency b ON a.agencyId = b.id-->
        <!--LEFT JOIN qyfinance.CustomerRebatePrice c ON a.companyId = c.companyId-->
    <!--</select>-->

    <!--<select id="">-->
        <!--SELECT-->
        <!--FROM qyfinance.CompanyApiTypeConsumeDayCount a-->
        <!--<where>-->
            <!--<if test="beginDate != null and beginDate != ''">-->
               <!--a.consuTime >= #{beginDate}-->
            <!--</if>-->
            <!--<if test="endDate != null and endDate != ''">-->
                <!--<![CDATA[-->
                <!--AND a.consuTime < #{endDate}-->
                <!--]]>-->
            <!--</if>-->
        <!--</where>-->
    <!--</select>-->


</mapper>

