<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.ApiFinanceMapper">

    <resultMap id="ApiFinance_Map" type="org.qydata.dst.ApiFinance" >
        <result column="apiId" property="apiId"/>
        <result column="apiTypeId" property="apiTypeId"/>
        <result column="apiTypeName" property="apiTypeName"/>
        <result column="vendorId" property="vendorId"/>
        <result column="vendorName" property="vendorName"/>
        <result column="apiName" property="apiName"/>
        <result column="status" property="status"/>
        <result column="balance" property="balance"/>
        <result column="weekTotleCost" property="weekTotleCost"/>
        <result column="monthTotleCost" property="monthTotleCost"/>
        <result column="consumeTotleAmount" property="consumeTotleAmount"/>
        <association property="mobileOperator" javaType="org.qydata.entity.MobileOperator">
            <result column="mobileOperatorId" property="id"/>
            <result column="mobileOperatorName" property="name"/>
        </association>
    </resultMap>


    <resultMap id="ApiFinance_ApiType_Map" type="org.qydata.dst.ApiFinance" >
        <result column="vendorId" property="vendorId"/>
        <result column="vendorName" property="vendorName"/>
        <result column="apiVendorStatus" property="status"/>
        <result column="balance" property="balance"/>
        <result column="weekTotleCost" property="weekTotleCost"/>
        <result column="monthTotleCost" property="monthTotleCost"/>
        <result column="consumeTotleAmount" property="consumeTotleAmount"/>
        <result column="partnerId" property="partnerId"/>
        <result column="partnerName" property="partnerName"/>
        <collection property="apiTypeList" ofType="org.qydata.entity.ApiType">
            <result column="apiTypeId" property="id"/>
            <result column="apiTypeName" property="name"/>
            <association property="mobileOperator" javaType="org.qydata.entity.MobileOperator">
                <result column="mobileOperatorName" property="name"/>
            </association>
            <association property="apiVendor" javaType="org.qydata.entity.ApiVendor">
                <result column="apiStatus" property="status"/>
            </association>
        </collection>
    </resultMap>

    <resultMap id="ApiRequestLog_Map" type="org.qydata.entity.ApiRequestLog">
        <result column="customerId" property="customerId"/>
        <result column="apiId" property="apiId"/>
        <result column="createTime" property="createTime"/>
        <association property="apiResponseLog" javaType="org.qydata.entity.ApiResponseLog">
            <result column="cost" property="cost"/>
            <result column="ok" property="ok"/>
            <result column="resTime" property="resTime"/>
        </association>
        <association property="company" javaType="org.qydata.entity.Company">
            <result column="companyName" property="name"/>
        </association>
    </resultMap>

    <!--Api财务总览-->
    <select id="queryApiOverAllFinance" parameterType="map" resultMap="ApiFinance_Map">
        SELECT aa.id apiId,aa.apiTypeId,aa.apiTypeName,aa.vendorId,aa.vendorName,aa.apiName,aa.mobileOperatorId,
        aa.mobileOperatorName,aa.status,bb.weekTotleCost,cc.monthTotleCost,dd.consumeTotleAmount
        FROM
        (
            SELECT a.id,a.apiTypeId,b.name apiTypeName,a.vendorId,a.vendorName,a.name apiName,a.status,
            c.mobileOperatorId,c.name mobileOperatorName
            FROM qyfinance.bkvwApi a
            LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId=b.id
            LEFT JOIN qyfinance.bkvwApiMobileOperator c ON a.id=c.apiId
        ) aa
        LEFT JOIN
        (
            SELECT apiId,totleCost weekTotleCost
            FROM qyfinance.bkvwApiWeekMonthAmount
            WHERE typeId=1 AND tableId=3 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x')
            AND weeks=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%v')
        ) bb ON aa.id=bb.apiId
        LEFT JOIN
        (
            SELECT apiId,totleCost monthTotleCost
            FROM qyfinance.bkvwApiWeekMonthAmount
            WHERE typeId=2 AND tableId=3 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%Y')
            AND months=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%m')
        ) cc ON aa.id=cc.apiId
        LEFT JOIN
        (
            SELECT sum(cost) consumeTotleAmount,apiId
            FROM qyfinance.bkvwApiRequestLog
            WHERE ok=1
            GROUP BY apiId
        ) dd ON aa.id=dd.apiId
        <where>
            <if test="status != null and status != '' or status == 0">
                aa.status=#{status}
            </if>
            <if test="vendorId != null and vendorId != ''">
                AND aa.vendorId=#{vendorId}
            </if>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND aa.apiTypeId=#{apiTypeId}
            </if>
        </where>
    </select>

    <!--Api财务总览-周消费总额-->
    <select id="getCountApiWeekFinance" parameterType="map" resultType="Integer">
        SELECT sum(bb.weekTotleCost)
        FROM qyfinance.bkvwApi aa
        LEFT JOIN
        (
            SELECT apiId,totleCost weekTotleCost
            FROM qyfinance.bkvwApiWeekMonthAmount
            WHERE typeId=1 AND tableId=3 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x')
            AND weeks=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%v')
        ) bb ON aa.id=bb.apiId
        <where>
            <if test="status != null and status != '' or status == 0">
                aa.status=#{status}
            </if>
            <if test="vendorId != null and vendorId != ''">
                AND aa.vendorId=#{vendorId}
            </if>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND aa.apiTypeId=#{apiTypeId}
            </if>
        </where>
    </select>

    <!--Api财务总览-月消费总额-->
    <select id="getCountApiMonthFinance" parameterType="map" resultType="Integer">
        SELECT sum(cc.monthTotleCost)
        FROM qyfinance.bkvwApi aa
        LEFT JOIN
        (
            SELECT apiId,totleCost monthTotleCost
            FROM qyfinance.bkvwApiWeekMonthAmount
            WHERE typeId=2 AND tableId=3 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%Y')
            AND months=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%m')
        ) cc ON aa.id=cc.apiId
        <where>
            <if test="status != null and status != '' or status == 0">
                aa.status=#{status}
            </if>
            <if test="vendorId != null and vendorId != ''">
                AND aa.vendorId=#{vendorId}
            </if>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND aa.apiTypeId=#{apiTypeId}
            </if>
        </where>
    </select>

    <!--Api财务总览-消费总额-->
    <select id="getCountApiTotleFinance" parameterType="map" resultType="Integer">
        SELECT sum(dd.consumeTotleAmount)
        FROM qyfinance.bkvwApi aa
        LEFT JOIN
        (
        SELECT sum(cost) consumeTotleAmount,apiId
        FROM qyfinance.bkvwApiRequestLog
        WHERE ok=1
        GROUP BY apiId
        ) dd ON aa.id=dd.apiId
        <where>
            <if test="status != null and status != '' or status == 0">
                aa.status=#{status}
            </if>
            <if test="vendorId != null and vendorId != ''">
                AND aa.vendorId=#{vendorId}
            </if>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND aa.apiTypeId=#{apiTypeId}
            </if>
        </where>
    </select>

    <!--查询Api类型-->
    <select id="queryApiType" parameterType="map" resultType="org.qydata.entity.ApiType">
        SELECT distinct(a.apiTypeId) id,b.name
        FROM qyfinance.bkvwApi a
        LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId=b.id
    </select>

    <!--查询供应商-->
    <select id="queryApiVendorName" parameterType="map" resultType="org.qydata.entity.ApiVendor">
        SELECT distinct(vendorId) id,vendorName name
        FROM qyfinance.bkvwApi
        <where>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND apiTypeId=#{apiTypeId}
            </if>
        </where>
    </select>

    <!--查询Api消费详情-->
    <select id="queryApiDetailById" parameterType="map" resultMap="ApiRequestLog_Map">
        SELECT a.customerId,a.apiId,a.cost,a.ok,a.resTime,a.createTime,b.companyName
        FROM qyfinance.bkvwApiRequestLog a
        LEFT JOIN qyfinance.bkvwCustomer b ON a.customerId=b.id
        WHERE a.ok=1 AND a.apiId=#{apiId}
        <if test="beginDate != null and beginDate != ''">
            <![CDATA[
            AND a.createTime>=str_to_date(#{beginDate},'%Y/%m/%d %H:%i:%s')
            ]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[
            AND a.createTime<=str_to_date(#{endDate},'%Y/%m/%d %H:%i:%s')
             ]]>
        </if>
    </select>

    <!--统计Api消费详情记录金额总计-->
    <select id="getCountApiDetailById" parameterType="map" resultType="Integer">
        SELECT sum(a.cost)
        FROM qyfinance.bkvwApiRequestLog a
        WHERE a.ok=1 AND a.apiId=#{apiId}
        <if test="beginDate != null and beginDate != ''">
            <![CDATA[
            AND a.createTime>=str_to_date(#{beginDate},'%Y/%m/%d %H:%i:%s')
            ]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[
            AND a.createTime<=str_to_date(#{endDate},'%Y/%m/%d %H:%i:%s')
             ]]>
        </if>
    </select>

    <!--查询ApiVendor余额-->
    <select id="queryApiVendorBalance" parameterType="Integer" resultType="org.qydata.entity.ApiVendorBalance">
        SELECT vendorId,balance FROM qyfinance.bkvwApiVendorBalance WHERE vendorId=#{param}
    </select>

    <!--插入ApiVendorBalance-->
    <insert id="insertApiVendorBalance" parameterType="org.qydata.entity.ApiVendorBalance" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qyfinance.ApiVendorBalance(vendorId,balance,createTime)
        VALUES(#{vendorId},0.0,sysdate())
    </insert>

    <!--ApiVendor充值-->
    <update id="updateApiVendorBalance" parameterType="Object">
      UPDATE qyfinance.ApiVendorBalance SET balance=#{param2} WHERE vendorId=#{param1}
    </update>

    <!--ApiVendor充值充值记录-->
    <insert id="insertApiVendorBalanceLog" parameterType="org.qydata.entity.ApiVendorBalanceLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qyfinance.ApiVendorBalanceLog(vendorId,amount,reasonId,remark,createTime)
        VALUES(#{vendorId},#{amount},1,#{remark},#{createTime})
    </insert>

    <!--以APIVendor统计消费信息-->
    <select id="queryApiVendor" parameterType="map" resultMap="ApiFinance_ApiType_Map">
        SELECT ee.vendorId,ee.vendorName,hh.status apiStatus,ee.weekTotleCost,ee.monthTotleCost,ee.consumeTotleAmount,
        ff.balance,gg.partnerId,gg.partnerName,gg.status apiVendorStatus,hh.apiTypeId,ii.name mobileOperatorName,jj.name apiTypeName
        FROM (
            SELECT aa.vendorId,aa.vendorName,sum(bb.weekTotleCost) weekTotleCost,sum(cc.monthTotleCost) monthTotleCost,
            sum(dd.consumeTotleAmount) consumeTotleAmount
            FROM qyfinance.bkvwApi aa
            LEFT JOIN
            (
                SELECT apiId,totleCost weekTotleCost
                FROM qyfinance.bkvwApiWeekMonthAmount
                WHERE typeId=1 AND tableId=3 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x')
                AND weeks=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%v')
            ) bb ON aa.id=bb.apiId
            LEFT JOIN
            (
                SELECT apiId,totleCost monthTotleCost
                FROM qyfinance.bkvwApiWeekMonthAmount
                WHERE typeId=2 AND tableId=3 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%Y')
                AND months=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%m')
            ) cc ON aa.id=cc.apiId
            LEFT JOIN
            (
                SELECT sum(cost) consumeTotleAmount,apiId
                FROM qyfinance.bkvwApiRequestLog
                WHERE ok=1
                GROUP BY apiId
            ) dd ON aa.id=dd.apiId
            GROUP BY aa.vendorId,aa.vendorName
        ) ee
        LEFT JOIN qyfinance.bkvwApiVendorBalance ff ON ee.vendorId=ff.vendorId
        LEFT JOIN qyfinance.bkvwApiVendor gg ON ee.vendorId=gg.vendorId
        LEFT JOIN qyfinance.bkvwApi hh ON ee.vendorId=hh.vendorId
        LEFT JOIN qyfinance.bkvwApiMobileOperator ii ON hh.id=ii.apiId
        LEFT JOIN qyfinance.bkvwApiType jj ON hh.apiTypeId=jj.id
        <where>
            <if test="vendorId != null and vendorId != ''">
                AND ee.vendorId=#{vendorId}
            </if>
            <if test="partnerId != null and partnerId != ''">
                AND gg.partnerId=#{partnerId}
            </if>
        </where>
    </select>

    <!--以APIVendor统计消费信息-周消费总额-->
    <select id="getCountWeekApiVendor" parameterType="map" resultType="Integer">
        SELECT sum(ee.weekTotleCost)
        FROM (
            SELECT aa.vendorId,aa.vendorName,sum(bb.weekTotleCost) weekTotleCost
            FROM qyfinance.bkvwApi aa
            LEFT JOIN
            (
                SELECT apiId,totleCost weekTotleCost
                FROM qyfinance.bkvwApiWeekMonthAmount
                WHERE typeId=1 AND tableId=3 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x')
                AND weeks=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%v')
            ) bb ON aa.id=bb.apiId
            GROUP BY aa.vendorId,aa.vendorName
        ) ee
        LEFT JOIN qyfinance.bkvwApiVendor gg ON ee.vendorId=gg.vendorId
        <where>
            <if test="vendorId != null and vendorId != ''">
                AND ee.vendorId=#{vendorId}
            </if>
            <if test="partnerId != null and partnerId != ''">
                AND gg.partnerId=#{partnerId}
            </if>
        </where>
    </select>

    <!--以APIVendor统计消费信息-月消费总额-->
    <select id="getCountMonthApiVendor" parameterType="map" resultType="Integer">
        SELECT sum(ee.monthTotleCost)
        FROM (
            SELECT aa.vendorId,aa.vendorName,sum(cc.monthTotleCost) monthTotleCost
            FROM qyfinance.bkvwApi aa
            LEFT JOIN
            (
                SELECT apiId,totleCost monthTotleCost
                FROM qyfinance.bkvwApiWeekMonthAmount
                WHERE typeId=2 AND tableId=3 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%Y')
                AND months=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%m')
            ) cc ON aa.id=cc.apiId
            GROUP BY aa.vendorId,aa.vendorName
        ) ee
        LEFT JOIN qyfinance.bkvwApiVendor gg ON ee.vendorId=gg.vendorId
        <where>
            <if test="vendorId != null and vendorId != ''">
                AND ee.vendorId=#{vendorId}
            </if>
            <if test="partnerId != null and partnerId != ''">
                AND gg.partnerId=#{partnerId}
            </if>
        </where>
    </select>

    <!--以APIVendor统计消费信息-消费总额-->
    <select id="getCountTotleApiVendor" parameterType="map" resultType="Integer">
        SELECT sum(ee.consumeTotleAmount)
        FROM (
            SELECT aa.vendorId,aa.vendorName,sum(dd.consumeTotleAmount) consumeTotleAmount
            FROM qyfinance.bkvwApi aa
            LEFT JOIN
            (
                SELECT sum(cost) consumeTotleAmount,apiId
                FROM qyfinance.bkvwApiRequestLog
                WHERE ok=1
                GROUP BY apiId
            ) dd ON aa.id=dd.apiId
            GROUP BY aa.vendorId,aa.vendorName
        ) ee
        LEFT JOIN qyfinance.bkvwApiVendor gg ON ee.vendorId=gg.vendorId
        <where>
            <if test="vendorId != null and vendorId != ''">
                AND ee.vendorId=#{vendorId}
            </if>
            <if test="partnerId != null and partnerId != ''">
                AND gg.partnerId=#{partnerId}
            </if>
        </where>
    </select>

</mapper>

