<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.ApiFinanceMapper">

    <resultMap id="ApiFinance_Map" type="org.qydata.dst.ApiFinance" >
        <result column="apiId" property="apiId"/>
        <result column="apiTypeId" property="apiTypeId"/>
        <result column="apiTypeName" property="apiTypeName"/>
        <result column="vendorId" property="vendorId"/>
        <result column="vendorName" property="vendorName"/>
        <result column="apiName" property="apiName"/>
        <result column="balance" property="balance"/>
        <result column="weekTotleCost" property="weekTotleCost"/>
        <result column="monthTotleCost" property="monthTotleCost"/>
        <result column="consumeTotleAmount" property="consumeTotleAmount"/>
        <association property="mobileOperator" javaType="org.qydata.entity.MobileOperator">
            <result column="mobileOperatorId" property="id"/>
            <result column="mobileOperatorName" property="name"/>
        </association>
    </resultMap>


    <resultMap id="ApiFinance_ApiType_Map" type="org.qydata.dst.ApiFinance" >
        <result column="vendorId" property="vendorId"/>
        <result column="vendorName" property="vendorName"/>
        <result column="balance" property="balance"/>
        <result column="weekTotleCost" property="weekTotleCost"/>
        <result column="monthTotleCost" property="monthTotleCost"/>
        <result column="consumeTotleAmount" property="consumeTotleAmount"/>
        <result column="partnerId" property="partnerId"/>
        <result column="partnerName" property="partnerName"/>
        <collection property="apiTypeList" ofType="org.qydata.entity.ApiType">
            <result column="apiTypeId" property="id"/>
            <result column="apiTypeName" property="name"/>
            <association property="mobileOperator" javaType="org.qydata.entity.MobileOperator">
                <result column="mobileOperatorName" property="name"/>
            </association>
        </collection>
    </resultMap>

    <resultMap id="ApiRequestLog_Map" type="org.qydata.entity.ApiRequestLog">
        <result column="customerId" property="customerId"/>
        <result column="apiId" property="apiId"/>
        <result column="createTime" property="createTime"/>
        <association property="apiResponseLog" javaType="org.qydata.entity.ApiResponseLog">
            <result column="cost" property="cost"/>
            <result column="ok" property="ok"/>
            <result column="resTime" property="resTime"/>
        </association>
        <association property="company" javaType="org.qydata.entity.Company">
            <result column="companyName" property="name"/>
        </association>
    </resultMap>



    <!--Api财务总览-->
    <select id="queryApiOverAllFinance" parameterType="map" resultMap="ApiFinance_Map">
        SELECT ee.id apiId,ee.apiTypeId,ee.apiTypeName,ee.vendorId,ee.vendorName,ee.apiName,ee.weekTotleCost,ee.monthTotleCost,
        ff.consumeTotleAmount,ee.mobileOperatorId,ee.mobileOperatorName
        FROM
        (
        SELECT cc.id,cc.apiTypeId,cc.apiTypeName,cc.vendorId,cc.vendorName,cc.apiName,cc.weekTotleCost,dd.monthTotleCost,
        cc.mobileOperatorId,cc.mobileOperatorName
        FROM
        (
        SELECT aa.id,aa.apiTypeId,aa.apiTypeName,aa.vendorId,aa.vendorName,aa.apiName,bb.weekTotleCost,aa.mobileOperatorId,
        aa.mobileOperatorName
        FROM
        (
        SELECT a.id,a.apiTypeId,b.name apiTypeName,a.vendorId,a.vendorName,a.name apiName,
        c.mobileOperatorId,c.name mobileOperatorName
        FROM qyfinance.bkvwApi a LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId=b.id
        LEFT JOIN qyfinance.bkvwApiMobileOperator c ON a.id=c.apiId
        WHERE a.status=0
        ) aa LEFT JOIN
        (
        SELECT apiId,totleCost weekTotleCost
        FROM qyfinance.bkvwApiWeekMonthAmount
        WHERE typeId=1 AND tableId=3 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x')
        AND weeks=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%v')
        ) bb ON aa.id=bb.apiId
        ) cc LEFT JOIN
        (
        SELECT apiId,totleCost monthTotleCost
        FROM qyfinance.bkvwApiWeekMonthAmount
        WHERE typeId=2 AND tableId=3 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%Y')
        AND months=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%m')
        ) dd ON cc.id=dd.apiId
        ) ee LEFT JOIN
        (
        SELECT SUM(cost) consumeTotleAmount,apiId
        FROM qyfinance.bkvwApiRequestLog
        WHERE ok=1
        GROUP BY apiId
        ) ff ON ee.id=ff.apiId
        <where>
            <if test="vendorId != null and vendorId != ''">
                ee.vendorId=#{vendorId}
            </if>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND ee.apiTypeId=#{apiTypeId}
            </if>
        </where>
    </select>

    <!--查询Api类型-->
    <select id="queryApiType" parameterType="map" resultType="org.qydata.entity.ApiType">
        SELECT distinct(a.apiTypeId) id,b.name
        FROM qyfinance.bkvwApi a LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId=b.id
        WHERE a.status=0
    </select>

    <!--查询供应商-->
    <select id="queryApiVendorName" parameterType="map" resultType="org.qydata.entity.ApiVendor">
        SELECT distinct(vendorId) id,vendorName name
        FROM qyfinance.bkvwApi
        WHERE status=0
        <if test="apiTypeId != null and apiTypeId != ''">
            AND apiTypeId=#{apiTypeId}
        </if>
    </select>

    <!--查询Api消费详情-->
    <select id="queryApiDetailById" parameterType="map" resultMap="ApiRequestLog_Map">
        SELECT a.customerId,a.apiId,a.cost,a.ok,a.resTime,a.createTime,b.companyName
        FROM qyfinance.bkvwApiRequestLog a LEFT JOIN qyfinance.bkvwCustomer b ON a.customerId=b.id
        WHERE a.ok=1 AND a.apiId=#{apiId}
        <if test="beginDate != null and beginDate != ''">
            <![CDATA[
            AND a.createTime>=str_to_date(#{beginDate},'%Y/%m/%d %H:%i:%s')
            ]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[
            AND a.createTime<=str_to_date(#{endDate},'%Y/%m/%d %H:%i:%s')
             ]]>
        </if>
    </select>

    <!--查询ApiVendor余额-->
    <select id="queryApiVendorBalance" parameterType="Integer" resultType="org.qydata.entity.ApiVendorBalance">
        SELECT vendorId,balance FROM qyfinance.bkvwApiVendorBalance WHERE vendorId=#{param}
    </select>

    <!--插入ApiVendorBalance-->
    <insert id="insertApiVendorBalance" parameterType="org.qydata.entity.ApiVendorBalance" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qyfinance.ApiVendorBalance(vendorId,balance,createTime)
        VALUES(#{vendorId},0.0,sysdate())
    </insert>

    <!--ApiVendor充值-->
    <update id="updateApiVendorBalance" parameterType="Object">
      UPDATE qyfinance.ApiVendorBalance SET balance=#{param2} WHERE vendorId=#{param1}
    </update>

    <!--ApiVendor充值充值记录-->
    <insert id="insertApiVendorBalanceLog" parameterType="org.qydata.entity.ApiVendorBalanceLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qyfinance.ApiVendorBalanceLog(vendorId,amount,reasonId,remark,createTime)
        VALUES(#{vendorId},#{amount},1,#{remark},#{createTime})
    </insert>

    <!--以APIVendor统计消费信息-->
    <select id="queryApiVendor" parameterType="map" resultMap="ApiFinance_ApiType_Map">
        SELECT gg.vendorId,gg.vendorName,gg.weekTotleCost,gg.monthTotleCost,gg.consumeTotleAmount,hh.balance,ii.partnerId,ii.partnerName,
        jj.apiTypeId,kk.name mobileOperatorName,ll.name apiTypeName
        FROM (
            SELECT ee.vendorId,ee.vendorName,sum(ee.weekTotleCost) weekTotleCost,sum(ee.monthTotleCost) monthTotleCost,
            sum(ff.consumeTotleAmount) consumeTotleAmount
            FROM
            (
                SELECT cc.id,cc.vendorId,cc.vendorName,cc.weekTotleCost,dd.monthTotleCost
                FROM
                (
                    SELECT aa.id,aa.vendorId,aa.vendorName,bb.weekTotleCost
                    FROM qyfinance.bkvwApi aa LEFT JOIN
                    (
                        SELECT apiId,totleCost weekTotleCost
                        FROM qyfinance.bkvwApiWeekMonthAmount
                        WHERE typeId=1 AND tableId=3 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x')
                        AND weeks=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%v')
                    ) bb ON aa.id=bb.apiId
                  WHERE aa.status=0
                ) cc LEFT JOIN
            (
                SELECT apiId,totleCost monthTotleCost
                FROM qyfinance.bkvwApiWeekMonthAmount
                WHERE typeId=2 AND tableId=3 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%Y')
                AND months=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%m')
            ) dd ON cc.id=dd.apiId
        ) ee LEFT JOIN
        (
            SELECT sum(cost) consumeTotleAmount,apiId
            FROM qyfinance.bkvwApiRequestLog
            WHERE ok=1
            GROUP BY apiId
        ) ff ON ee.id=ff.apiId
        GROUP BY ee.vendorId,ee.vendorName
        ) gg LEFT JOIN qyfinance.bkvwApiVendorBalance hh ON gg.vendorId=hh.vendorId LEFT JOIN qyfinance.bkvwApiVendor ii ON gg.vendorId=ii.vendorId
        LEFT JOIN qyfinance.bkvwApi jj ON gg.vendorId=jj.vendorId LEFT JOIN qyfinance.bkvwApiMobileOperator kk ON jj.id=kk.apiId
        LEFT JOIN qyfinance.bkvwApiType ll ON jj.apiTypeId=ll.id
        <where>
            <if test="vendorId != null and vendorId != ''">
                AND gg.vendorId=#{vendorId}
            </if>
            <if test="partnerId != null and partnerId != ''">
                AND ii.partnerId=#{partnerId}
            </if>
       </where>
    </select>

</mapper>

