<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.ApiMapper">

    <resultMap id="Api_Map" type="org.qydata.entity.Api">
        <result column="apiId" property="id"/>
        <result column="apiName" property="name"/>
        <result column="cost" property="cost"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="Api_ApiType_Map" type="org.qydata.entity.Api" extends="Api_Map">
        <association property="apiType" javaType="org.qydata.entity.ApiType">
            <result column="apiTypeId" property="id"/>
            <result column="apiTypeName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="Api_ApiType_ApiVendor_Map" type="org.qydata.entity.Api" extends="Api_ApiType_Map">
        <association property="apiVendor" javaType="org.qydata.entity.ApiVendor">
            <result column="vendorId" property="id"/>
            <result column="vendorName" property="name"/>
            <association property="partner" javaType="org.qydata.entity.Partner">
                <result column="partnerId" property="id"/>
                <result column="partnerName" property="name"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="Api_ApiType_ApiVendor_ApiProxy_Map" type="org.qydata.entity.Api" extends="Api_ApiType_ApiVendor_Map">
        <association property="proxyApi" javaType="org.qydata.dst.ProxyApi">
            <result column="proxyApiId" property="proxyApiId"/>
            <result column="proxyApiTypeId" property="proxyApiTypeId"/>
            <result column="proxyApiTypeName" property="proxyApiTypeName"/>
            <result column="minCost" property="minCost"/>
            <result column="apiTypeCount" property="apiTypeCount"/>
        </association>
    </resultMap>

    <resultMap id="Api_ApiType_ApiVendor_ApiProxy_MobileOperator_Map" type="org.qydata.entity.Api" extends="Api_ApiType_ApiVendor_ApiProxy_Map">
        <collection property="mobileOperatorList" ofType="org.qydata.entity.MobileOperator">
            <result column="mobileOperatorId" property="id"/>
            <result column="mobileOperatorName" property="name"/>
        </collection>
    </resultMap>


    <resultMap id="ApiType_Map" type="org.qydata.entity.ApiType">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <resultMap id="ApiVendor_Map" type="org.qydata.entity.ApiVendor">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <association property="partner" javaType="org.qydata.entity.Partner">
            <result column="partnerId" property="id"/>
            <result column="partnerName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="ApiVendorByApiTypeId_Map" type="org.qydata.entity.ApiVendor">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <resultMap id="Company_Partner_Map" type="org.qydata.entity.Company">
        <result column="companyId" property="id"/>
        <result column="companyName" property="name"/>
        <association property="partner" javaType="org.qydata.entity.Partner">
            <result column="partnerId" property="id"/>
            <result column="partnerName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="ApiBan_Map" type="org.qydata.entity.ApiBan">
        <result column="apiId" property="apiId"/>
        <result column="totleCount" property="totleCount"/>
        <result column="failCount" property="failCount"/>
        <result column="fc" property="fc"/>
        <result column="ts" property="ts"/>
        <result column="apiTypeId" property="apiTypeId"/>
        <result column="apiTypeName" property="apiTypeName"/>
        <result column="vendorId" property="vendorId"/>
        <result column="vendorName" property="vendorName"/>
        <result column="partnerId" property="partnerId"/>
        <result column="partnerName" property="partnerName"/>
        <collection property="mobileOperatorList" ofType="org.qydata.entity.MobileOperator">
            <result column="mobileOperatorId" property="id"/>
            <result column="mobileOperatorName" property="name"/>
        </collection>
    </resultMap>

    <!--查询产品-->
    <select id="queryApi" parameterType="map" resultMap="Api_ApiType_ApiVendor_ApiProxy_MobileOperator_Map">
        SELECT aa.apiId,aa.apiName,aa.apiTypeId,aa.apiTypeName,aa.vendorId,aa.vendorName,aa.cost,
        aa.proxyApiId,aa.partnerId,aa.partnerName,aa.proxyApiTypeId,aa.mobileOperatorId,aa.mobileOperatorName,
        aa.status,bb.name proxyApiTypeName,ifnull(cc.minCost,dd.minCost) minCost,
        ifnull(cc.apiTypeCount,dd.apiTypeCount) apiTypeCount
        FROM qyfinance.bkvw_api_ApiTypeVendorPartner aa
        LEFT JOIN qyfinance.bkvwApiType bb ON aa.proxyApiTypeId=bb.id
        LEFT JOIN
                (
                    SELECT a.apiTypeId,b.mobileOperatorId,min(a.cost) minCost,count(a.apiTypeId) apiTypeCount
                    FROM qyfinance.bkvwApi a
                    LEFT JOIN qyfinance.bkvwApiMobileOperator b ON a.id=b.apiId
                    GROUP BY a.apiTypeId,b.mobileOperatorId
                ) cc ON aa.apiTypeId=cc.apiTypeId AND aa.mobileOperatorId=cc.mobileOperatorId
        LEFT JOIN
                (
                    SELECT apiTypeId,min(cost) minCost,count(apiTypeId) apiTypeCount
                    FROM qyfinance.bkvwApi
                    GROUP BY apiTypeId
                ) dd ON aa.apiTypeId=dd.apiTypeId
        <where>
            <if test="status != null and status != '' or status == 0">
                aa.status=#{status}
            </if>
            <if test="vendorId != null and vendorId != ''">
               AND aa.vendorId=#{vendorId}
            </if>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND aa.apiTypeId=#{apiTypeId}
            </if>
            <if test="partnerId != null and partnerId != ''">
                AND aa.partnerId=#{partnerId}
            </if>
        </where>
    </select>

    <!--查询产品类型-->
    <select id="queryApiType" resultMap="ApiType_Map">
        SELECT distinct(a.apiTypeId) id,b.name
        FROM qyfinance.bkvwApi a LEFT JOIN qyfinance.bkvwApiType b ON a.apiTypeId=b.id
    </select>

    <!--查询产品供应商-->
    <select id="queryApiVendor" resultMap="ApiVendor_Map">
        SELECT distinct(a.vendorId) id,a.vendorName name,b.id partnerId,b.name partnerName
        FROM qyfinance.bkvwApi a LEFT JOIN qyfinance.bkvwPartner b
        ON a.partnerId=b.id
    </select>

    <!--根据产品类型查询产品供应商-->
    <select id="queryApiVendorByApiTypeId" parameterType="Integer" resultMap="ApiVendorByApiTypeId_Map">
        SELECT DISTINCT(vendorId) id,vendorName name
        FROM qyfinance.bkvwApi
        WHERE apiTypeId=#{param}
    </select>

    <!--以客户纬度查询产品-->
    <select id="queryApiByCompanyId" parameterType="map" resultType="org.qydata.dst.CustomerApiPartner">
        SELECT a.id,a.companyId,a.apiTypeId,a.apiTypeName,a.subTypeId,a.subTypeName,a.price,a.enabled,
        b.partnerId,b.partnerName,b.companyName,b.companyStatus
        FROM qyfinance.bkvw_api_CompanyApi a
        LEFT JOIN qyfinance.bkvw_api_CustomerCompanyPartner b ON a.companyId=b.companyId
        <where>
            <if test="enabled != null and enabled != '' or enabled == 0">
                a.enabled=#{enabled}
            </if>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND a.apiTypeId=#{apiTypeId}
            </if>
            <if test="companyId != null and companyId != ''">
                AND a.companyId=#{companyId}
            </if>
            <if test="partnerId != null and partnerId != ''">
                AND b.partnerId=#{partnerId}
            </if>
        </where>
    </select>

    <!--查询所有公司-->
    <select id="queryCompany" resultMap="Company_Partner_Map">
        SELECT companyId,companyName,partnerId,partnerName
        FROM qyfinance.bkvw_api_CustomerCompanyPartner
    </select>

    <!--产品监控-->
    <select id="queryApiMonitor" parameterType="map" resultMap="ApiBan_Map">
        SELECT aaa.apiId,aaa.totleCount,aaa.failCount,
        bbb.fc,bbb.ts,bbb.apiTypeId,bbb.apiTypeName,bbb.vendorId,bbb.vendorName,bbb.partnerId,bbb.partnerName,
        bbb.mobileOperatorId,bbb.mobileOperatorName
        FROM
        (
            SELECT
            success.apiId,
            ifnull(success.successCount,0) successCount,
            ifnull(fail.failCount,0) failCount,
            ifnull(success.successCount,0)+ifnull(fail.failCount,0) totleCount
            FROM
            (
                SELECT a.apiId,ifnull(count(b.id),0) successCount
                FROM
                (
                        SELECT aa.apiId
                        FROM qydata.ApiBan aa
                        LEFT JOIN qydata.Api bb ON aa.apiId = bb.id
                        WHERE bb.status = 0
                ) a
                LEFT JOIN qyfinance.finance_ApiRequestLog b ON a.apiId = b.apiId
                LEFT JOIN qyfinance.finance_ApiResponseLog c ON b.id = c.requestLogId
                WHERE c.createTime >= #{time} AND c.ok = 1
                GROUP BY a.apiId
            ) success
            LEFT JOIN
            (
                SELECT a.apiId,ifnull(count(b.id),0) failCount
                FROM
                (
                        SELECT aa.apiId
                        FROM qydata.ApiBan aa
                        LEFT JOIN qydata.Api bb ON aa.apiId = bb.id
                        WHERE bb.status = 0
                ) a
                LEFT JOIN qyfinance.finance_ApiRequestLog b ON a.apiId = b.apiId
                LEFT JOIN qyfinance.finance_ApiResponseLog c ON b.id = c.requestLogId
                WHERE c.createTime >= #{time} AND c.ok = 0
                GROUP BY a.apiId
            ) fail ON success.apiId = fail.apiId
        ) aaa
        INNER JOIN qyfinance.bkvwApiBan bbb ON aaa.apiId = bbb.apiId
    </select>

</mapper>

