<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.ApiMapper">

    <resultMap id="Api_Map" type="org.qydata.entity.Api">
        <result column="apiId" property="id"/>
        <result column="apiName" property="name"/>
        <result column="cost" property="cost"/>
    </resultMap>

    <resultMap id="Api_ApiType_Map" type="org.qydata.entity.Api" extends="Api_Map">
        <association property="apiType" javaType="org.qydata.entity.ApiType">
            <result column="apiTypeId" property="id"/>
            <result column="apiTypeName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="Api_ApiType_ApiVendor_Map" type="org.qydata.entity.Api" extends="Api_ApiType_Map">
        <association property="apiVendor" javaType="org.qydata.entity.ApiVendor">
            <result column="vendorId" property="id"/>
            <result column="vendorName" property="name"/>
            <association property="partner" javaType="org.qydata.entity.Partner">
                <result column="partnerId" property="partnerId"/>
                <result column="partnerName" property="partnerName"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="Api_ApiType_ApiVendor_ApiProxy_Map" type="org.qydata.entity.Api" extends="Api_ApiType_ApiVendor_Map">
        <association property="proxyApi" javaType="org.qydata.dst.ProxyApi">
            <result column="proxyApiId" property="proxyApiId"/>
            <result column="proxyApiTypeId" property="proxyApiTypeId"/>
            <result column="proxyApiTypeName" property="proxyApiTypeName"/>
            <result column="proxyMobileOperatorName" property="proxyMobileOperatorName"/>
            <result column="minCost" property="minCost"/>
            <result column="apiTypeCount" property="apiTypeCount"/>
        </association>
    </resultMap>

    <resultMap id="Api_ApiType_ApiVendor_ApiProxy_MobileOperator_Map" type="org.qydata.entity.Api" extends="Api_ApiType_ApiVendor_ApiProxy_Map">
        <association property="mobileOperator" javaType="org.qydata.entity.MobileOperator">
            <result column="mobileOperatorId" property="id"/>
            <result column="mobileOperatorName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="ApiType_Map" type="org.qydata.entity.ApiType">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <resultMap id="ApiVendor_Map" type="org.qydata.entity.ApiVendor">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <association property="partner" javaType="org.qydata.entity.Partner">
            <result column="partnerId" property="id"/>
            <result column="partnerName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="ApiVendorByApiTypeId_Map" type="org.qydata.entity.ApiVendor">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <!--查询产品-->
    <select id="queryApi" resultMap="Api_ApiType_ApiVendor_ApiProxy_MobileOperator_Map">
       SELECT aa.apiId,aa.apiName,aa.apiTypeId,aa.apiTypeName,aa.vendorId,aa.vendorName,aa.cost,
       aa.proxyApiId,aa.partnerId,aa.partnerName,aa.proxyApiTypeId,aa.proxyApiTypeName,aa.proxyMobileOperatorName,
       aa.mobileOperatorId,aa.mobileOperatorName,ifnull(bb.minCost,hh.minCost) minCost,
        ifnull(bb.apiTypeCount,hh.apiTypeCount) apiTypeCount
       FROM
       (
        SELECT cc.apiId,cc.apiName,cc.apiTypeId,cc.apiTypeName,cc.vendorId,cc.vendorName,cc.cost,
        cc.proxyApiId,cc.partnerId,cc.partnerName,cc.proxyApiTypeId,dd.name proxyApiTypeName,ee.name proxyMobileOperatorName,cc.mobileOperatorId,cc.mobileOperatorName
        FROM qyfinance.bkvw_api_ApiTypeVendorPartner cc
        LEFT JOIN qyfinance.bkvwApiType dd ON cc.proxyApiTypeId=dd.id
        LEFT JOIN qyfinance.bkvwApiMobileOperator ee ON cc.proxyApiId=ee.apiId
        ) aa LEFT JOIN
        (
        SELECT a.apiTypeId,b.mobileOperatorId,min(a.cost) minCost,count(a.apiTypeId) apiTypeCount
        FROM qyfinance.bkvwApi a LEFT JOIN qyfinance.bkvwApiMobileOperator b ON a.id=b.apiId
        GROUP BY a.apiTypeId,b.mobileOperatorId
        ) bb ON aa.apiTypeId=bb.apiTypeId AND aa.mobileOperatorId=bb.mobileOperatorId
        LEFT JOIN
        (
        SELECT apiTypeId,min(cost) minCost,count(apiTypeId) apiTypeCount
        FROM qyfinance.bkvwApi
        GROUP BY apiTypeId
        ) hh ON aa.apiTypeId=hh.apiTypeId
        <where>
            <if test="vendorId != null and vendorId != ''">
                aa.vendorId=#{vendorId}
            </if>
            <if test="apiTypeId != null and apiTypeId != ''">
                AND aa.apiTypeId=#{apiTypeId}
            </if>
        </where>
    </select>

    <!--查询产品类型-->
    <select id="queryApiType" resultMap="ApiType_Map">
        SELECT id,name
        FROM qyfinance.bkvwApiType
    </select>

    <!--查询产品供应商-->
    <select id="queryApiVendor" resultMap="ApiVendor_Map">
        SELECT a.id,ifnull(a.chineseName,a.name) name,b.id partnerId,b.name partnerName
        FROM qyfinance.bkvwApiVendorChinese a LEFT JOIN qyfinance.bkvwPartner b
        ON a.partnerId=b.id
    </select>

    <!--根据产品类型查询产品供应商-->
    <select id="queryApiVendorByApiTypeId" parameterType="Integer" resultMap="ApiVendorByApiTypeId_Map">
        SELECT DISTINCT(vendorId) id,vendorName name
        FROM qyfinance.bkvwApi
        WHERE apiTypeId=#{param}
    </select>


</mapper>

