<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.BackGroundCustomerBalanceLogMapper">


    <!--新增日志-->
    <insert id="createLog" parameterType="org.qydata.entity.log.Log" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO qyfinance.BackGroundCustomerBalanceLog(customerId,typeId,amount,userId,createTime)
        VALUES(#{customerId},#{typeId},#{amount},#{userId},now())
    </insert>


</mapper>

