<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.CompanyMapper">

    <resultMap id="Api_Map" type="org.qydata.entity.Api">
        <id column="apiId" property="id"/>
        <result column="apiTypeId" property="apiTypeId"/>
        <result column="vendorId" property="vendorId"/>
        <result column="cost" property="cost"/>
        <result column="apiName" property="name"/>
    </resultMap>

    <resultMap id="Api_ApiType_Map" type="org.qydata.entity.Api" extends="Api_Map">
        <association property="apiType" javaType="org.qydata.entity.ApiType">
            <result column="apiTypeName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="Api_ApiMobileOperator_Map" type="org.qydata.entity.Api" extends="Api_ApiType_Map">
        <association property="apiMobileOperator" javaType="org.qydata.entity.ApiMobileOperator">
            <association property="mobileOperator" javaType="org.qydata.entity.MobileOperator">
                <id column="mobileOperatorId" property="id"/>
                <result column="mobileOperatorName" property="name"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="Api_Customer" type="org.qydata.entity.Api" extends="Api_ApiMobileOperator_Map">
        <collection property="customerList" ofType="org.qydata.entity.Customer">
            <id column="customerId" property="id"/>
            <result column="companyId" property="companyId"/>
            <result column="authId" property="authId"/>
        </collection>
    </resultMap>

    <resultMap id="Customer_CustomerType_CustomerStatus" type="org.qydata.entity.Customer" >
        <result column="id" property="id"/>
        <result column="typeId" property="typeId"/>
        <result column="name" property="name"/>
        <result column="authId" property="authId"/>
        <result column="authPass" property="authPass"/>
        <result column="balance" property="balance"/>
        <result column="status" property="status"/>
        <result column="createTime" property="createTime"/>
        <association property="customerType" javaType="org.qydata.entity.CustomerType">
            <result column="qctname" property="name"/>
        </association>
        <association property="customerStatus" javaType="org.qydata.entity.CustomerStatus">
            <result column="qcsname" property="name"/>
        </association>
    </resultMap>

    <resultMap id="CustomerApi_Map" type="org.qydata.entity.CustomerApi">
        <id column="customerApiId" property="id"/>
        <result column="apiId" property="apiId"/>
        <result column="customerId" property="customerId"/>
        <result column="price" property="price"/>
        <result column="enabled" property="enabled"/>
        <result column="createTime" property="createTime"/>
        <association property="customer" javaType="org.qydata.entity.Customer">
            <result column="companyId" property="companyId"/>
        </association>
    </resultMap>

    <resultMap id="CustomerApi_Api_ApiType_Map" type="org.qydata.entity.CustomerApi" extends="CustomerApi_Map">
        <association property="api" javaType="org.qydata.entity.Api">
            <result column="apiTypeId" property="apiTypeId"/>
            <result column="vendorId" property="vendorId"/>
            <result column="apiName" property="name"/>
            <association property="apiType" javaType="org.qydata.entity.ApiType">
                <result column="apiTypeName" property="name"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="CustomerApi_Api_ApiType_ApiMobileOperator_Map" type="org.qydata.entity.CustomerApi" extends="CustomerApi_Map">
        <association property="api" javaType="org.qydata.entity.Api">
            <result column="apiTypeId" property="apiTypeId"/>
            <result column="vendorId" property="vendorId"/>
            <result column="apiName" property="name"/>
            <association property="apiType" javaType="org.qydata.entity.ApiType">
                <result column="apiTypeName" property="name"/>
            </association>
            <association property="apiMobileOperator" javaType="org.qydata.entity.ApiMobileOperator">
                <association property="mobileOperator" javaType="org.qydata.entity.MobileOperator">
                    <result column="mobileOperatorName" property="name"/>
                </association>
            </association>
        </association>
    </resultMap>

    <resultMap id="CustomerApiInfo_Map" type="org.qydata.dst.CustomerApiInfo">
        <result column="apiTypeName" property="apiTypeName"/>
        <result column="apiId" property="apiId"/>
        <result column="price" property="price"/>
        <result column="enabled" property="enabled"/>
        <result column="mobileOperatorName" property="mobileOperatorName"/>
        <result column="companyId" property="companyId"/>
    </resultMap>

    <resultMap id="CustomerApiInfo_Customer_Map" type="org.qydata.dst.CustomerApiInfo" extends="CustomerApiInfo_Map">
       <collection property="customerList" ofType="org.qydata.entity.Customer">
           <result column="customerId" property="id"/>
           <result column="authId" property="authId"/>
       </collection>
    </resultMap>


    <resultMap id="CustomerCompany_Map" type="org.qydata.dst.CustomerCompanyPartner">
        <result column="companyId" property="companyId"/>
        <result column="companyBalance" property="companyBalance"/>
        <result column="companyName" property="companyName"/>
        <result column="partnerId" property="partnerId"/>
        <result column="partnerName" property="partnerName"/>
        <result column="companyCreateTime" property="companyCreateTime"/>
    </resultMap>

    <resultMap id="CustomerCompany_Customer_Map" type="org.qydata.dst.CustomerCompanyPartner" extends="CustomerCompany_Map">
       <collection property="customerList" ofType="org.qydata.entity.Customer">
           <result column="customerId" property="id"/>
           <result column="authId" property="authId"/>
           <result column="authPass" property="authPass"/>
           <result column="balance" property="balance"/>
           <result column="customerCreateTime" property="createTime"/>
           <association property="customerType" javaType="org.qydata.entity.CustomerType">
               <result column="typeId" property="id"/>
               <result column="typeName" property="name"/>
           </association>
           <association property="customerStatus" javaType="org.qydata.entity.CustomerStatus">
               <result column="status" property="id"/>
               <result column="statusName" property="name"/>
           </association>
       </collection>
    </resultMap>


    <!--查找客户信息-->
    <select id="findAllCompany" parameterType="map" resultMap="CustomerCompany_Customer_Map">
        SELECT cc.customerId,cc.typeId,cc.typeName,cc.authId,cc.authPass,cc.balance,cc.createTime customerCreateTime,cc.status,cc.statusName,
        dd.companyId,dd.companyBalance,dd.companyName,dd.partnerId,dd.partnerName,dd.timestamp companyCreateTime
        FROM
        (
        SELECT a.id customerId,a.typeId,a.typeName,a.authId,a.authPass,a.balance,a.createTime,a.status,a.statusName,
        a.companyId,a.companyName,a.partnerId,b.name partnerName
        FROM qyfinance.bkvwCustomer a LEFT JOIN qyfinance.bkvwPartner b ON a.partnerId=b.id
        ) cc  LEFT JOIN
        (
        SELECT aa.companyId,aa.companyBalance,bb.companyName,bb.partnerId,bb.partnerName,bb.timestamp
        FROM
        (
        SELECT companyId,sum(balance) companyBalance
        FROM qyfinance.bkvwCustomer
        WHERE typeId=1 AND status=0
        GROUP BY companyId
        ) aa LEFT JOIN qyfinance.bkvw_company_customer bb ON aa.companyId=bb.companyId
        ) dd ON cc.companyId=dd.companyId
        <where>
            <if test="partnerId!=null and partnerId!=''">
                cc.partnerId=#{partnerId}
            </if>
            <if test="content!=null and content!=''">
                AND dd.companyName like '%${content}%'
            </if>
        </where>
    </select>

    <!--通过部门编号查找客户信息-->
    <select id="findAllCompanyByDeptId" parameterType="map" resultMap="CustomerCompany_Customer_Map">
        SELECT cc.customerId,cc.typeId,cc.typeName,cc.authId,cc.authPass,cc.balance,cc.createTime customerCreateTime,cc.status,cc.statusName,
        dd.companyId,dd.companyBalance,dd.companyName,dd.partnerId,dd.partnerName,dd.timestamp companyCreateTime
        FROM
        (
        SELECT a.id customerId,a.typeId,a.typeName,a.authId,a.authPass,a.balance,a.createTime,a.status,a.statusName,
        a.companyId,a.companyName,a.partnerId,b.name partnerName
        FROM qyfinance.bkvwCustomer a LEFT JOIN qyfinance.bkvwPartner b ON a.partnerId=b.id
        WHERE a.id IN
                        (
                            SELECT customerId
                            FROM qyfinance.bkvwCustomerDept
                            WHERE deptId IN
                                        <foreach collection="deptIdList" item="deptId" index="index" open="(" close=")" separator=",">
                                            #{deptId}
                                        </foreach>
                        )
        ) cc  LEFT JOIN
        (
        SELECT aa.companyId,aa.companyBalance,bb.companyName,bb.partnerId,bb.partnerName,bb.timestamp
        FROM
        (
        SELECT companyId,sum(balance) companyBalance
        FROM qyfinance.bkvwCustomer
        WHERE typeId=1 AND status=0
        GROUP BY companyId
        ) aa LEFT JOIN qyfinance.bkvw_company_customer bb ON aa.companyId=bb.companyId
        ) dd ON cc.companyId=dd.companyId
        <where>
            <if test="partnerId!=null and partnerId!=''">
                cc.partnerId=#{partnerId}
            </if>
            <if test="content!=null and content!=''">
                AND dd.companyName like '%${content}%'
            </if>
        </where>
    </select>

    <!--添加客户信息-->
    <insert id="addCompany" parameterType="org.qydata.entity.Company" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qydata.CustomerCompany(partnerId,name)
        VALUES (#{partnerId},#{name})
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!--查找全部的合作公司-->
    <select id="findAllPartner" resultType="org.qydata.entity.Partner">
        SELECT id,name FROM qyfinance.bkvwPartner
    </select>

    <!--根据公司Id查找部门编号-->
    <select id="findDeptIdByCompanyId" parameterType="int" resultType="java.lang.Integer">
        SELECT DISTINCT(deptId) FROM qyfinance.bkvwCustomerDept WHERE customerId IN
        (SELECT id FROM qyfinance.bkvwCustomer WHERE companyId=#{param})
    </select>

    <!--查询充值或扣费理由-->
    <select id="findBalanceReason" parameterType="list" resultType="org.qydata.entity.CustomerBalanceModifyReason">
        SELECT id,name
        FROM qyfinance.bkvwCustomerBalanceModifyReason
        <where>
            <if test="list != null and list.size() > 0">
                id IN
                <foreach collection="list" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!--查询账号余额-->
    <select id="findCustomerBalanceByCustomerId" parameterType="int" resultType="Long">
        SELECT balance FROM qyfinance.bkvwCustomer WHERE id=#{value}
    </select>

    <!--根据账号修改余额-->
    <update id="updateCustomerBalance" parameterType="Object">
        UPDATE qydata.Customer SET balance=#{param2} where id=#{param1}
    </update>

    <!--余额变动日志-->
    <insert id="addCustomerBalanceLog" parameterType="Object" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qydata.CustomerBalanceLog(customerId,amount,reasonId,createTime)
        VALUES(#{customerId},#{amount},#{reasonId},sysdate())
    </insert>


    <!--根据Id查找指定客户信息-->
    <select id="findById" parameterType="Integer" resultType="org.qydata.entity.Company">
        SELECT id,name,createTime
        FROM qydata.Company
        WHERE id=#{param}
    </select>

    <!--根据客户公司Id查找全部的账号-->
    <select id="findAllCustomerByCompanyId" parameterType="Integer" resultType="org.qydata.entity.Customer">
        SELECT id,companyId
        FROM qydata.Customer
        WHERE companyId=#{param}
    </select>

    <select id="findAllCustomerAccountByCompanyId" parameterType="map" resultMap="Customer_CustomerType_CustomerStatus">
        SELECT qc.id,qc.typeId,qc.name,qc.authId,qc.authPass,qc.balance,qc.createTime,qc.status,qct.name qctname,qcs.name qcsname
        FROM qydata.Customer qc,qydata.CustomerType qct,qydata.CustomerStatus qcs
        WHERE qc.typeId=qct.id AND qc.status=qcs.id AND qc.companyId=#{companyId}
        <if test="content!=null and content!=''">
            AND (qc.name LIKE '%${content}%' OR qc.authId LIKE '%${content}%'
            OR qcs.name LIKE '%${content}%' OR qct.name LIKE '%${content}%')
        </if>
        ORDER BY qc.createTime DESC
        limit #{beginIndex},#{lineSize}
    </select>

    <!--根据客户公司Id统计全部的账号的数据量-->
    <select id="getAllCustomerAccountByCompanyId" parameterType="map" resultType="Integer">
        SELECT COUNT(qc.id)
        FROM qydata.Customer qc,qydata.CustomerType qct,qydata.CustomerStatus qcs
        WHERE qc.typeId=qct.id AND qc.status=qcs.id AND qc.companyId=#{companyId}
        <if test="content!=null and content!=''">
            AND (qc.name LIKE '%${content}%' OR qc.authId LIKE '%${content}%'
            OR qcs.name LIKE '%${content}%' OR qct.name LIKE '%${content}%')
        </if>
    </select>

    <!--查询所有供应商Api-->
    <select id="findAllApiNotMobile" parameterType="Map" resultMap="Api_ApiType_Map">
        SELECT a.id apiId,a.apiTypeId,a.vendorId,a.cost,a.apiName,a.apiTypeName
        FROM (
                SELECT api.id,api.apiTypeId,api.vendorId,api.cost,api.name apiName,apiType.name apiTypeName
                FROM qydata.Api api,qydata.ApiType apiType
                WHERE api.apiTypeId=apiType.id AND apiType.id IN (
                                                                    SELECT id
                                                                    FROM qydata.ApiType
                                                                    WHERE name NOT LIKE '%mobile%'
                                                                    )
                ) a,(
                        SELECT api.id,MIN(api.cost)
                        FROM qydata.Api api
                        GROUP BY api.apiTypeId
                        ) b
        WHERE a.id=b.id
        <if test="customerIdList!=null and customerIdList.size()!=0">
            AND a.id NOT IN (
                                SELECT result.apiId
                                FROM
                                        (
                                            SELECT apiId,COUNT(apiId) amount FROM qydata.CustomerApi
                                            WHERE customerId IN
                                                                <foreach collection="customerIdList" item="customerId" index="index" open="(" close=")" separator=",">
                                                                    #{customerId}
                                                                </foreach> GROUP BY apiId
                                        ) result
                                WHERE result.amount>=(
                                                        SELECT COUNT(id)
                                                        FROM qydata.Customer
                                                        WHERE companyId=#{companyId}
                                                       )
                             )
        </if>
    </select>

    <select id="findAllApiMobile" parameterType="Map" resultMap="Api_ApiMobileOperator_Map">
        SELECT a.apiTypeName,a.apiId,a.apiTypeId,a.vendorId,a.apiName,a.cost,a.mobileOperatorName,a.mobileOperatorId
        FROM (
                SELECT qat.name apiTypeName,qaam.apiId,qaam.apiTypeId,qaam.vendorId,qaam.apiName,qaam.cost,qaam.mobileOperatorName,qaam.mobileOperatorId
                FROM qydata.ApiType qat,(
                                            SELECT qa.id apiId,qa.apiTypeId,qa.vendorId,qa.name apiName,qa.cost,qmo.name mobileOperatorName,qmo.id mobileOperatorId
                                            FROM qydata.ApiMobileOperator qamo,qydata.Api qa,qydata.MobileOperator qmo
                                            WHERE qamo.apiId=qa.id and qamo.mobileOperatorId=qmo.id
                                          ) qaam
                WHERE qat.id=qaam.apiTypeId
        ) a,(
                SELECT api.id,MIN(api.cost)
                FROM qydata.Api api
                GROUP BY api.apiTypeId
            ) b
        WHERE a.apiId=b.id
        <if test="customerIdList!=null and customerIdList.size()!=0">
            AND a.apiId NOT IN (
                                  SELECT result.apiId
                                  FROM
                                        (
                                            SELECT apiId,COUNT(apiId) amount FROM qydata.CustomerApi
                                            WHERE customerId IN
                                                                <foreach collection="customerIdList" item="customerId" index="index" open="(" close=")" separator=",">
                                                                    #{customerId}
                                                                </foreach> GROUP BY apiId
                                        ) result
                                  WHERE result.amount>=(
                                                      SELECT COUNT(id)
                                                      FROM qydata.Customer
                                                      WHERE companyId=#{companyId}
                                                    )
                                  )
        </if>
    </select>

    <!--根据客户Id查找指定客户的所有CustomerApi-->
    <select id="findAllByCustomerIdNotMobile" parameterType="map" resultMap="CustomerApi_Api_ApiType_Map">
        SELECT DISTINCT (a.apiId),a.price,a.enabled,a.apiTypeId,
        a.vendorId,a.apiName,apiType.name apiTypeName,customer.companyId
        FROM (
                SELECT customerApi.id customerApiId,customerApi.apiId,customerApi.customerId,customerApi.price,
                customerApi.enabled,customerApi.createTime,api.apiTypeId,api.vendorId,api.name apiName
                FROM qydata.CustomerApi customerApi,qydata.Api api
                WHERE customerApi.apiId=api.id AND  customerId IN
                                                                    <foreach collection="customerIdList" item="customerId" index="index" open="(" close=")" separator=",">
                                                                        #{customerId}
                                                                    </foreach>
              ) a,qydata.ApiType apiType,qydata.Customer customer
        WHERE a.apiTypeId=apiType.id AND a.customerId=customer.id AND apiType.name NOT LIKE '%mobile%'
        ORDER BY a.createTime DESC
        limit #{beginIndex},#{lineSize}
    </select>

    <select id="findAllByCustomerIdMobile" parameterType="map" resultMap="CustomerApi_Api_ApiType_ApiMobileOperator_Map">
        SELECT DISTINCT (b.apiId),b.price,b.enabled,b.apiTypeId,
        b.vendorId,b.apiName,b.apiTypeName,b.companyId,mobileOperator.name mobileOperatorName
        FROM (
                SELECT a.customerApiId,a.apiId,a.customerId,a.price,a.enabled,a.createTime,a.apiTypeId,
                a.vendorId,a.apiName,apiType.name apiTypeName,customer.companyId
                FROM (
                        SELECT customerApi.id customerApiId,customerApi.apiId,customerApi.customerId,customerApi.price,
                        customerApi.enabled,customerApi.createTime,api.apiTypeId,api.vendorId,api.name apiName
                        FROM qydata.CustomerApi customerApi,qydata.Api api
                        WHERE customerApi.apiId=api.id AND  customerId IN
                                                                            <foreach collection="customerIdList" item="customerId" index="index" open="(" close=")" separator=",">
                                                                                #{customerId}
                                                                            </foreach>
                      ) a,qydata.ApiType apiType,qydata.Customer customer
                WHERE a.apiTypeId=apiType.id AND a.customerId=customer.id AND apiType.name LIKE '%mobile%'
              ) b,qydata.ApiMobileOperator apiMobileOperator,qydata.MobileOperator mobileOperator
        WHERE b.apiId=apiMobileOperator.apiId AND apiMobileOperator.mobileOperatorId=mobileOperator.id
        ORDER BY b.createTime DESC
        limit #{beginIndex},#{lineSize}
    </select>

    <!--根据客户Id统计全部数据量-->
    <select id="getAllCountByCustomerId" parameterType="Map" resultType="Integer">
        SELECT count(result.apiId)
        FROM (
        SELECT DISTINCT (a.apiId),a.price,a.enabled,a.apiTypeId,
        a.vendorId,a.apiName,apiType.name apiTypeName,customer.companyId
        FROM (
        SELECT customerApi.id customerApiId,customerApi.apiId,customerApi.customerId,customerApi.price,
        customerApi.enabled,customerApi.createTime,api.apiTypeId,api.vendorId,api.name apiName
        FROM qydata.CustomerApi customerApi,qydata.Api api
        WHERE customerApi.apiId=api.id AND  customerId IN
        <foreach collection="customerIdList" item="customerId" index="index" open="(" close=")" separator=",">
            #{customerId}
        </foreach>
        ) a,qydata.ApiType apiType,qydata.Customer customer
        WHERE a.apiTypeId=apiType.id AND a.customerId=customer.id AND apiType.name NOT LIKE '%mobile%'
        UNION
        SELECT DISTINCT (b.apiId),b.price,b.enabled,b.apiTypeId,
        b.vendorId,b.apiName,b.apiTypeName,b.companyId
        FROM (
        SELECT a.customerApiId,a.apiId,a.customerId,a.price,a.enabled,a.createTime,a.apiTypeId,
        a.vendorId,a.apiName,apiType.name apiTypeName,customer.companyId
        FROM (
        SELECT customerApi.id customerApiId,customerApi.apiId,customerApi.customerId,customerApi.price,
        customerApi.enabled,customerApi.createTime,api.apiTypeId,api.vendorId,api.name apiName
        FROM qydata.CustomerApi customerApi,qydata.Api api
        WHERE customerApi.apiId=api.id AND  customerId IN
        <foreach collection="customerIdList" item="customerId" index="index" open="(" close=")" separator=",">
            #{customerId}
        </foreach>
        ) a,qydata.ApiType apiType,qydata.Customer customer
        WHERE a.apiTypeId=apiType.id AND a.customerId=customer.id AND apiType.name LIKE '%mobile%'
        ) b,qydata.ApiMobileOperator apiMobileOperator,qydata.MobileOperator mobileOperator
        WHERE b.apiId=apiMobileOperator.apiId AND apiMobileOperator.mobileOperatorId=mobileOperator.id
        ) result

    </select>

    <!--根据companyId查询对应的CustomerApi-->
    <select id="findAllCustomerApiByCompanyId" parameterType="map" resultMap="CustomerApiInfo_Customer_Map">
        SELECT result.apiTypeName,result.companyId,result.authId,result.apiId,result.customerId,result.price,
        result.enabled,result.createTime,mobileOperator.name mobileOperatorName
        FROM (
                SELECT casual.apiTypeName,casual.companyId,casual.authId,casual.apiId,casual.customerId,casual.price,
                casual.enabled,casual.createTime,apiMobileOperator.mobileOperatorId
                FROM (
                        SELECT apiType.name apiTypeName,customer.companyId,customer.authId,customerApiAndApi.apiId,customerApiAndApi.customerId,customerApiAndApi.price,
                        customerApiAndApi.enabled,customerApiAndApi.createTime
                        FROM qydata.ApiType apiType,qydata.Customer customer,(
                                                                                SELECT customerApi.apiId,customerApi.customerId,customerApi.price,
                                                                                customerApi.enabled,customerApi.createTime,api.apiTypeId
                                                                                FROM qydata.CustomerApi customerApi,qydata.Api api
                                                                                WHERE customerApi.apiId=api.id
                                                                                AND customerApi.customerId
                                                                                IN
                                                                                <foreach collection="customerIdList" item="customerId" open="(" close=")" index="index" separator=",">
                                                                                    #{customerId}
                                                                                </foreach>
                                                                              ) customerApiAndApi
                        WHERE customerApiAndApi.apiTypeId=apiType.id
                        AND customerApiAndApi.customerId=customer.id
                      ) casual LEFT JOIN qydata.ApiMobileOperator apiMobileOperator
                ON casual.apiId=apiMobileOperator.apiId
              ) result LEFT JOIN qydata.MobileOperator mobileOperator
        ON result.mobileOperatorId=mobileOperator.id
        ORDER BY result.createTime
        limit #{beginIndex},#{lineSize}
    </select>

    <!--根据companyId统计对应的CustomerApi的数据量-->
    <select id="getAllCustomerApiCountByCompanyId" parameterType="map" resultType="Integer">
       SELECT COUNT(*)
       FROM (
       SELECT casual.apiTypeName,casual.companyId,casual.authId,casual.apiId,casual.customerId,casual.price,
       casual.enabled,casual.createTime,apiMobileOperator.mobileOperatorId
       FROM (
       SELECT apiType.name apiTypeName,customer.companyId,customer.authId,customerApiAndApi.apiId,customerApiAndApi.customerId,customerApiAndApi.price,
       customerApiAndApi.enabled,customerApiAndApi.createTime
       FROM qydata.ApiType apiType,qydata.Customer customer,(
       SELECT customerApi.apiId,customerApi.customerId,customerApi.price,
       customerApi.enabled,customerApi.createTime,api.apiTypeId
       FROM qydata.CustomerApi customerApi,qydata.Api api
       WHERE customerApi.apiId=api.id
       AND customerApi.customerId
       IN
       <foreach collection="customerIdList" item="customerId" open="(" close=")" index="index" separator=",">
           #{customerId}
       </foreach>
       ) customerApiAndApi
       WHERE customerApiAndApi.apiTypeId=apiType.id
       AND customerApiAndApi.customerId=customer.id
       ) casual LEFT JOIN qydata.ApiMobileOperator apiMobileOperator
       ON casual.apiId=apiMobileOperator.apiId
       ) result LEFT JOIN qydata.MobileOperator mobileOperator
       ON result.mobileOperatorId=mobileOperator.id
   </select>

    <!--根据账号Id查找指定账号的所有CustomerApi-->
    <select id="findAllCustomerApiByOnlyOneCustomerId" parameterType="Integer" resultType="Integer">
        SELECT apiId
        FROM qydata.CustomerApi
        WHERE customerId=#{param}
    </select>

    <!--根据Id查找-->
    <select id="findByIdNotMobile" parameterType="map" resultMap="CustomerApi_Api_ApiType_Map">
        SELECT a.customerApiId,a.apiId,a.customerId,a.price,a.enabled,a.apiTypeId,a.vendorId,a.apiName,
        apiType.name apiTypeName,customer.companyId
        FROM (
                SELECT customerApi.id customerApiId,customerApi.apiId,customerApi.customerId,customerApi.price,customerApi.enabled,
                api.apiTypeId,api.vendorId,api.name apiName
                FROM qydata.CustomerApi customerApi,qydata.Api api
                WHERE customerApi.apiId=api.id AND customerApi.apiId=#{apiId} AND customerApi.customerId IN
                <foreach collection="customerIdList" item="customerId" index="index" open="(" close=")" separator=",">
                    #{customerId}
                </foreach>
              ) a,qydata.ApiType apiType,qydata.Customer customer
        WHERE a.apiTypeId=apiType.id AND a.customerId=customer.id AND apiType.name NOT LIKE '%mobile%'
    </select>

    <select id="findByIdMobile" parameterType="map" resultMap="CustomerApi_Api_ApiType_ApiMobileOperator_Map">
        SELECT b.customerApiId,b.apiId,b.customerId,b.price,b.enabled,b.apiTypeId,b.vendorId,b.apiName,
        b.apiTypeName,b.companyId,c.mobileOperatorName
        FROM (
                SELECT a.customerApiId,a.apiId,a.customerId,a.price,a.enabled,a.apiTypeId,a.vendorId,a.apiName,
                apiType.name apiTypeName,customer.companyId
                FROM (
                        SELECT customerApi.id customerApiId,customerApi.apiId,customerApi.customerId,customerApi.price,customerApi.enabled,
                        api.apiTypeId,api.vendorId,api.name apiName
                        FROM qydata.CustomerApi customerApi,qydata.Api api
                        WHERE customerApi.apiId=api.id AND customerApi.apiId=#{apiId} AND customerApi.customerId IN
                        <foreach collection="customerIdList" item="customerId" index="index" open="(" close=")" separator=",">
                            #{customerId}
                        </foreach>
                      ) a,qydata.ApiType apiType,qydata.Customer customer
                WHERE a.apiTypeId=apiType.id AND a.customerId=customer.id AND apiType.name LIKE '%mobile%'
        ) b,(
                SELECT apiMobileOperator.apiId,mobileOperator.name mobileOperatorName
                FROM qydata.ApiMobileOperator apiMobileOperator,qydata.MobileOperator mobileOperator
                WHERE apiMobileOperator.mobileOperatorId=mobileOperator.id
              ) c
        WHERE b.apiId=c.apiId
    </select>

    <!--根据apiId和customerId修改-->
    <update id="updateCustomerApiById" parameterType="map">
        UPDATE qydata.CustomerApi SET apiId=#{afterApiId},price=#{price},enabled=#{enabled} WHERE apiId=#{beforApiId} AND customerId IN
        <foreach collection="customerIdList" item="customerId" index="index" open="(" close=")" separator=",">
            #{customerId}
        </foreach>
    </update>

    <!--根据apiId和customerId批量删除CustomerApi数据-->
    <delete id="removeCustomerApiByApiIdAndCustomerId" parameterType="map">
        DELETE FROM qydata.CustomerApi WHERE apiId IN
        <foreach collection="apiIdList" item="apiId" open="(" close=")" index="index" separator=",">
            #{apiId}
        </foreach>
        AND customerId IN
        <foreach collection="customerIdList" item="customerId" open="(" close=")" index="index" separator=",">
            #{customerId}
        </foreach>
    </delete>

</mapper>