<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.CompanyMapper">

    <resultMap id="CustomerCompany_Map" type="org.qydata.dst.CustomerCompanyPartner">
        <result column="companyId" property="companyId"/>
        <result column="companyBalance" property="companyBalance"/>
        <result column="floor" property="floor"/>
        <result column="surplusFloor" property="surplusFloor"/>
        <result column="companyName" property="companyName"/>
        <result column="partnerId" property="partnerId"/>
        <result column="partnerName" property="partnerName"/>
        <result column="companyStatus" property="companyStatus"/>
        <result column="companyCreateTime" property="companyCreateTime"/>
    </resultMap>

    <resultMap id="CustomerCompany_Customer_Map" type="org.qydata.dst.CustomerCompanyPartner" extends="CustomerCompany_Map">
        <collection property="customerList" ofType="org.qydata.entity.Customer">
            <result column="customerId" property="id"/>
            <result column="authId" property="authId"/>
            <result column="authPass" property="authPass"/>
            <result column="balance" property="balance"/>
            <result column="customerCreateTime" property="createTime"/>
            <association property="customerType" javaType="org.qydata.entity.CustomerType">
                <result column="typeId" property="id"/>
                <result column="typeName" property="name"/>
            </association>
            <association property="customerStatus" javaType="org.qydata.entity.CustomerStatus">
                <result column="status" property="id"/>
                <result column="statusName" property="name"/>
            </association>
        </collection>
    </resultMap>

    <resultMap id="CompanyApi_ApiType_Map" type="org.qydata.entity.CompanyApi">
        <result column="id" property="id"/>
        <result column="companyId" property="companyId"/>
        <result column="apiTypeId" property="apiTypeId"/>
        <result column="subTypeId" property="subTypeId"/>
        <result column="price" property="price"/>
        <result column="enabled" property="enabled"/>
        <result column="createTime" property="createTime"/>
        <association property="apiType" javaType="org.qydata.entity.ApiType">
            <result column="apiTypeName" property="name"/>
        </association>
        <association property="mobileOperator" javaType="org.qydata.entity.MobileOperator">
            <result column="subTypeName" property="name"/>
        </association>
    </resultMap>

    <!--查找客户信息-->
    <select id="findAllCompany" parameterType="map" resultMap="CustomerCompany_Customer_Map">
        SELECT a.id customerId,a.typeId,a.typeName,a.authId,a.authPass,a.balance,a.createTime customerCreateTime,
        a.status,a.statusName,
        b.companyId,b.companyName,b.partnerId,b.partnerName,b.companyStatus,
        c.companyBalance,c.floor,
        ((-c.floor)+c.companyBalance) surplusFloor
        FROM qyfinance.bkvwCustomer a
        LEFT JOIN qyfinance.bkvw_company_customer b ON a.companyId=b.companyId
        LEFT JOIN
        (
            SELECT aa.companyId,sum(aa.balance) companyBalance,sum(aa.floor) floor
            FROM qyfinance.bkvwCustomer aa
            WHERE aa.typeId=1
            GROUP BY aa.companyId
        ) c ON a.companyId=c.companyId
        WHERE a.companyId IS NOT NULL
        <if test="deptIdList!=null and deptIdList.size()!=0">
            AND a.id IN
            (
            SELECT customerId
            FROM qyfinance.bkvwCustomerDept
            WHERE deptId IN
            <foreach collection="deptIdList" item="deptId" index="index" open="(" close=")" separator=",">
                #{deptId}
            </foreach>
            )
        </if>
        <if test="partnerId!=null and partnerId!=''">
            AND a.partnerId=#{partnerId}
        </if>
        <if test="content!=null and content!=''">
            AND a.companyName like '%${content}%'
        </if>
        ORDER BY a.typeId ASC
    </select>

    <!--查找全部的合作公司-->
    <select id="findAllPartner" resultType="org.qydata.entity.Partner">
        SELECT id,name FROM qyfinance.bkvwPartner
    </select>

    <!--根据用户邮箱查找所属部门-->
    <select id="findPartnerByEmail" parameterType="String" resultType="org.qydata.entity.Partner">
        SELECT deptId id,deptName name
        FROM qyfinance.bkvw_user_UserDept
        WHERE email = #{param}
    </select>

    <!--根据公司Id查找部门编号-->
    <select id="findDeptIdByCompanyId" parameterType="int" resultType="java.lang.Integer">
        SELECT DISTINCT(deptId) FROM qyfinance.bkvwCustomerDept WHERE customerId IN
        (SELECT id FROM qyfinance.bkvwCustomer WHERE companyId=#{param})
    </select>

    <!--查询充值或扣费理由-->
    <select id="findBalanceReason" parameterType="list" resultType="org.qydata.entity.CustomerBalanceModifyReason">
        SELECT id,name
        FROM qyfinance.bkvwCustomerBalanceModifyReason
        <where>
            <if test="list != null and list.size() > 0">
                id IN
                <foreach collection="list" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!--根据公司Id查找公司名称-用于禁用/解禁公司的操作提醒-->
    <select id="queryCompanyNameByCompanyId" parameterType="int" resultType="String">
        SELECT DISTINCT companyName
        FROM qyfinance.bkvwCustomer
        WHERE companyId=#{param}
    </select>

    <!--根据公司Id查找公司已拥有权限的Api-->
    <select id="queryCompanyApiByCompanyId" parameterType="map" resultMap="CompanyApi_ApiType_Map">
        SELECT a.id,a.companyId,a.apiTypeId,a.subTypeId,a.price,a.enabled,a.createTime,
        a.apiTypeName,a.subTypeName
        FROM qyfinance.bkvwCompanyApi a
        WHERE a.companyId=#{companyId}
        AND a.enabled=1
    </select>

    <!--查询全部产品权限-->
    <select id="queryAllApi" resultType="org.qydata.dst.ApiTypeSubType">
        SELECT DISTINCT a.apiTypeId apiTypeId,a.apiTypeName,a.mobileOperatorId,a.mobileOperatorName
        FROM qyfinance.bkvw_api_ApiTypeVendorPartner a
    </select>

    <!--根据账号Id查找Ip-->
    <select id="queryCustomerIpById" parameterType="int" resultType="org.qydata.entity.CustomerIp">
        SELECT id,customerId,beginIpRaw,endIpRaw
        FROM qyfinance.bkvwCustomerIp
        WHERE customerId=#{param}
    </select>

    <!--通过产品类型查找Id，用于修改产品价格-->
    <select id="queryApiTypeIdByName" parameterType="String" resultType="Integer">
        SELECT id
        FROM qyfinance.bkvwApiTypeChinese
        WHERE name = #{param} OR chineseName = #{param}
   </select>

    <!--通过产品子类型查找Id，用于修改产品价格-->
    <select id="queryStidByName" parameterType="String" resultType="Integer">
        SELECT id
        FROM qyfinance.bkvwMobileOperatorChinese
        WHERE name = #{param} OR chineseName = #{param}
    </select>

    <!--获取访问api.data的key-->
    <select id="queryAuthKey" parameterType="String" resultType="String">
        SELECT value
        FROM qydata.SiteConf
        WHERE name = #{param}
    </select>

    <!--根据公司Id查找正式账号Id，用于修改信用额度，添加ip，删除ip，查找ip，充值-->
    <select id="queryOfficAuthIdByCompanyId" parameterType="int" resultType="org.qydata.entity.Customer">
        SELECT id,authId
        FROM qyfinance.bkvwCustomer
        WHERE companyId = #{param}
        AND typeId = 1
    </select>

</mapper>