<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.CustomerExcelMapper">


    <!--根据customerId查询上月消费账单-->
    <select id="queryCustomerConsumeExcelByCustomerId" parameterType="map" resultType="org.qydata.entity.CustomerConsumeExcel">
        SELECT customerId,excelCode,consuTime
        FROM qycauth.CustomerConsumeExcel
        WHERE customerId=#{customerId} AND year=#{year} AND month=#{month}
    </select>

</mapper>

