<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.CustomerFinanceMapper">

    <resultMap id="CustomerFinance_Map" type="org.qydata.dst.CustomerFinance">
        <result column="id" property="id"/>
        <result column="companyId" property="companyId"/>
        <result column="companyName" property="companyName"/>
        <result column="companyStatus" property="companyStatus"/>
        <result column="balance" property="balance"/>
        <result column="partnerId" property="partnerId"/>
        <result column="partnerName" property="partnerName"/>
        <result column="floor" property="floor"/>
        <result column="chargeWeekTotleAmount" property="chargeWeekTotleAmount"/>
        <result column="chargeMonthTotleAmount" property="chargeMonthTotleAmount"/>
        <result column="consumeWeekTotleAmount" property="consumeWeekTotleAmount"/>
        <result column="consumeMonthTotleAmount" property="consumeMonthTotleAmount"/>
        <result column="chargeTotleAmount" property="chargeTotleAmount"/>
        <result column="consumeTotleAmount" property="consumeTotleAmount"/>
        <result column="surplusFloor" property="surplusFloor"/>
        <result column="currMonthAmount" property="currMonthAmount"/>
        <result column="currDayAmount" property="currDayAmount"/>
    </resultMap>

    <resultMap id="CustomerFinance_CompanyApi_Map" type="org.qydata.dst.CustomerFinance" extends="CustomerFinance_Map">
        <collection property="companyApiList" ofType="org.qydata.entity.CompanyApi">
            <result column="apiTypeId" property="apiTypeId"/>
            <result column="subTypeId" property="subTypeId"/>
            <result column="price" property="price"/>
            <result column="enabled" property="enabled"/>
            <association property="apiType" javaType="org.qydata.entity.ApiType">
                <result column="apiTypeName" property="name"/>
            </association>
            <association property="mobileOperator" javaType="org.qydata.entity.MobileOperator">
                <result column="subTypeName" property="name"/>
            </association>
            <association property="companyApiCount" javaType="org.qydata.dst.CompanyApiCount">
                <result column="sumAmount" property="sumAmount"/>
                <result column="countTotle" property="countTotle"/>
                <result column="countSuccess" property="countSuccess"/>
            </association>
        </collection>
    </resultMap>

    <resultMap type="org.qydata.entity.CustomerBalanceLog" id="CustomerBalanceLog_Map">
        <id column="id" property="id"/>
        <result column="reasonId" property="reasonId"/>
        <result column="amount" property="amount"/>
        <result column="customerId" property="customerId"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

    <resultMap type="org.qydata.entity.CustomerBalanceLog" id="CustomerBalanceLog_CustomerBalanceModifyReason_Map" extends="CustomerBalanceLog_Map">
        <association property="customerBalanceModifyReason" javaType="org.qydata.entity.CustomerBalanceModifyReason">
            <result column="reasonName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="ApiType_Map" type="org.qydata.entity.ApiType">
        <result column="apiTypeId" property="id"/>
        <result column="typeName" property="name"/>
    </resultMap>

    <resultMap id="ApiType_CustomerApiVendor_Map" type="org.qydata.entity.ApiType" extends="ApiType_Map">
        <collection property="customerApiVendorList" ofType="org.qydata.dst.CustomerApiVendor">
            <result column="apiId" property="apiId"/>
            <result column="totlePrice" property="totlePrice"/>
            <result column="vendorName" property="vendorName"/>
            <result column="vendorId" property="vendorId"/>
        </collection>
    </resultMap>

    <resultMap id="CustomerApiVendor_Map" type="org.qydata.dst.CustomerApiVendor" >
        <result column="apiId" property="apiId"/>
        <result column="apiName" property="apiName"/>
        <result column="totlePrice" property="totlePrice"/>
        <result column="vendorName" property="vendorName"/>
        <result column="vendorId" property="vendorId"/>
        <result column="reasonId" property="reasonId"/>
        <result column="reasonName" property="reasonName"/>
    </resultMap>

    <resultMap id="CustomerBalanceDetailConsume_Map" type="org.qydata.entity.CustomerBalanceLog" >
        <result column="id" property="id"/>
        <result column="reasonId" property="reasonId"/>
        <result column="amount" property="amount"/>
        <result column="customerId" property="customerId"/>
        <result column="createTime" property="createTime"/>
        <association property="customerBalanceModifyReason" javaType="org.qydata.entity.CustomerBalanceModifyReason">
            <result column="reasonName" property="name"/>
        </association>
        <association property="apiType" javaType="org.qydata.entity.ApiType">
            <result column="apiTypeId" property="id"/>
            <result column="apiTypeName" property="name"/>
        </association>
        <association property="mobileOperator" javaType="org.qydata.entity.MobileOperator">
            <result column="mobileOperatorName" property="name"/>
        </association>
        <association property="apiVendor" javaType="org.qydata.entity.ApiVendor">
            <result column="vendorName" property="name"/>
        </association>
    </resultMap>


    <!--查询客户的财务总览-->
    <select id="queryCompanyCustomerOverAllFinance" parameterType="map" resultMap="CustomerFinance_CompanyApi_Map">
        SELECT aa.id,aa.balance,aa.companyId,aa.companyName,aa.partnerId,aa.partnerName,
        aa.floor,aa.companyStatus,
        aa.apiTypeId,aa.apiTypeName,aa.subTypeId,aa.subTypeName,aa.price,aa.enabled,aa.sumAmount,aa.countTotle,aa.countSuccess,
        bb.chargeWeekTotleAmount,
        cc.chargeMonthTotleAmount,
        dd.consumeWeekTotleAmount,
        ee.consumeMonthTotleAmount,
        ff.chargeTotleAmount,
        gg.consumeTotleAmount,
        ((-aa.floor)+aa.balance) surplusFloor,
        currMonth.currMonthAmount,
        currDay.currDayAmount
        FROM
        (
        SELECT yy.id,yy.balance,yy.companyId,yy.companyName,yy.partnerId,yy.partnerName,yy.floor,yy.companyStatus,
        xx.apiTypeId,xx.stid subTypeId,xx.sumAmount,xx.countTotle,xx.countSuccess,xx.price,xx.enabled,xx.apiTypeName,xx.subTypeName
        FROM
        (
            SELECT a.id,a.balance,a.companyId,a.companyName,a.partnerId,a.floor,a.companyStatus,
            b.name partnerName
            FROM qyfinance.bkvwCustomer a
            LEFT JOIN qyfinance.bkvwPartner b ON a.partnerId=b.id
            LEFT JOIN qyfinance.bkvwCustomerDept d ON a.id=d.customerId
            WHERE a.typeId in(1)
            <if test="deptIdList!=null and deptIdList.size()!=0">
                and d.deptId in
                <foreach collection="deptIdList" item="deptId" index="index" open="(" close=")" separator=",">
                    #{deptId}
                </foreach>
            </if>
            <if test="statusList!=null and statusList.size()!=0">
                and a.companyStatus in
                <foreach collection="statusList" item="status" index="index" open="(" close=")" separator=",">
                  #{status}
                </foreach>
            </if>
            <if test="partnerId!=null and partnerId!=''">
                and a.partnerId=#{partnerId}
            </if>
            <if test="content!=null and content!=''">
                and a.companyName like '%${content}%'
            </if>
            ) yy
            LEFT JOIN
            (
                SELECT cc.companyId,cc.apiTypeId,cc.stid,cc.sumAmount,cc.countTotle,cc.countSuccess,
                dd.price,dd.enabled,ee.name apiTypeName,ff.name subTypeName
                FROM
                (
                    SELECT aa.customerId,aa.apiTypeId,ifnull(aa.stid,0) stid,aa.sumAmount,aa.countTotle,aa.countSuccess,
                    bb.companyId
                    FROM
                    (
                        SELECT customerId,apiTypeId,stid,sum(sumAmount) sumAmount,
                        sum(countTotle) countTotle,sum(countSuccess) countSuccess
                        FROM qyfinance.CompanyApiTypeConsumeDayCount
                        <where>
                            <if test="beginDate != null and beginDate != ''">
                                <![CDATA[
                                    AND consuTime>=str_to_date(#{beginDate},'%Y/%m/%d')
                                 ]]>
                            </if>
                            <if test="endDate != null and endDate != ''">
                                <![CDATA[
                                    AND consuTime<=str_to_date(#{endDate},'%Y/%m/%d')
                                ]]>
                            </if>
                        </where>
                        GROUP BY customerId,apiTypeId,stid
                    ) aa
                    LEFT JOIN qyfinance.bkvwCustomer bb ON aa.customerId=bb.id
                    WHERE bb.typeId=1
                ) cc
                LEFT JOIN qyfinance.bkvwCompanyApi dd ON cc.companyId=dd.companyId AND cc.apiTypeId=dd.apiTypeId AND cc.stid=dd.subTypeId
                LEFT JOIN qyfinance.bkvwApiType ee ON cc.apiTypeId=ee.id
                LEFT JOIN qyfinance.bkvwMobileOperator ff ON cc.stid=ff.id
            ) xx ON yy.companyId=xx.companyId
        ) aa
        LEFT JOIN
        (
            SELECT customerId,totleAmount chargeWeekTotleAmount
            FROM qyfinance.bkvwWeekMonthAmount
            WHERE weekMonthTypeId=1 AND tableId=1 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x')
            AND weeks=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%v')
        ) bb ON aa.id=bb.customerId
        LEFT JOIN
        (
            SELECT customerId,totleAmount chargeMonthTotleAmount
            FROM qyfinance.bkvwWeekMonthAmount
            WHERE weekMonthTypeId=2 AND tableId=1 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%Y')
            AND months=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%m')
        ) cc ON aa.id=cc.customerId
        LEFT JOIN
        (
            SELECT customerId,totleAmount consumeWeekTotleAmount
            FROM qyfinance.bkvwWeekMonthAmount
            WHERE weekMonthTypeId=1 AND tableId=2 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x')
            AND weeks=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%v')
        ) dd ON aa.id=dd.customerId
        LEFT JOIN
        (
            SELECT customerId,totleAmount consumeMonthTotleAmount
            FROM qyfinance.bkvwWeekMonthAmount
            WHERE weekMonthTypeId=2 AND tableId=2 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%Y')
            AND months=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%m')
        ) ee ON aa.id=ee.customerId
        LEFT JOIN
        (
            SELECT customerId,sum(amount) chargeTotleAmount
            FROM qyfinance.bkvwCustomerBalanceLog
            WHERE reasonId in (1,2,3)
            GROUP BY customerId
        ) ff ON aa.id=ff.customerId
        LEFT JOIN
        (
            SELECT customerId,sum(amount) consumeTotleAmount
            FROM qyfinance.bkvwCustomerBalanceLog
            WHERE reasonId in (-1,-2,-3)
            <if test="beginDate != null and beginDate != ''">
                <![CDATA[
                    AND createTime>=str_to_date(#{beginDate},'%Y/%m/%d %H:%i:%s')
                ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                <![CDATA[
                    AND createTime<=str_to_date(#{endDate},'%Y/%m/%d %H:%i:%s')
                ]]>
            </if>
            GROUP BY customerId
        ) gg ON aa.id=gg.customerId
        LEFT JOIN
        (
            SELECT DATE_FORMAT(createTime,'%Y') years,DATE_FORMAT(createTime,'%m') months,sum(amount) currMonthAmount,customerId
            FROM qyfinance.bkvwCustomerBalanceLog
            WHERE reasonId in (-1,-2,-3)
            AND DATE_FORMAT(createTime,'%Y-%m')=DATE_FORMAT(date_sub(sysdate(),interval 0 month),'%Y-%m')
            GROUP BY DATE_FORMAT(createTime,'%Y-%m'),customerId
        ) currMonth ON aa.id=currMonth.customerId
        LEFT JOIN
        (
            SELECT DATE_FORMAT(createTime,'%Y') years,DATE_FORMAT(createTime,'%m') months,DATE_FORMAT(createTime,'%d') days,sum(amount) currDayAmount,customerId
            FROM qyfinance.bkvwCustomerBalanceLog
            WHERE reasonId in (-1,-2,-3)
            AND DATE_FORMAT(createTime,'%Y-%m-%d')=DATE_FORMAT(date_sub(sysdate(),interval 0 day),'%Y-%m-%d')
            GROUP BY DATE_FORMAT(createTime,'%Y-%m-%d'),customerId
        ) currDay ON aa.id=currDay.customerId
        ORDER BY aa.apiTypeName ASC,aa.enabled DESC
    </select>

    <!--查询客户的充值记录-->
    <select id="queryCompanyCustomerRechargeRecordByCustomerId" parameterType="map" resultMap="CustomerBalanceLog_CustomerBalanceModifyReason_Map">
        SELECT id,reasonId,amount,customerId,createTime,reasonName
        FROM qyfinance.bkvwCustomerBalanceLog
        WHERE customerId=#{customerId}
        <if test="reasonIdList != null and reasonIdList.size() != 0">
            AND reasonId IN
            <foreach collection="reasonIdList" item="reasonId" index="index" open="(" close=")" separator=",">
                #{reasonId}
            </foreach>
        </if>
        <if test="beginDate != null and beginDate != ''">
            <![CDATA[
            AND createTime>=str_to_date(#{beginDate},'%Y/%m/%d %H:%i:%s')
            ]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[
            AND createTime<=str_to_date(#{endDate},'%Y/%m/%d %H:%i:%s')
             ]]>
        </if>
    </select>

    <!--统计客户的充值记录金额总计-->
    <select id="getCountCompanyCustomerRechargeRecordByCustomerId" parameterType="map" resultType="Integer">
        SELECT sum(amount)
        FROM qyfinance.bkvwCustomerBalanceLog
        WHERE customerId=#{customerId}
        <if test="reasonIdList != null and reasonIdList.size() != 0">
            AND reasonId IN
            <foreach collection="reasonIdList" item="reasonId" index="index" open="(" close=")" separator=",">
                #{reasonId}
            </foreach>
        </if>
        <if test="beginDate != null and beginDate != ''">
            <![CDATA[
            AND createTime>=str_to_date(#{beginDate},'%Y/%m/%d %H:%i:%s')
            ]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[
            AND createTime<=str_to_date(#{endDate},'%Y/%m/%d %H:%i:%s')
             ]]>
        </if>
    </select>

    <!--查询客户的Api消费记录-->
    <select id="queryCompanyCustomerApiConsumeRecordByCustomerId" parameterType="map" resultMap="ApiType_CustomerApiVendor_Map">
        SELECT aa.apiTypeId,cc.name typeName,aa.apiId,aa.totlePrice,bb.vendorName,bb.vendorId
        FROM
        (
        SELECT b.apiTypeId,b.apiId,sum(a.amount) totlePrice
        FROM qyfinance.bkvwCustomerBalanceLog a LEFT JOIN qyfinance.bkvwCustomerRequestLog b ON a.reqId=b.id
        WHERE a.reasonId IN(-1,-2,-3) AND b.hasCost=1 AND a.customerId=#{customerId}
        GROUP BY b.apiTypeId,b.apiId
        ) aa
        LEFT JOIN qyfinance.bkvwApi bb ON aa.apiId = bb.id
        LEFT JOIN qyfinance.bkvwApiType cc ON aa.apiTypeId=cc.id
        <where>
            <if test="apiTypeId != null and apiTypeId != ''">
                aa.apiTypeId=#{apiTypeId}
            </if>
            <if test="apiVendorId != null and apiVendorId != ''">
                AND bb.vendorId=#{apiVendorId}
            </if>
        </where>
    </select>

    <!--统计客户的Api消费记录金额总计-->
    <select id="getCountCompanyCustomerApiConsumeRecordByCustomerId" parameterType="map" resultType="Integer">
        SELECT sum(aa.totlePrice)
        FROM
        (
        SELECT b.apiTypeId,b.apiId,sum(a.amount) totlePrice
        FROM qyfinance.bkvwCustomerBalanceLog a LEFT JOIN qyfinance.bkvwCustomerRequestLog b ON a.reqId=b.id
        WHERE a.reasonId IN(-1,-2,-3) AND b.hasCost=1 AND a.customerId=#{customerId}
        GROUP BY b.apiTypeId,b.apiId
        ) aa
        LEFT JOIN qyfinance.bkvwApi bb ON aa.apiId = bb.id
        <where>
            <if test="apiTypeId != null and apiTypeId != ''">
                aa.apiTypeId=#{apiTypeId}
            </if>
            <if test="apiVendorId != null and apiVendorId != ''">
                AND bb.vendorId=#{apiVendorId}
            </if>
        </where>
    </select>

    <!--查询api类型——通过账号Id-->
    <select id="queryApiTypeByCustomerId" parameterType="map" resultType="org.qydata.entity.ApiType">
        SELECT DISTINCT(aa.apiTypeId) id,bb.name
        FROM
        (
        SELECT b.apiTypeId,b.apiId
        FROM qyfinance.bkvwCustomerBalanceLog a LEFT JOIN qyfinance.bkvwCustomerRequestLog b ON a.reqId=b.id
        WHERE a.reasonId IN(-1,-2,-3) AND b.hasCost=1 AND a.customerId=#{customerId}
        GROUP BY b.apiTypeId,b.apiId
        ) aa LEFT JOIN qyfinance.bkvwApiType bb ON aa.apiTypeId=bb.id
        WHERE aa.apiTypeId IS NOT NULL
    </select>

    <!--查询api供应商——通过账号Id-->
    <select id="queryApiVendorByCustomerId" parameterType="map" resultType="org.qydata.entity.ApiVendor">
        SELECT DISTINCT(bb.vendorId) id,bb.vendorName name
        FROM
        (
        SELECT b.apiTypeId,b.apiId
        FROM qyfinance.bkvwCustomerBalanceLog a LEFT JOIN qyfinance.bkvwCustomerRequestLog b ON a.reqId=b.id
        WHERE a.reasonId IN(-1,-2,-3) AND b.hasCost=1 AND a.customerId=#{customerId}
        GROUP BY b.apiTypeId,b.apiId
        ) aa LEFT JOIN qyfinance.bkvwApi bb ON aa.apiId = bb.id
        WHERE bb.vendorId IS NOT NULL
        <if test="apiTypeId != null and apiTypeId != ''">
            AND aa.apiTypeId=#{apiTypeId}
        </if>

    </select>

    <!--查询客户的Api消费明细记录-->
    <select id="queryCompanyCustomerApiDetailConsumeRecordByCustomerId" parameterType="map" resultMap="CustomerBalanceDetailConsume_Map">
        SELECT aa.id,aa.reasonId,aa.amount,aa.customerId,aa.createTime,aa.reasonName,aa.apiTypeId,cc.name apiTypeName,bb.name mobileOperatorName,
        dd.vendorName
        FROM
        (
        SELECT a.id,a.reasonId,a.amount,a.customerId,a.createTime,a.reasonName,b.apiTypeId,b.apiId
        FROM qyfinance.bkvwCustomerBalanceLog a
        LEFT JOIN qyfinance.bkvwCustomerRequestLog b ON a.reqId=b.id
        WHERE b.hasCost=1 AND a.customerId=#{customerId}
        <if test="reasonIdList != null and reasonIdList.size() > 0">
            AND a.reasonId IN
            <foreach collection="reasonIdList" item="reasonId" index="index" open="(" close=")" separator=",">
                #{reasonId}
            </foreach>
        </if>
        ) aa
        LEFT JOIN qyfinance.bkvwApiMobileOperator bb ON aa.apiId=bb.apiId
        LEFT JOIN qyfinance.bkvwApiType cc ON aa.apiTypeId=cc.id
        LEFT JOIN qyfinance.bkvwApi dd ON  aa.apiId=dd.id
        <where>
            <if test="apiTypeId != null and apiTypeId != ''">
                aa.apiTypeId=#{apiTypeId}
            </if>
            <if test="beginDate != null and beginDate != ''">
                <![CDATA[
            AND aa.createTime>=str_to_date(#{beginDate},'%Y/%m/%d %H:%i:%s')
            ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                <![CDATA[
            AND aa.createTime<=str_to_date(#{endDate},'%Y/%m/%d %H:%i:%s')
             ]]>
            </if>
        </where>
    </select>

    <!--统计客户的Api消费明细记录金额总计-->
    <select id="getCountCompanyCustomerApiDetailConsumeRecordByCustomerId" parameterType="map" resultType="Integer">
        SELECT sum(a.amount)
        FROM qyfinance.bkvwCustomerBalanceLog a
        LEFT JOIN qyfinance.bkvwCustomerRequestLog b ON a.reqId=b.id
        WHERE b.hasCost=1 AND a.customerId=#{customerId} AND b.apiTypeId=#{apiTypeId}
        <if test="reasonIdList != null and reasonIdList.size() > 0">
            AND a.reasonId IN
            <foreach collection="reasonIdList" item="reasonId" index="index" open="(" close=")" separator=",">
                #{reasonId}
            </foreach>
        </if>
        <if test="beginDate != null and beginDate != ''">
            <![CDATA[
            AND a.createTime>=str_to_date(#{beginDate},'%Y/%m/%d %H:%i:%s')
            ]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[
            AND a.createTime<=str_to_date(#{endDate},'%Y/%m/%d %H:%i:%s')
             ]]>
        </if>
    </select>

    <!--查询客户的周月记录-->
    <select id="queryCompanyCustomerWeekMonthRecordByCustomerId" parameterType="map" resultType="org.qydata.entity.WeekMonthAmount">
        SELECT years,months,weeks,totleAmount,customerId,tableId,weekMonthTypeId,name,beginTime,endTime
        FROM qyfinance.bkvwWeekMonthAmount
        WHERE customerId=#{customerId} AND weekMonthTypeId=#{weekMonthTypeId}
        <if test="years != null and years != ''">
            AND years=#{years}
        </if>
        <if test="months != null and months != ''">
            AND months=#{months}
        </if>
        <if test="weeks != null and weeks != ''">
            AND weeks=#{weeks}
        </if>
        <if test="tableIdList != null and tableIdList.size() > 0">
            AND tableId IN
            <foreach collection="tableIdList" item="tableId" index="index" open="(" close=")" separator=",">
                #{tableId}
            </foreach>
        </if>
    </select>

    <select id="getCountCompanyCustomerWeekMonthRecordByCustomerId" parameterType="map" resultType="Integer">
        SELECT sum(totleAmount)
        FROM qyfinance.bkvwWeekMonthAmount
        WHERE customerId=#{customerId} AND weekMonthTypeId=#{weekMonthTypeId}
        <if test="years != null and years != ''">
            AND years=#{years}
        </if>
        <if test="months != null and months != ''">
            AND months=#{months}
        </if>
        <if test="weeks != null and weeks != ''">
            AND weeks=#{weeks}
        </if>
        <if test="tableIdList != null and tableIdList.size() > 0">
            AND tableId IN
            <foreach collection="tableIdList" item="tableId" index="index" open="(" close=")" separator=",">
                #{tableId}
            </foreach>
        </if>
    </select>

    <!--查询客户的周月记录年级联菜单-->
    <select id="queryCompanyCustomerYearsByCustomerId" parameterType="map" resultType="int">
        SELECT DISTINCT(years)
        FROM qyfinance.bkvwWeekMonthAmount
        WHERE customerId=#{customerId} AND weekMonthTypeId=#{weekMonthTypeId}
        <if test="years != null and years != ''">
            AND years=#{years}
        </if>
        <if test="months != null and months != ''">
            AND months=#{months}
        </if>
        <if test="weeks != null and weeks != ''">
            AND weeks=#{weeks}
        </if>
        <if test="tableIdList != null and tableIdList.size() > 0">
            AND tableId IN
            <foreach collection="tableIdList" item="tableId" index="index" open="(" close=")" separator=",">
                #{tableId}
            </foreach>
        </if>
    </select>

    <!--查询客户的周月记录月级联菜单-->
    <select id="queryCompanyCustomerMonthsByCustomerId" parameterType="map" resultType="int">
        SELECT DISTINCT(months)
        FROM qyfinance.bkvwWeekMonthAmount
        WHERE customerId=#{customerId}
        <if test="weekMonthTypeId != null and weekMonthTypeId != ''">
            AND weekMonthTypeId=#{weekMonthTypeId}
        </if>
        <if test="years != null and years != ''">
            AND years=#{years}
        </if>
        <if test="tableIdList != null and tableIdList.size() > 0">
            AND tableId IN
            <foreach collection="tableIdList" item="tableId" index="index" open="(" close=")" separator=",">
                #{tableId}
            </foreach>
        </if>
    </select>

    <!--查询客户的周月记录周级联菜单-->
    <select id="queryCompanyCustomerWeeksByCustomerId" parameterType="map" resultType="int">
        SELECT DISTINCT(weeks)
        FROM qyfinance.bkvwWeekMonthAmount
        WHERE customerId=#{customerId} AND weekMonthTypeId=#{weekMonthTypeId}
        <if test="years != null and years != ''">
            AND years=#{years}
        </if>
        <if test="months != null and months != ''">
            AND months=#{months}
        </if>
        <if test="weeks != null and weeks != ''">
            AND weeks=#{weeks}
        </if>
        <if test="tableIdList != null and tableIdList.size() > 0">
            AND tableId IN
            <foreach collection="tableIdList" item="tableId" index="index" open="(" close=")" separator=",">
                #{tableId}
            </foreach>
        </if>
    </select>

    <!--月账单走势图-->
    <select id="queryMonthChargeConsumeToward" parameterType="Integer" resultType="org.qydata.entity.WeekMonthAmount">
        SELECT years,months,totleAmount
        FROM qyfinance.bkvwWeekMonthAmount
        WHERE customerId=#{param1}
        AND weekMonthTypeId=2
        AND tableId=#{param2}
        AND DATE_FORMAT(endTime,'%Y-%m')=DATE_FORMAT(date_sub(sysdate(),interval #{param3} month),'%Y-%m')
    </select>

    <!--查询客户各供应商消费情况-->
    <select id="queryCustomerConsumeByVendor" parameterType="map" resultMap="CustomerApiVendor_Map">
        SELECT aa.apiTypeId,aa.apiId,aa.totlePrice,bb.vendorName,bb.vendorId,bb.name apiName
        FROM
        (
            SELECT b.apiTypeId,b.apiId,sum(a.amount) totlePrice
            FROM qyfinance.bkvwCustomerBalanceLog a LEFT JOIN qyfinance.bkvwCustomerRequestLog b ON a.reqId=b.id
            WHERE a.customerId=#{customerId} AND b.hasCost=1 AND a.reasonId IN(-1,-2)
            GROUP BY b.apiTypeId,b.apiId
        ) aa
        LEFT JOIN qyfinance.bkvwApi bb ON aa.apiId = bb.id
        WHERE aa.apiTypeId=#{apiTypeId}
    </select>

</mapper>

