<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.CustomerDeptUserMapper">

    <!--插入数据-->
    <insert id="insertCustomerDeptUser" parameterType="CustomerDeptUser" useGeneratedKeys="true" keyProperty="id">
       insert into qyauth.CustomerDeptUser(customerId,deptId,createId,createTime)
       values(#{customerId},#{deptId},#{createId},sysdate())
    </insert>

</mapper>