<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.CustomerIpMapper">

    <resultMap type="org.qydata.entity.CustomerIp" id="customerIpMap">
        <id column="id" property="id"/>
        <result column="customerId" property="customerId"/>
        <result column="beginIp" property="beginIp"/>
        <result column="endIp" property="endIp"/>
        <result column="beginIpRaw" property="beginIpRaw"/>
        <result column="endIpRaw" property="endIpRaw"/>
    </resultMap>


    <!--插入Ip-->
    <insert id="insertCustomerIp" parameterType="org.qydata.entity.CustomerIp" useGeneratedKeys="true" keyProperty="id">
        insert into qydata.CustomerIp(customerId,beginIp,endIp,beginIpRaw,endIpRaw)
        values(#{customerId},#{beginIp},#{endIp},#{beginIpRaw},#{endIpRaw})
    </insert>


    <!--查询客户Ip-->
    <select id="findAllIpByCustomerId" parameterType="Map" resultType="org.qydata.entity.CustomerIp">
        select id,customerId,beginIp,endIp,beginIpRaw,endIpRaw
        from qydata.CustomerIp
        where customerId=#{customerId}
        limit #{beginIndex},#{lineSize}
    </select>


    <!--根据客户Id获取总数据量-->
    <select id="getAllCountByCustomerId" parameterType="Map" resultType="Integer">
        select count(id) from qydata.CustomerIp where customerId=#{customerId}
    </select>


    <!--根据Id删除Ip-->
    <delete id="deleteIpById" parameterType="Integer">
        delete from qydata.CustomerIp where id=#{param}
    </delete>


</mapper>