<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.CustomerFinanceMapper">

    <resultMap id="CustomerFinance_Map" type="org.qydata.dst.CustomerFinance">
        <result column="id" property="id"/>
        <result column="companyId" property="companyId"/>
        <result column="companyName" property="companyName"/>
        <result column="balance" property="balance"/>
        <result column="chargeWeekTotleAmount" property="chargeWeekTotleAmount"/>
        <result column="chargeMonthTotleAmount" property="chargeMonthTotleAmount"/>
        <result column="consumeWeekTotleAmount" property="consumeWeekTotleAmount"/>
        <result column="consumeMonthTotleAmount" property="consumeMonthTotleAmount"/>
        <result column="chargeTotleAmount" property="chargeTotleAmount"/>
        <result column="consumeTotleAmount" property="consumeTotleAmount"/>
    </resultMap>

    <resultMap type="CustomerBalanceLog" id="CustomerBalanceLog_Map">
        <id column="id" property="id"/>
        <result column="reasonId" property="reasonId"/>
        <result column="amount" property="amount"/>
        <result column="customerId" property="customerId"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

    <resultMap type="CustomerBalanceLog" id="CustomerBalanceLog_CustomerBalanceModifyReason_Map" extends="CustomerBalanceLog_Map">
        <association property="customerBalanceModifyReason" javaType="CustomerBalanceModifyReason">
            <result column="reasonName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="ApiType_Map" type="ApiType">
        <result column="apiTypeId" property="id"/>
        <result column="typeName" property="name"/>
    </resultMap>

    <resultMap id="ApiType_CustomerApiVendor_Map" type="ApiType" extends="ApiType_Map">
        <collection property="customerApiVendorList" ofType="org.qydata.dst.CustomerApiVendor">
            <result column="apiId" property="apiId"/>
            <result column="totlePrice" property="totlePrice"/>
            <result column="vendorName" property="vendorName"/>
            <result column="vendorId" property="vendorId"/>
        </collection>
    </resultMap>

    <resultMap id="CustomerApiVendor_Map" type="org.qydata.dst.CustomerApiVendor" >
        <result column="apiId" property="apiId"/>
        <result column="apiName" property="apiName"/>
        <result column="totlePrice" property="totlePrice"/>
        <result column="vendorName" property="vendorName"/>
        <result column="vendorId" property="vendorId"/>
        <result column="reasonId" property="reasonId"/>
        <result column="reasonName" property="reasonName"/>
    </resultMap>
    <!--查询客户的财务总览-->
    <select id="queryCompanyCustomerOverAllFinance" parameterType="map" resultMap="CustomerFinance_Map">
        SELECT kk.id,kk.companyId,kk.companyName,kk.balance,kk.chargeWeekTotleAmount,kk.chargeMonthTotleAmount,kk.consumeWeekTotleAmount,
        kk.consumeMonthTotleAmount,kk.chargeTotleAmount,ll.consumeTotleAmount
        FROM
        (SELECT ii.id,ii.companyId,ii.companyName,ii.balance,ii.chargeWeekTotleAmount,ii.chargeMonthTotleAmount,ii.consumeWeekTotleAmount,
        ii.consumeMonthTotleAmount,jj.chargeTotleAmount
        FROM
        (SELECT gg.id,gg.companyId,gg.companyName,gg.balance,gg.chargeWeekTotleAmount,gg.chargeMonthTotleAmount,gg.consumeWeekTotleAmount,
        hh.consumeMonthTotleAmount
        FROM
        (SELECT ee.id,ee.companyId,ee.companyName,ee.balance,ee.chargeWeekTotleAmount,ee.chargeMonthTotleAmount,ff.consumeWeekTotleAmount
        FROM
        (SELECT cc.id,cc.companyId,cc.companyName,cc.balance,cc.chargeWeekTotleAmount,dd.chargeMonthTotleAmount
        FROM
        (SELECT aa.id,aa.typeId,aa.typeName,aa.name,aa.authId,aa.authPass,aa.createTime,aa.status,aa.statusName,aa.companyId,aa.companyName,aa.balance,bb.chargeWeekTotleAmount
        FROM
        (SELECT a.id,a.typeId,a.typeName,a.name,a.authId,a.authPass,a.balance,a.createTime,a.status,a.statusName,a.companyId,a.companyName,
        b.deptId,b.deptName
        FROM qydata.vwCustomer a,qyauth.vwCustomerDept b
        WHERE a.id=b.customerId
        <if test="deptIdList!=null and deptIdList.size()!=0">
            and b.deptId in
            <foreach collection="deptIdList" item="deptId" index="index" open="(" close=")" separator=",">
                #{deptId}
            </foreach>
        </if>
        <if test="customerTypeIdList!=null and customerTypeIdList.size()!=0">
            and a.typeId in
            <foreach collection="customerTypeIdList" item="customerTypeId" index="index" open="(" close=")" separator=",">
                #{customerTypeId}
            </foreach>
        </if>
        <if test="content!=null and content!=''">
            and a.companyName like '%${content}%'
        </if>
        ) aa LEFT JOIN
        (SELECT customerId,totleAmount chargeWeekTotleAmount
        FROM qyfinance.vwWeekMonthAmount
        WHERE weekMonthTypeId=1 AND tableId=1 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x')
        AND weeks=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%v')
        ) bb
        ON aa.id=bb.customerId
        ) cc LEFT JOIN
        (SELECT customerId,totleAmount chargeMonthTotleAmount
        FROM qyfinance.vwWeekMonthAmount
        WHERE weekMonthTypeId=2 AND tableId=1 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%Y')
        AND months=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%m')
        ) dd
        ON cc.id=dd.customerId
        ) ee LEFT JOIN
        (SELECT customerId,totleAmount consumeWeekTotleAmount
        FROM qyfinance.vwWeekMonthAmount
        WHERE weekMonthTypeId=1 AND tableId=2 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%x')
        AND weeks=DATE_FORMAT(date_sub(sysdate(),interval 1 week),'%v')
        ) ff
        ON ee.id=ff.customerId
        ) gg LEFT JOIN
        (SELECT customerId,totleAmount consumeMonthTotleAmount
        FROM qyfinance.vwWeekMonthAmount
        WHERE weekMonthTypeId=2 AND tableId=2 AND years=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%Y')
        AND months=DATE_FORMAT(date_sub(sysdate(),interval 1 month),'%m')
        ) hh
        ON gg.id=hh.customerId
        ) ii LEFT JOIN
        (SELECT customerId,sum(amount) chargeTotleAmount
        FROM qydata.vwCustomerBalanceLog
        WHERE reasonId in (1,2,3)
        GROUP BY customerId
        ) jj
        ON ii.id=jj.customerId
        ) kk LEFT JOIN
        (SELECT customerId,sum(amount) consumeTotleAmount
        FROM qydata.vwCustomerBalanceLog
        WHERE reasonId in (-1,-2)
        GROUP BY customerId
        ) ll
        ON kk.id=ll.customerId
    </select>

    <!--查询客户的充值记录-->
    <select id="queryCompanyCustomerRechargeRecordByCustomerId" parameterType="map" resultMap="CustomerBalanceLog_CustomerBalanceModifyReason_Map">
        SELECT id,reasonId,amount,customerId,createTime,reasonName
        FROM qydata.vwCustomerBalanceLog
        WHERE customerId=#{customerId}
        <if test="reasonIdList != null and reasonIdList.size() != 0">
            AND reasonId IN
            <foreach collection="reasonIdList" item="reasonId" index="index" open="(" close=")" separator=",">
                #{reasonId}
            </foreach>
        </if>
        <if test="beginDate != null and beginDate != ''">
            <![CDATA[
            AND createTime>=str_to_date(#{beginDate},'%m/%d/%Y %H:%i:%s')
            ]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[
            AND createTime<=str_to_date(#{endDate},'%m/%d/%Y %H:%i:%s')
             ]]>
        </if>
        ORDER BY createTime DESC
    </select>

    <!--查询客户的Api消费记录-->
    <select id="queryCompanyCustomerApiConsumeRecordByCustomerId" parameterType="map" resultMap="ApiType_CustomerApiVendor_Map">
        select ee.apiTypeId,ff.name typeName,ee.apiId,ee.totlePrice,ee.vendorName,ee.vendorId
        from
        (
            select cc.apiTypeId,cc.apiId,cc.totlePrice,dd.vendorName,dd.vendorId
            from
            (
                select b.apiTypeId,b.apiId,sum(a.amount) totlePrice
                from qydata.vwCustomerBalanceLog a LEFT JOIN qydata.vwCustomerRequestLog b
                ON a.reqId=b.id
                where a.reasonId in(-1,-2) and b.hasCost=1
                and a.customerId=#{customerId}
                group by b.apiTypeId,b.apiId
            ) cc LEFT JOIN qydata.vwApi dd
            ON cc.apiId = dd.id
        ) ee LEFT JOIN qydata.vwApiType ff
        ON ee.apiTypeId=ff.id
        <where>
            <if test="apiTypeId != null and apiTypeId != ''">
                ee.apiTypeId=#{apiTypeId}
            </if>
            <if test="apiVendorId != null and apiVendorId != ''">
                AND ee.vendorId=#{apiVendorId}
            </if>
        </where>
    </select>

    <!--查询客户的Api消费明细记录-->
    <select id="queryCompanyCustomerApiDetailConsumeRecordByCustomerId" parameterType="map" resultMap="CustomerApiVendor_Map">
        select ee.apiTypeId,ff.name typeName,ee.apiId,ee.reasonId,ee.reasonName,ee.totlePrice,ee.vendorName,ee.vendorId,ee.apiName
        from
        (
            select cc.apiTypeId,cc.apiId,cc.reasonId,cc.reasonName,cc.totlePrice,dd.vendorName,dd.vendorId,dd.name apiName
            from
            (
                select aa.apiTypeId,aa.apiId,aa.reasonId,bb.name reasonName,aa.totlePrice
                from
                (
                    select b.apiTypeId,b.apiId,a.reasonId,sum(a.amount) totlePrice
                    from qydata.vwCustomerBalanceLog a LEFT JOIN qydata.vwCustomerRequestLog b
                    ON a.reqId=b.id
                    where a.reasonId in(-1,-2) and b.hasCost=1
                    and a.customerId=#{customerId}
                    group by b.apiTypeId,b.apiId,a.reasonId
                ) aa LEFT JOIN qydata.CustomerBalanceModifyReason bb
                ON aa.reasonId=bb.id
            ) cc LEFT JOIN qydata.vwApi dd
            ON cc.apiId = dd.id
        ) ee LEFT JOIN qydata.vwApiType ff
        ON ee.apiTypeId=ff.id
        WHERE ee.apiTypeId=#{apiTypeId}
        <if test="reasonIdList != null and reasonIdList.size() > 0">
            AND ee.reasonId IN
            <foreach collection="reasonIdList" item="reasonId" index="index" open="(" close=")" separator=",">
                #{reasonId}
            </foreach>
        </if>
    </select>

    <!--查询客户的周月记录-->
    <select id="queryCompanyCustomerWeekMonthRecordByCustomerId" parameterType="map" resultType="WeekMonthAmount">
        SELECT years,months,weeks,totleAmount,customerId,tableId,weekMonthTypeId,name,beginTime,endTime
        FROM qyfinance.vwWeekMonthAmount
        WHERE customerId=#{customerId}
        AND weekMonthTypeId=#{weekMonthTypeId}
        <if test="years != null and years != ''">
            AND years=#{years}
        </if>
        <if test="months != null and months != ''">
            AND months=#{months}
        </if>
        <if test="weeks != null and weeks != ''">
            AND weeks=#{weeks}
        </if>
        <if test="tableIdList != null and tableIdList.size() > 0">
            AND tableId IN
            <foreach collection="tableIdList" item="tableId" index="index" open="(" close=")" separator=",">
                #{tableId}
            </foreach>
        </if>
    </select>

    <!--查询客户的周月记录年级联菜单-->
    <select id="queryCompanyCustomerYearsByCustomerId" parameterType="map" resultType="int">
        SELECT DISTINCT(years)
        FROM qyfinance.vwWeekMonthAmount
        WHERE customerId=#{customerId} AND weekMonthTypeId=#{weekMonthTypeId}
        <if test="years != null and years != ''">
            AND years=#{years}
        </if>
        <if test="months != null and months != ''">
            AND months=#{months}
        </if>
        <if test="weeks != null and weeks != ''">
            AND weeks=#{weeks}
        </if>
        <if test="tableIdList != null and tableIdList.size() > 0">
            AND tableId IN
            <foreach collection="tableIdList" item="tableId" index="index" open="(" close=")" separator=",">
                #{tableId}
            </foreach>
        </if>
    </select>

    <!--查询客户的周月记录月级联菜单-->
    <select id="queryCompanyCustomerMonthsByCustomerId" parameterType="map" resultType="int">
        SELECT DISTINCT(months)
        FROM qyfinance.vwWeekMonthAmount
        WHERE customerId=#{customerId}
        <if test="weekMonthTypeId != null and weekMonthTypeId != ''">
            AND weekMonthTypeId=#{weekMonthTypeId}
        </if>
        <if test="years != null and years != ''">
            AND years=#{years}
        </if>
        <if test="tableIdList != null and tableIdList.size() > 0">
            AND tableId IN
            <foreach collection="tableIdList" item="tableId" index="index" open="(" close=")" separator=",">
                #{tableId}
            </foreach>
        </if>
    </select>

    <!--查询客户的周月记录周级联菜单-->
    <select id="queryCompanyCustomerWeeksByCustomerId" parameterType="map" resultType="int">
        SELECT DISTINCT(weeks)
        FROM qyfinance.vwWeekMonthAmount
        WHERE customerId=#{customerId} AND weekMonthTypeId=#{weekMonthTypeId}
        <if test="years != null and years != ''">
            AND years=#{years}
        </if>
        <if test="months != null and months != ''">
            AND months=#{months}
        </if>
        <if test="weeks != null and weeks != ''">
            AND weeks=#{weeks}
        </if>
        <if test="tableIdList != null and tableIdList.size() > 0">
            AND tableId IN
            <foreach collection="tableIdList" item="tableId" index="index" open="(" close=")" separator=",">
                #{tableId}
            </foreach>
        </if>
    </select>

    <select id="monthChargeConsumeToward" parameterType="Integer" resultType="WeekMonthAmount">
        SELECT years,months,totleAmount
        FROM qyfinance.vwWeekMonthAmount
        WHERE customerId=#{param1}
        AND weekMonthTypeId=2
        AND tableId=#{param2}
        AND DATE_FORMAT(endTime,'%Y-%m')=DATE_FORMAT(date_sub(sysdate(),interval #{param3} month),'%Y-%m')
    </select>
</mapper>

