<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.CustomerBalanceLogMapper">


    <resultMap type="CustomerBalanceModifyReason" id="customerBalanceModifyReasonMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <resultMap type="CustomerBalanceLog" id="CustomerBalanceLog_Map">
        <id column="id" property="id"/>
        <result column="reasonId" property="reasonId"/>
        <result column="amount" property="amount"/>
        <result column="customerId" property="customerId"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

    <resultMap type="CustomerBalanceLog" id="CustomerBalanceLog_CustomerBalanceModifyReason_Map" extends="CustomerBalanceLog_Map">
        <association property="customerBalanceModifyReason" javaType="CustomerBalanceModifyReason">
            <result column="name" property="name"/>
        </association>
    </resultMap>


    <select id="findAll" resultType="CustomerBalanceModifyReason">
        SELECT id,name
        FROM qydata.CustomerBalanceModifyReason
        <where>
            <if test="list != null and list.size() > 0">
                id IN
                    <foreach collection="list" item="id" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
            </if>
        </where>
    </select>

    <!--根据账户查询余额-->
    <select id="findBalanceByAuthId" parameterType="String" resultType="Long">
        select balance from qydata.Customer where authId=#{value}
    </select>

    <!--根据账户修改余额-->
    <update id="updateBalanceByAuthId" parameterType="Object">
        update qydata.Customer set balance=#{param1} where authId=#{param2}
    </update>

    <!--余额变动日志-->
    <insert id="insertCustomerBalanceLog" parameterType="CustomerBalanceLog" useGeneratedKeys="true" keyProperty="id">
      insert into qydata.CustomerBalanceLog(reasonId,customerId,amount,createTime)
      values(#{reasonId},#{customerId},#{amount},sysdate())
    </insert>

    <!--指定账号消费记录-->
    <select id="findAllCustomerBalanceLogByCustomerId" parameterType="map" resultMap="CustomerBalanceLog_CustomerBalanceModifyReason_Map">
        SELECT customerBalanceLog.id,customerBalanceLog.reasonId,customerBalanceLog.amount,customerBalanceLog.customerId,
        customerBalanceLog.createTime,customerBalanceModifyReason.name
        FROM qydata.CustomerBalanceLog customerBalanceLog,qydata.CustomerBalanceModifyReason customerBalanceModifyReason
        WHERE customerBalanceLog.reasonId=customerBalanceModifyReason.id
        AND customerBalanceLog.customerId=#{customerId}
        <if test="reasonIdList != null and reasonIdList.size() != 0">
            AND customerBalanceLog.reasonId IN
            <foreach collection="reasonIdList" item="reasonId" index="index" open="(" close=")" separator=",">
                #{reasonId}
            </foreach>
        </if>
        <if test="beginDate != null and beginDate != ''">
            <![CDATA[
            AND customerBalanceLog.createTime>=str_to_date(#{beginDate},'%m/%d/%Y %H:%i:%s')
            ]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[
            AND customerBalanceLog.createTime<=str_to_date(#{endDate},'%m/%d/%Y %H:%i:%s')
             ]]>
        </if>
        ORDER BY customerBalanceLog.createTime DESC
        limit #{beginIndex},#{lineSize}
    </select>


    <select id="getAllCountCustomerBalanceLogByCustomerId" parameterType="map" resultType="Integer">
        SELECT COUNT(id)
        FROM qydata.CustomerBalanceLog
        WHERE customerId=#{customerId}
        <if test="reasonIdList != null and reasonIdList.size() != 0">
            AND reasonId IN
            <foreach collection="reasonIdList" item="reasonId" index="index" open="(" close=")" separator=",">
                #{reasonId}
            </foreach>
        </if>
        <if test="beginDate != null and beginDate != ''">
            <![CDATA[
            AND createTime>=str_to_date(#{beginDate},'%m/%d/%Y %H:%i:%s')
            ]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[
            AND createTime<=str_to_date(#{endDate},'%m/%d/%Y %H:%i:%s')
             ]]>
        </if>
    </select>

    <select id="getAllCustomerBalanceLogAmountByCustomerId" parameterType="map" resultMap="CustomerBalanceLog_CustomerBalanceModifyReason_Map">
        SELECT customerBalanceLog.amount
        FROM qydata.CustomerBalanceLog customerBalanceLog,qydata.CustomerBalanceModifyReason customerBalanceModifyReason
        WHERE customerBalanceLog.reasonId=customerBalanceModifyReason.id
        AND customerBalanceLog.customerId=#{customerId}
        <if test="reasonIdList != null and reasonIdList.size() != 0">
            AND customerBalanceLog.reasonId IN
            <foreach collection="reasonIdList" item="reasonId" index="index" open="(" close=")" separator=",">
                #{reasonId}
            </foreach>
        </if>
        <if test="beginDate != null and beginDate != ''">
            <![CDATA[
            AND customerBalanceLog.createTime>=str_to_date(#{beginDate},'%m/%d/%Y %H:%i:%s')
            ]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[
            AND customerBalanceLog.createTime<=str_to_date(#{endDate},'%m/%d/%Y %H:%i:%s')
             ]]>
        </if>
    </select>

</mapper>