<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.RoleMapper">

    <!--查询所有的角色-->
    <select id="findAllRole" resultType="org.qydata.entity.Role">
        select id,name,flag from qyauth.Role where id not in(3)
    </select>
    <!--根据用户名匹配所有角色-->
    <select id="findAllRoleByUsername" resultType="org.qydata.entity.UserRole">
        select roleId,username from qyauth.UserRole where username=#{username}
    </select>

    <!--分配角色-->
    <insert id="addRoleUser" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        insert into qyauth.UserRole(username,roleId,createTime)
        values
        <foreach collection="roleId" index="index" item="item" separator=",">
            ( #{username},#{item},sysdate() )
        </foreach>
    </insert>
    <!--根据用户Id删除用户和角色映射-->
    <delete id="deleteUserRoleByUserId" parameterType="String">
        delete from qyauth.UserRole where username=#{param}
    </delete>
    <!--给super默认添加角色-->
    <insert id="addRoleSuperUser" parameterType="String" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO qyauth.UserRole(roleId,username,createTime)
      VALUES (3,#{param},sysdate())
    </insert>
</mapper>