<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.TestMapper">

    <resultMap type="org.qydata.entity.User" id="userMap">
        <id column="id" property="id"/>
        <result column="email" property="email"/>
        <result column="status" property="status"/>
        <result column="typeId" property="typeId"/>
    </resultMap>

    <resultMap type="HashMap" id="testMap">
        <id column="UA_INFO" property="id"/>
        <association property="value" resultMap="org.qydata.entity.User">
            <result column="email" property="email"/>
            <result column="status" property="status"/>
            <result column="typeId" property="typeId"/>
        </association>
    </resultMap>



    <!--查找全部用户-->
    <select id="queryUserTest" parameterType="Map" resultMap="userMap">
        select id,email,status,typeId
        from qyfinance.bkvw_user_UserDept
       <where>
           <if test="userId != null and userId != ''">
             id=#{userId}
           </if>
       </where>
        limit #{pageSize},#{lineSize}
    </select>

    <!--统计数据量-->
    <select id="getAllUserCount" parameterType="Map" resultType="Integer">
        select count(id)
        from qyfinance.bkvw_user_UserDept
        <where>
            <if test="userId != null and userId != ''">
                id=#{userId}
            </if>
        </where>
    </select>

    <select id="testMap" resultType="Map">
        SELECT id,email,status,typeId
        FROM qyauth.User
    </select>


</mapper>

