<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.ValidMapper">


    <select id="queryAidByUrl" parameterType="map" resultType="org.qydata.dst.api.Aid">
        SELECT DISTINCT a.apiId aid,CONCAT_WS('--',a.apiTypeName,a.mobileOperatorName,a.vendorName,a.apiName,a.apiId) name
        FROM qyfinance.bkvw_api_ApiTypeVendorPartner a
        <where>
            <if test="typeList!=null and typeList.size()!=0">
                and a.apiTypeId in
                <foreach collection="typeList" item="typeId" index="index" open="(" close=")" separator=",">
                    #{typeId}
                </foreach>
            </if>
        </where>
    </select>


</mapper>

