<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.VendorMapper">

    <resultMap id="vendorMap" type="org.qydata.entity.VendorExt">
        <result column="vendorId" property="vendorId"/>
        <result column="vendorName" property="vendorName"/>
        <result column="partnerId" property="partnerId"/>
        <result column="partnerName" property="partnerName"/>
        <result column="isPrepay" property="isPrepay"/>
        <result column="isBalWarn" property="isBalWarn"/>
        <result column="balance" property="balance"/>
        <result column="totleCost" property="totleCost"/>
        <result column="currDayCost" property="currDayCost"/>
    </resultMap>

    <resultMap id="vendorChargeMap" type="org.qydata.entity.ApiVendorBalanceLog">
        <result column="id" property="id"/>
        <result column="vendorId" property="vendorId"/>
        <result column="vendorName" property="vendorName"/>
        <result column="amount" property="amount"/>
        <result column="remark" property="remark"/>
        <result column="createTime" property="createTime"/>
        <result column="reasonId" property="reasonId"/>
        <result column="reasonName" property="reasonName"/>
    </resultMap>

    <!--查询全部供应商-->
    <select id="queryAllVendor" parameterType="map" resultMap="vendorMap">
        SELECT a.id vendorId,a.name vendorName,b.id partnerId,b.name partnerName,
        c.isPrepay,c.isBalWarn,d.balance
        FROM qyfinance.finance_ApiVendor a
        LEFT JOIN qyfinance.bkvwPartner b ON a.partnerId = b.id
        LEFT JOIN qyfinance.ApiVendorExt c ON a.id = c.vendorId
        LEFT JOIN qyfinance.ApiVendorBalance d ON a.id = d.vendorId
        <where>
            <if test="vidList != null and vidList.size > 0">
                a.id IN
                <foreach collection="vidList" item="vid" index="index" open="(" close=")" separator=",">
                    #{vid}
                </foreach>
            </if>
            <if test="pidList != null and pidList.size > 0">
              AND a.partnerId IN
                <foreach collection="pidList" item="pid" index="index" open="(" close=")" separator=",">
                    #{pid}
                </foreach>
            </if>
            <if test="preIdList != null and preIdList.size > 0">
              AND c.isPrepay IN
                <foreach collection="preIdList" item="preId" index="index" open="(" close=")" separator=",">
                    #{preId}
                </foreach>
            </if>
            <if test="nullPid != null and nullPid != ''">
              OR a.partnerId IS NULL
            </if>
        </where>
    </select>

    <!--查询供应商消费金额（至昨天）-->
    <select id="queryVendorConsume" parameterType="map" resultMap="vendorMap">
        SELECT b.vendorId,sum(a.totleCost) totleCost
        FROM
        (
            SELECT apiId,sum(totleCost) totleCost
            FROM qyfinance.bkvwApiCostDayCount
            GROUP BY apiId
        ) a
        LEFT JOIN qyfinance.bkvwApi b ON a.apiId = b.id
        GROUP BY b.vendorId
    </select>

    <!--查询供应商消费金额（今天）-->
    <select id="queryVendorConsumeCurrDay" parameterType="map" resultMap="vendorMap">
        SELECT b.vendorId,sum(a.currDayCost) currDayCost
        FROM
        (
            SELECT a.apiId,sum(b.cost) currDayCost
            FROM qyfinance.finance_ApiRequestLog a
            LEFT JOIN qyfinance.finance_ApiResponseLog b ON a.id = b.requestLogId
            WHERE b.ok = 1
            AND b.cost > 0
            AND b.isMock = 0
            AND b.createTime >= #{currDayTime}
            GROUP BY a.apiId
        ) a
        LEFT JOIN qyfinance.bkvwApi b ON a.apiId = b.id
        GROUP BY b.vendorId
    </select>

    <!--查询合作公司-->
    <select id="queryAllPartner" resultType="org.qydata.entity.Partner">
        SELECT id,name
        FROM qyfinance.bkvwPartner
    </select>

    <!--查询充值记录-->
    <select id="queryVendorBalanceLog" parameterType="map" resultMap="vendorChargeMap">
        SELECT a.id,a.vendorId,a.amount,a.reasonId,a.remark,a.createTime,b.name vendorName,c.name reasonName
        FROM qyfinance.ApiVendorBalanceLog a
        LEFT JOIN qyfinance.finance_ApiVendor b ON a.vendorId = b.id
        LEFT JOIN qyfinance.ApiVendorBalanceReason c ON a.reasonId = c.id
        WHERE a.vendorId = #{vid}
    </select>

    <!--修改供应商预付状态-->
    <update id="updateVendorPrepay" parameterType="int" >
        UPDATE qyfinance.ApiVendorExt SET isPrepay = #{param2}
        WHERE vendorId = #{param1}
    </update>

    <!--修改供应商预付状态-->
    <select id="queryVendorPrepay" parameterType="int" resultType="org.qydata.entity.VendorExt">
        SELECT id,vendorId,isPrepay
        FROM qyfinance.ApiVendorExt
        WHERE vendorId = #{vid}
    </select>

    <!--修改供应商预付状态-->
    <insert id="insertVendorPrepay" parameterType="org.qydata.entity.VendorExt">
       INSERT INTO qyfinance.ApiVendorExt(vendorId,isPrepay)
       VALUES(#{vendorId},#{isPrepay})
    </insert>

    <!--充值或扣费之前查询是否有余额记录，如果有直接修改，反之插入-->
    <select id="queryVendorBalance" parameterType="int" resultType="org.qydata.entity.ApiVendorBalance">
         SELECT vendorId,balance FROM qyfinance.ApiVendorBalance WHERE vendorId=#{param}
    </select>

    <!--插入余额记录-->
    <insert id="insertVendorBalance" parameterType="org.qydata.entity.ApiVendorBalance" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qyfinance.ApiVendorBalance(vendorId,balance,createTime)
        VALUES(#{vendorId},#{balance},sysdate())
    </insert>

    <!--修改余额记录-->
    <update id="updateVendorBalance" parameterType="org.qydata.entity.ApiVendorBalance">
        UPDATE qyfinance.ApiVendorBalance
        SET balance = balance + #{balance}
        WHERE vendorId=#{vendorId}
    </update>

    <!--插入余额日志-->
    <insert id="insertVendorBalanceLog" parameterType="org.qydata.entity.ApiVendorBalanceLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qyfinance.ApiVendorBalanceLog(vendorId,amount,reasonId,remark,createTime)
        VALUES(#{vendorId},#{amount},#{reasonId},#{remark},#{createTime})
    </insert>

</mapper>

